In [1]:
prg_name = ""
path_code = "C:\\Users\\syue003\\wip_RecSys\\"
c_import  = path_code + "c_import.py"
c_setup_dbs_con = path_code + "c_setup_dbs_con.py"
c_timedte = path_code + "c_time_dte.py" 

exec(compile(open(c_import, 'rb').read(), c_import,  'exec'))
exec(compile(open(c_setup_dbs_con, 'rb').read(),c_setup_dbs_con, 'exec'))
exec(compile(open(c_timedte, 'rb').read(),c_timedte, 'exec'))
session, td_enginex = cf_setup_dbs_con(userName = 'syue003', passWord = 'newpassword')

t_engine teradata://syue003:newpassword@tqdpr02/temp_tables

In [2]:

#Load the transactional data into a Pandas dataframe  
query = """
   sel hh_sk,   frequency,  recency, monetary_value, t  from  temp_tables.chn_txn_0419_1019_sumy_1  
   """
df_txn_1 = pd.read_sql(query,session)
df_txn_1.to_csv('C:\SYUE\RecSys\data\chn_txn_0419_1019_sumy_1.csv', index=False)

In [3]:
df_txn_1 = df_txn_1.rename(columns = lambda x: x.lower()) 
df_txn_x = df_txn_1.copy() # Back up

In [3]:

#Load the transactional data into a Pandas dataframe  
query_2 = """
   sel hh_sk,   frequency,  recency, monetary_value, t  from  temp_tables.chn_txn_0419_1019_sumy_2  
   """
df_txn_2 = pd.read_sql(query_2,session)
df_txn_2.to_csv('C:\SYUE\RecSys\data\chn_txn_0419_1019_sumy_2.csv', index=False)

In [4]:

#Load the transactional data into a Pandas dataframe  
query_3 = """
   sel hh_sk,   frequency,  recency, monetary_value, t  from  temp_tables.chn_txn_0419_1019_sumy_3  
   """
df_txn_3 = pd.read_sql(query_3,session)
df_txn_3.to_csv('C:\SYUE\RecSys\data\chn_txn_0419_1019_sumy_3.csv', index=False)

In [5]:
#Load the transactional data into a Pandas dataframe  
query_4 = """
   sel hh_sk,   frequency,  recency, monetary_value, t  from  temp_tables.chn_txn_0419_1019_sumy_4  
   """
df_txn_4 = pd.read_sql(query_4,session)
df_txn_4.to_csv('C:\SYUE\RecSys\data\chn_txn_0419_1019_sumy_4.csv', index=False)

In [9]:
path = "C:\SYUE\RecSys\data\"
file_1 = path + 'chn_txn_0419_1019_sumy_1.csv'
file_2 = path + 'chn_txn_0419_1019_sumy_2.csv'
all_filenames = [file_1, file_2]
combined_csv = pd.concat([pd.read_csv(f) for f in all_filenames ])

SyntaxError: EOL while scanning string literal (<ipython-input-9-18ac3f5da576>, line 1)

In [17]:
path = "C:\\SYUE\\RecSys\\data\\"
file_1 = path + 'chn_txn_0419_1019_sumy_1.csv'
file_2 = path + 'chn_txn_0419_1019_sumy_2.csv'
file_3 = path + 'chn_txn_0419_1019_sumy_3.csv'
file_4 = path + 'chn_txn_0419_1019_sumy_4.csv'
all_filenames = [file_1, file_2, file_3, file_4]
combined_csv = pd.concat([pd.read_csv(f) for f in all_filenames ])

In [18]:
combined_csv.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 25211251 entries, 0 to 6302812
Data columns (total 5 columns):
HH_SK             float64
frequency         float64
recency           float64
monetary_value    float64
T                 float64
dtypes: float64(5)
memory usage: 1.1 GB

In [19]:
combined_csv.to_csv('C:\SYUE\RecSys\data\chn_txn_0419_1019_sumy_comb.csv', index=False)