# Select k nearest store
## Module name: sel_nbrK_store

In [1]:
## Extract store address
"""
 Step0: Initialization 
  - Import packages/libraries from the file c_import.py
  - Setup database connection 
"""
prg_name = ""
path_code = "C:\\Users\\syue003\\wip_RecSys\\"
c_import  = path_code + "c_import.py"
c_setup_dbs_con = path_code + "c_setup_dbs_con.py"
c_timedte = path_code + "c_time_dte.py" 

exec(compile(open(c_import, 'rb').read(), c_import,  'exec'))
exec(compile(open(c_setup_dbs_con, 'rb').read(),c_setup_dbs_con, 'exec'))
exec(compile(open(c_timedte, 'rb').read(),c_timedte, 'exec'))
session, td_enginex = cf_setup_dbs_con(userName = 'syue003', passWord = 'Chungli#1')

t_engine teradata://syue003:Chungli#1@tqdpr02/temp_tables

In [4]:

"""
 Define table name  
"""

#Load the transactional data into a Pandas dataframe  
query = """
    select fac_nbr,   
           ( trim(addr_line1_txt) || ' ' ||  trim( city_nm) || ' ' ||  trim( state_id) || ' '  || trim( zip5_id) ) 
           as address  
    from   dw_bi_vw.dim_2_fac   
    where  fac_nbr > 0
    group  by fac_nbr, address order by  fac_nbr
    """
df_str_address = pd.read_sql(query,session)

t_engine teradata://syue003:Chungli#1@tqdpr02/temp_tables

In [2]:
df_str_address.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3450 entries, 0 to 3449
Data columns (total 2 columns):
FAC_NBR    3450 non-null object
address    3450 non-null object
dtypes: object(2)
memory usage: 54.0+ KB

In [5]:

df_str_address ['FAC_NBR']= df_str_address ['FAC_NBR'].astype(np.int64)

In [6]:
df_str_address.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3449 entries, 0 to 3448
Data columns (total 2 columns):
FAC_NBR    3449 non-null int64
address    3449 non-null object
dtypes: int64(1), object(1)
memory usage: 54.0+ KB

In [7]:
df_str_address.dtypes

FAC_NBR     int64
address    object
dtype: object

In [10]:
"""
 Create store internal id
 
"""      
unq_fac_nbr = set(df_str_address.FAC_NBR.values)

facnbr_idx = {}
count = 0
for FAC_NBR in unq_fac_nbr:
    facnbr_idx[FAC_NBR] = count
    count += 1

# add them to the data frame
# takes awhile
df_str_address['facnbr_idx'] = df_str_address.apply(lambda row: facnbr_idx[row.FAC_NBR], axis=1)

In [13]:
df_str_address.head(5)

   FAC_NBR                                        address  facnbr_idx
0        1            1340 PATRIOT BLVD GLENVIEW IL 60026           0
1        2  201 SOUTH STEPHANIE STREET Henderson NV 89012           1
2        3      14800 S E SUNNYSIDE RD Clackamas OR 97015           2
3        4    3130 WEST CAREFREE HIGHWAY Phoenix AZ 85086           3
4        5              11120 S. LAKE DR. RESTON VA 20191           4

In [23]:
"""
 Define RateLimiter object : geopy.extra.rate_limiter.RateLimiter
"""
locator = Nominatim(user_agent="myGeocoder")
geocode = RateLimiter(locator.geocode, min_delay_seconds=0.0)

In [20]:
df = df_str_address

In [35]:
df_bkup = df.copy()

In [37]:
del df['location']

In [38]:
del df['point']

In [40]:
"""
 Add a column "location" by applying "geocode" to df column "address" to get location
  - geocode will return geopy.Location.Location 
"""

start_time = time.time()
df['location'] = df['address'].apply(geocode)
fnc_name = "Apply Geocode"
end_time = time.time()
cf_elapse_time (  start_time, end_time, "Function {0} completed.".format(fnc_name))

NameError: name 'fnc_name' is not defined

In [41]:
fnc_name = "geo"
cf_elapse_time (  start_time, end_time, "Function {0} completed.".format(fnc_name))

 Function geo completed. It took 27991.619014 seconds - 7hh:46mm:31ss.
 start time: Oct 02 2019 09:40:36  end time:  Oct 02 2019 17:27:07

In [45]:
"""
 Create column 'point' by applying point function to "location" 
 - point will return 'latitude', 'longitude', 'altitude'
   - will not extract  'altitude'
   - Define value of point as None if the value of location is None  
"""
start_time = time.time()
df['point'] = df['location'].apply(lambda loc: tuple(loc.point)[0:2] if loc else None)
end_time = time.time()
cf_elapse_time (  start_time, end_time, "Function {0} completed.".format("point"))

 Function point completed. It took 0.009000 seconds - 0hh:0mm:0ss.
 start time: Oct 02 2019 21:35:39  end time:  Oct 02 2019 21:35:39

In [2]:
#Cal matrix of dis
df = pd.read_excel('C:\SYUE\RecSys\df_str_addr_point.xlsx')

In [7]:

"""
 create a list to include all the points information
"""
ary_dis = []
l_point = df.point.to_list() 
l_null = [None for i in range(len(df))]
"""
 Get address from dataframe and calculate the distance between two stores
"""
for index, row in df.iterrows(): 
    loc1 = list(row)[4]  # Address
    if loc1  == None:
       ary_dis.append(l_null)  
    else:
      l_loc1_dist = [round(geodesic(loc1, loc2).mi, 4) if loc2 else none for loc2  in l_point ]
      ary_dis.append(l_loc1_dist)

ValueError: Failed to create Point instance from string: unknown format.

In [26]:
df.head(400)

,FAC_NBR,address,facnbr_idx,location,point
0,1,1340 PATRIOT BLVD GLENVIEW IL 60026,0,None,None
1,2,201 SOUTH STEPHANIE STREET Henderson NV 89012,1,None,None
2,3,14800 S E SUNNYSIDE RD Clackamas OR 97015,2,None,None
3,4,3130 WEST CAREFREE HIGHWAY Phoenix AZ 85086,3,None,None
4,5,11120 S. LAKE DR. RESTON VA 20191,4,None,None
5,6,200 S. 23RD BOZEMAN MT 59718,5,None,None
6,7,1301 HARRISON AVENUE BUTTE MT 59701,6,None,None
7,8,7375 ARAPAHOE ROAD CENTENNIAL CO 80112,7,None,None
8,9,6999 JACKRABBIT LANE BELGRADE MT 59714,8,None,None
9,10,3851 SOUTH HIGHWAY 74 EVERGREEN CO 80439,9,None,None
10,11,10853 U.S.HIGHWAY 285 CONIFER CO 80433,10,None,None
11,12,6009 N. BROADWAY AVE. CHICAGO IL 60660,11,None,None
12,13,2550 SOUTH FORT APACHE ROAD Las Vegas NV 89117,12,None,None
13,14,575 COLLEGE DRIVE Henderson NV 89015,13,None,None
14,15,415 BLAINE WOLF POINT MT 59201,14,None,None
15,17,201 EAST JEFFERSON ENGLEWOOD CO 80113,15,None,None
16,18,900 W IDAHO KALISPELL MT 59901,16,None,None
17,19,117 W JANEAUX ST LEWISTOWN MT 59457,17,None,None
18,20,2205 OXFORD ST MISSOULA MT 59801,18,None,None
19,21,1440 IRVING PARK RD. HANOVER PARK IL 60103,19,None,None
20,22,4701 S. WASHINGTON AMARILLO TX 79110,20,None,None
21,23,861 EAST WARNER ROAD Gilbert AZ 85296,21,None,None
22,24,1003 E BROADWAY ST. MISSOULA MT 59802,22,None,None
23,25,21001 NORTH TATUM BLVD SUITE Phoenix AZ 85050,23,None,None
24,27,5025 SOUTH KIPLING LITTLETON CO 80127,24,None,None
25,28,20 E 26TH ST WILLISTON ND 58801,25,None,None
26,29,4950 EAST HAMPDEN AVENUE DENVER CO 80222,26,None,None
27,30,,27,None,None
28,33,501 W MAIN CUT BANK MT 59427,28,None,None
29,34,1601 TENNESSEE DALHART TX 79022,29,None,None
...,...,...,...,...,...
370,426,795 PROVIDENCE HIGHWAY Dedham MA 02026,368,"(Providence Highway, East Dedham, Dedham, Norf...","(42.2435706, -71.1744865)"
371,428,"95 Washington St, Cobbs Corner Canton MA 02021",369,None,None
372,429,3380 LANCASTER DRIVE N.E. SALEM OR 97305,370,None,None
373,430,1455 NE DIVISION STREET GRESHAM OR 97030,371,"(Safeway, 1455, Northeast Division Street, Twe...","(45.50586685, -122.416980961165)"
374,431,390 West Street Mansfield MA 02048,372,"(390, West Street, Mansfield, Bristol County, ...","(42.026427, -71.235196)"
375,432,,373,None,None
376,433,1375 CY AVENUE CASPER WY 82604,374,"(Ridleys, 1375, CY Avenue, Casper, Natrona Cou...","(42.83217915, -106.339948858344)"
377,434,120 S W 148TH BURIEN WA 98166,375,None,None
378,435,9250 RAINIER AVE S SEATTLE WA 98118,376,"(9250, Rainier Avenue South, Rainier Beach, Ra...","(47.5203125, -122.2681274)"
379,437,516 SOUTH GREELEY HIGHWAY CHEYENNE WY 82007,377,None,None
380,438,2512 PIONEER CHEYENNE WY 82001,378,None,None
381,440,35 Columbia Road Hanover MA 02339,379,"(35, Columbia Road, Hanover, Plymouth County, ...","(42.1172564, -70.8237203439032)"
382,441,320 Warwick Ave Warwick RI 02886,380,"(320, Warwick Avenue, Warwick, Kent County, Rh...","(41.766851, -71.405035)"
383,442,15332 AURORA AVE N SHORELINE WA 98133,381,"(Safeway, 15332, Aurora Avenue North, Shorelin...","(47.7408454, -122.343637024372)"
384,443,4128 RUCKER AVE EVERETT WA 98201,382,"(Safeway 1484, 4128, Rucker Avenue, Lowell, Ev...","(47.96243945, -122.212345687948)"
385,444,990 HIGHWAY 395 SOUTH HERMISTON OR 97838,383,None,None
386,445,18565 S.W. TUALATIN HIGHWAY ALOHA OR 97006,384,None,None
387,446,,385,None,None
388,448,,386,None,None
389,450,2755 77th Ave SE Mercer Island WA 98040,387,"(2755, 77th Avenue Southeast, Mercer Island, K...","(47.5860266921948, -122.235158830319)"
390,452,485 MAIN STREET LANDER WY 82520,388,"(ACE Hardware, 485, Main Street, Lander, Fremo...","(42.83311255, -108.73496575)"
391,453,4621 NE SUNSET BLVD RENTON WA 98056,389,"(Albertsons, 4621, Northeast Sunset Boulevard,...","(47.50369835, -122.15733416659)"
392,454,3045 SOUTH 6TH STREET KLAMATH FALLS OR 97603,390,"(South 6th Street, Altamont, Klamath County, O...","(42.2125914, -121.7596275)"
393,458,16304 BOTHELL EVERETT HWY MILL CREEK WA 98012,391,"(Safeway, 16304, Bothell-Everett Highway, Mill...","(47.8508801, -122.22010051249)"
394,459,20830 108TH S E KENT WA 98031,392,None,None
395,460,11720 W. Charleston Blvd. Las Vegas NV 89135,393,"(West Charleston Boulevard, The Canyons, Las V...","(36.1591055, -115.3364578)"
396,461,709 NORTH FEDERAL BOULEVARD RIVERTON WY 82501,394,"(709, North Federal Boulevard, Riverton, Fremo...","(43.0306343506236, -108.380486381016)"
397,462,205 NORTH 5TH AVE YAKIMA WA 98902,395,"(Safeway, 205, North 5th Avenue, Yakima, Yakim...","(46.603208, -120.516023246759)"
398,464,17246 REMOND WAY_N E REDMOND WA 98052,396,None,None
399,465,570 MUNRAS AVE MONTEREY CA 93940,397,"(570, Munras Avenue, Monterey, Monterey County...","(36.5967316842105, -121.894088052632)"

In [ ]:
for siid in range(len(df)):  
    distRow = ary_dist [siid]       
         store_dist = []        
         for innerID, dist in enumerate(distRow):
             if (innerID != siid & dist != None):
                 store_dist.append( (innerID, dist) )  

kNeighbors = heapq.nsmallest(K, store_dist, key=lambda strDist: strDist[1])

In [17]:
row = addr
fac_nbr_addr = list(row)
FAC_NBR = fac_nbr_addr[0]
addrx = fac_nbr_addr[1] 
print(FAC_NBR, addrx)

0006 200 S. 23RD BOZEMAN MT 59718

addr

In [22]:
df.head()

   FAC_NBR                                        address  facnbr_idx
0        1            1340 PATRIOT BLVD GLENVIEW IL 60026           0
1        2  201 SOUTH STEPHANIE STREET Henderson NV 89012           1
2        3      14800 S E SUNNYSIDE RD Clackamas OR 97015           2
3        4    3130 WEST CAREFREE HIGHWAY Phoenix AZ 85086           3
4        5              11120 S. LAKE DR. RESTON VA 20191           4

In [26]:
addr = '14800 S E SUNNYSIDE RD Clackamas OR 97015'
loc_y = geo.geocode(addr)
(loc_y.latitude, loc_y.longitude)

AttributeError: 'NoneType' object has no attribute 'latitude'

In [29]:
addr_y = [addr]
loc_y = geo.geocode(addr_y)
(loc_y.latitude, loc_y.longitude)

AttributeError: 'NoneType' object has no attribute 'latitude'

In [20]:
"""
 type(row) : pandas.core.series.Series with the value of FAC_NBR and address
 type(index): int (Index of the DF)
"""

i = 0
ary_addr_loc=[]
none = None
geo = Nominatim(user_agent="my-application")
for index, row in df_str_address.iterrows():  

    fac_nbr_addr = list(row)
    FAC_NBR = fac_nbr_addr[0]
    addr = fac_nbr_addr[1] 
    print("FAC_NBR {0}".format(FAC_NBR))
    print("addr {0}".format(addr))
    try:     
      geo_loc = geo.geocode(addr)
      loc = geo_loc.address       
      ary_addr_loc.append([FAC_NBR, addr,(loc.latitude, loc.longitude)])
    except AttributeError:
       print("loc:".format(loc))
       print("Not able to locate the address: {0}".format(addr))
       ary_addr_loc.append([FAC_NBR, addr,(none, none)])
    ary_addr_loc[i]
    i += 1
    if i > 3:
       break

FAC_NBR -1
addr N/A N/A -1 N/A
loc:
Not able to locate the address: N/A N/A -1 N/A
FAC_NBR 0001
addr 1340 PATRIOT BLVD GLENVIEW IL 60026
loc:
Not able to locate the address: 1340 PATRIOT BLVD GLENVIEW IL 60026
FAC_NBR 0002
addr 201 SOUTH STEPHANIE STREET Henderson NV 89012
loc:
Not able to locate the address: 201 SOUTH STEPHANIE STREET Henderson NV 89012
FAC_NBR 0003
addr 14800 S E SUNNYSIDE RD Clackamas OR 97015
loc:
Not able to locate the address: 14800 S E SUNNYSIDE RD Clackamas OR 97015

In [10]:
ary_addr_loc

[[0, FAC_NBR              -1
  address    N/A N/A -1 N/A
  Name: 0, dtype: object, (None, None)],
 [1, FAC_NBR                                   0001
  address    1340 PATRIOT BLVD GLENVIEW IL 60026
  Name: 1, dtype: object, (None, None)],
 [2, FAC_NBR                                             0002
  address    201 SOUTH STEPHANIE STREET Henderson NV 89012
  Name: 2, dtype: object, (None, None)],
 [3, FAC_NBR                                         0003
  address    14800 S E SUNNYSIDE RD Clackamas OR 97015
  Name: 3, dtype: object, (None, None)],
 [4, FAC_NBR                                           0004
  address    3130 WEST CAREFREE HIGHWAY Phoenix AZ 85086
  Name: 4, dtype: object, (None, None)],
 [5, FAC_NBR                                 0005
  address    11120 S. LAKE DR. RESTON VA 20191
  Name: 5, dtype: object, (None, None)],
 [6, FAC_NBR                            0006
  address    200 S. 23RD BOZEMAN MT 59718
  Name: 6, dtype: object, (None, None)],
 [7, FAC_NBR                                   0007
  address    1301 HARRISON AVENUE BUTTE MT 59701
  Name: 7, dtype: object, (None, None)],
 [8, FAC_NBR                                      0008
  address    7375 ARAPAHOE ROAD CENTENNIAL CO 80112
  Name: 8, dtype: object, (None, None)],
 [9, FAC_NBR                                      0009
  address    6999 JACKRABBIT LANE BELGRADE MT 59714
  Name: 9, dtype: object, (None, None)],
 [10, FAC_NBR                                        0010
  address    3851 SOUTH HIGHWAY 74 EVERGREEN CO 80439
  Name: 10, dtype: object, (None, None)]]

In [34]:
df_str_address.shape

(3450, 2)

In [152]:
#  not exclude missing address
df_x = df_str_address[0:10]
df_x['location'] = df_x['address'].apply(geocode)
df_x['point'] = df_x['location'].apply(lambda loc: tuple(loc.point)[0:2] if loc else None)
#df = df[pd.notnull(df["location"])]
lx_point = df_x.point.to_list()

C:\ProgramData\Anaconda3\lib\site-packages\ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  This is separate from the ipykernel package so we can avoid doing imports until
C:\ProgramData\Anaconda3\lib\site-packages\ipykernel_launcher.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  after removing the cwd from sys.path.

In [92]:
lx_point

[None,
 (42.07856325, -87.8194154543438),
 (36.0324434, -115.0471777),
 None,
 (33.7984748371083, -112.127522406678),
 None,
 None,
 (46.000883, -112.519532),
 (39.5762384, -104.914441523727),
 (45.7727214646465, -111.185115020202)]

In [93]:
"""
 lx_point] has missing values
"""
loc1 = (42.07856325, -87.8194154543438)
loc2_list = [geodesic(loc1, loc2).mi  for loc2  in lx_point]

In [97]:
loc1 = (42.07856325, -87.8194154543438)
loc3_list = [geodesic(loc1, loc2).mi if loc2 else none for loc2  in lx_point]

In [98]:
loc3_list

[None,
 0.0,
 1515.3968567469353,
 None,
 1438.8518397934995,
 None,
 None,
 1254.2021443020346,
 910.897871637876,
 1188.94154136424]

In [105]:
kNeighbors = heapq.nsmallest(3, loc3_list)

TypeError: '<' not supported between instances of 'float' and 'NoneType'

In [104]:
kNeighbors

[0.0, 910.897871637876, 1188.94154136424]

In [94]:
loc2_list

[6108.584659962797,
 0.0,
 1515.3968567469353,
 6108.584659962797,
 1438.8518397934995,
 6108.584659962797,
 6108.584659962797,
 1254.2021443020346,
 910.897871637876,
 1188.94154136424]

In [ ]:
loc1 = (42.07856325, -87.8194154543438)
loc1_list = [geodesic(loc1, loc2).mi  for loc2  in l_point]

In [30]:
# Start
df_x = df_str_address[0:10]
df_x.shape

(10, 5)

In [17]:
"""
 Define RateLimiter object : geopy.extra.rate_limiter.RateLimiter
"""
geo = RateLimiter(locator.geocode, min_delay_seconds=0.5)

NameError: name 'locator' is not defined

In [31]:
"""
 Add a column "locxation" by appling "geocode" to column "address" to get location
  - geocode will return geopy.Location.Location 
"""
df_x['location'] = df_x['address'].apply(geocode)

C:\ProgramData\Anaconda3\lib\site-packages\ipykernel_launcher.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """

In [74]:
type(df['address'].apply(geocode)) # pandas.core.series.Series

pandas.core.series.Series

In [32]:
df_x.head()

,FAC_NBR,address,facnbr_idx,location,point
0,1,1340 PATRIOT BLVD GLENVIEW IL 60026,0,"(Jewel-Osco, 1340, Patriot Boulevard, Glenview...",None
1,2,201 SOUTH STEPHANIE STREET Henderson NV 89012,1,"(South Stephanie Street, Macdonald Ranch, Hend...",None
2,3,14800 S E SUNNYSIDE RD Clackamas OR 97015,2,None,None
3,4,3130 WEST CAREFREE HIGHWAY Phoenix AZ 85086,3,"(3130, West Carefree Highway, North Gateway, P...",None
4,5,11120 S. LAKE DR. RESTON VA 20191,4,None,None

In [80]:
"""
 Create column 'point' by appling point function to "location" 
"""
df['point'] = df['location'].apply(lambda loc: tuple(loc.point)[0:2] if loc else None)

C:\ProgramData\Anaconda3\lib\site-packages\ipykernel_launcher.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  after removing the cwd from sys.path.

In [81]:
df.head()

,FAC_NBR,address,location,point
0,-1,N/A N/A -1 N/A,None,None
1,0001,1340 PATRIOT BLVD GLENVIEW IL 60026,"(Jewel-Osco, 1340, Patriot Boulevard, Glenview...","(42.07856325, -87.8194154543438)"
2,0002,201 SOUTH STEPHANIE STREET Henderson NV 89012,"(South Stephanie Street, Macdonald Ranch, Hend...","(36.0324434, -115.0471777)"
3,0003,14800 S E SUNNYSIDE RD Clackamas OR 97015,None,None
4,0004,3130 WEST CAREFREE HIGHWAY Phoenix AZ 85086,"(3130, West Carefree Highway, North Gateway, P...","(33.7984748371083, -112.127522406678)"

In [83]:
"""
 Drop rows with location is null
"""
df = df[pd.notnull(df["location"])]

In [84]:
l_point

[(42.07856325, -87.8194154543438),
 (36.0324434, -115.0471777),
 (33.7984748371083, -112.127522406678),
 (46.000883, -112.519532),
 (39.5762384, -104.914441523727),
 (45.7727214646465, -111.185115020202)]

In [89]:
loc1 = (42.07856325, -87.8194154543438)
loc1_list = [geodesic(loc1, loc2).mi  for loc2  in l_point]

In [ ]:
for index, row in

In [86]:
from geopy.distance import geodesic

In [54]:
 df = df_str_address[0:10]
locator = Nominatim(user_agent="myGeocoder")
location = locator.geocode("17415")
#from geopy.extra.rate_limiter import RateLimiter

geocode = RateLimiter(locator.geocode, min_delay_seconds=1)
df['location'] = df['address'].apply(geocode)
df['point'] = df['location'].apply(lambda loc: tuple(loc.point)[0:3] if loc else None)

C:\ProgramData\Anaconda3\lib\site-packages\ipykernel_launcher.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  import sys
C:\ProgramData\Anaconda3\lib\site-packages\ipykernel_launcher.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

In [90]:
loc1_list

[0.0,
 1515.3968567469353,
 1438.8518397934995,
 1254.2021443020346,
 910.897871637876,
 1188.94154136424]

In [56]:
df.head()

,FAC_NBR,address,location,point
0,-1,N/A N/A -1 N/A,None,None
1,0001,1340 PATRIOT BLVD GLENVIEW IL 60026,"(Jewel-Osco, 1340, Patriot Boulevard, Glenview...","(42.07856325, -87.8194154543438, 0.0)"
2,0002,201 SOUTH STEPHANIE STREET Henderson NV 89012,"(South Stephanie Street, Macdonald Ranch, Hend...","(36.0324434, -115.0471777, 0.0)"
3,0003,14800 S E SUNNYSIDE RD Clackamas OR 97015,None,None
4,0004,3130 WEST CAREFREE HIGHWAY Phoenix AZ 85086,"(3130, West Carefree Highway, North Gateway, P...","(33.7984748371083, -112.127522406678, 0.0)"

In [57]:
df.location.isnull().sum()

4

In [58]:
df.location

0                                                 None
1    (Jewel-Osco, 1340, Patriot Boulevard, Glenview...
2    (South Stephanie Street, Macdonald Ranch, Hend...
3                                                 None
4    (3130, West Carefree Highway, North Gateway, P...
5                                                 None
6                                                 None
7    (1301, Harrison Avenue, Butte, Silver Bow Coun...
8    (Centennial, Arapahoe County, Colorado, USA, (...
9    (6999, Jackrabbit Lane, Belgrade, Gallatin Cou...
Name: location, dtype: object

In [59]:
import pandas as pd 
df = df[pd.notnull(df["location"])]

In [60]:
"""
  - Need to drop the null values from the DF for the column "location" otherwise will get the eroor message:
    valueerror: Columns must be same length as key python
"""
df[['latitude', 'longitude', 'altitude']] = pd.DataFrame(df['point'].tolist(), index=df.index)

C:\ProgramData\Anaconda3\lib\site-packages\pandas\core\frame.py:3391: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  self[k1] = value[k2]

In [61]:
df.columns

Index(['FAC_NBR', 'address', 'location', 'point', 'latitude', 'longitude',
       'altitude'],
      dtype='object')

In [71]:
l_fac_nbr

['0001', '0002', '0004', '0007', '0008', '0009']

In [70]:
l_fac_nbr = df.FAC_NBR.to_list()

In [ ]:
map1 = folium.Map(
    location=[59.338315,18.089960],
    tiles='cartodbpositron',
    zoom_start=12,
)

In [65]:
import matplotlib.pyplot as plt
import folium
from folium.plugins import FastMarkerCluster

In [66]:

 map1 = folium.Map(
    location=[42.07856325, -87.8194154543438],
    tiles='cartodbpositron',
    zoom_start=12,
)

In [67]:
df.apply(lambda row:folium.CircleMarker(location=[row["latitude"], row["longitude"]]).add_to(map1), axis=1)
map1

In [68]:
type(map1)

folium.folium.Map

In [69]:
show(map1

In [106]:
df.head()

,FAC_NBR,address,location,point
1,0001,1340 PATRIOT BLVD GLENVIEW IL 60026,"(Jewel-Osco, 1340, Patriot Boulevard, Glenview...","(42.07856325, -87.8194154543438)"
2,0002,201 SOUTH STEPHANIE STREET Henderson NV 89012,"(South Stephanie Street, Macdonald Ranch, Hend...","(36.0324434, -115.0471777)"
4,0004,3130 WEST CAREFREE HIGHWAY Phoenix AZ 85086,"(3130, West Carefree Highway, North Gateway, P...","(33.7984748371083, -112.127522406678)"
7,0007,1301 HARRISON AVENUE BUTTE MT 59701,"(1301, Harrison Avenue, Butte, Silver Bow Coun...","(46.000883, -112.519532)"
8,0008,7375 ARAPAHOE ROAD CENTENNIAL CO 80112,"(Centennial, Arapahoe County, Colorado, USA, (...","(39.5762384, -104.914441523727)"

In [107]:
df.reset_index().rename(columns={df.index.name: 'IID'})

,index,FAC_NBR,address,location,point
0,1,0001,1340 PATRIOT BLVD GLENVIEW IL 60026,"(Jewel-Osco, 1340, Patriot Boulevard, Glenview...","(42.07856325, -87.8194154543438)"
1,2,0002,201 SOUTH STEPHANIE STREET Henderson NV 89012,"(South Stephanie Street, Macdonald Ranch, Hend...","(36.0324434, -115.0471777)"
2,4,0004,3130 WEST CAREFREE HIGHWAY Phoenix AZ 85086,"(3130, West Carefree Highway, North Gateway, P...","(33.7984748371083, -112.127522406678)"
3,7,0007,1301 HARRISON AVENUE BUTTE MT 59701,"(1301, Harrison Avenue, Butte, Silver Bow Coun...","(46.000883, -112.519532)"
4,8,0008,7375 ARAPAHOE ROAD CENTENNIAL CO 80112,"(Centennial, Arapahoe County, Colorado, USA, (...","(39.5762384, -104.914441523727)"
5,9,0009,6999 JACKRABBIT LANE BELGRADE MT 59714,"(6999, Jackrabbit Lane, Belgrade, Gallatin Cou...","(45.7727214646465, -111.185115020202)"

In [108]:
df.reset_index().rename(columns={df.index.name: 'IID'})

,index,FAC_NBR,address,location,point
0,1,0001,1340 PATRIOT BLVD GLENVIEW IL 60026,"(Jewel-Osco, 1340, Patriot Boulevard, Glenview...","(42.07856325, -87.8194154543438)"
1,2,0002,201 SOUTH STEPHANIE STREET Henderson NV 89012,"(South Stephanie Street, Macdonald Ranch, Hend...","(36.0324434, -115.0471777)"
2,4,0004,3130 WEST CAREFREE HIGHWAY Phoenix AZ 85086,"(3130, West Carefree Highway, North Gateway, P...","(33.7984748371083, -112.127522406678)"
3,7,0007,1301 HARRISON AVENUE BUTTE MT 59701,"(1301, Harrison Avenue, Butte, Silver Bow Coun...","(46.000883, -112.519532)"
4,8,0008,7375 ARAPAHOE ROAD CENTENNIAL CO 80112,"(Centennial, Arapahoe County, Colorado, USA, (...","(39.5762384, -104.914441523727)"
5,9,0009,6999 JACKRABBIT LANE BELGRADE MT 59714,"(6999, Jackrabbit Lane, Belgrade, Gallatin Cou...","(45.7727214646465, -111.185115020202)"

In [110]:
df_x.head()

,FAC_NBR,address,location,point
0,-1,N/A N/A -1 N/A,None,None
1,0001,1340 PATRIOT BLVD GLENVIEW IL 60026,"(Jewel-Osco, 1340, Patriot Boulevard, Glenview...","(42.07856325, -87.8194154543438)"
2,0002,201 SOUTH STEPHANIE STREET Henderson NV 89012,"(South Stephanie Street, Macdonald Ranch, Hend...","(36.0324434, -115.0471777)"
3,0003,14800 S E SUNNYSIDE RD Clackamas OR 97015,None,None
4,0004,3130 WEST CAREFREE HIGHWAY Phoenix AZ 85086,"(3130, West Carefree Highway, North Gateway, P...","(33.7984748371083, -112.127522406678)"

In [113]:
l_null = [None for i in range(len(df_x))]

In [114]:
l_null

[None, None, None, None, None, None, None, None, None, None]

In [121]:
lx_point

[None,
 (42.07856325, -87.8194154543438),
 (36.0324434, -115.0471777),
 None,
 (33.7984748371083, -112.127522406678),
 None,
 None,
 (46.000883, -112.519532),
 (39.5762384, -104.914441523727),
 (45.7727214646465, -111.185115020202)]

In [127]:
"""
 create a list to include all th points information
"""
ary_dis = []
l_point = df.point.to_list() 
l_null = [None for i in range(len(df_x))]
for index, row in df_x.iterrows(): 
    loc1 = list(row)[3]    
    if loc1 == None:
       ary_dis.append(l_null)  
    else:
      loc1_list = [round(geodesic(loc1, loc2).mi, 4) if loc2 else none for loc2  in lx_point  for loc2  in lx_point]     
      ary_dis.append(loc1_list)

None
(42.07856325, -87.8194154543438)
100
(36.0324434, -115.0471777)
100
None
(33.7984748371083, -112.127522406678)
100
None
None
(46.000883, -112.519532)
100
(39.5762384, -104.914441523727)
100
(45.7727214646465, -111.185115020202)
100

In [128]:
ary_dis

[[None, None, None, None, None, None, None, None, None, None],
 [None,
  0.0,
  1515.3969,
  None,
  1438.8518,
  None,
  None,
  1254.2021,
  910.8979,
  1188.9415,
  None,
  0.0,
  1515.3969,
  None,
  1438.8518,
  None,
  None,
  1254.2021,
  910.8979,
  1188.9415,
  None,
  0.0,
  1515.3969,
  None,
  1438.8518,
  None,
  None,
  1254.2021,
  910.8979,
  1188.9415,
  None,
  0.0,
  1515.3969,
  None,
  1438.8518,
  None,
  None,
  1254.2021,
  910.8979,
  1188.9415,
  None,
  0.0,
  1515.3969,
  None,
  1438.8518,
  None,
  None,
  1254.2021,
  910.8979,
  1188.9415,
  None,
  0.0,
  1515.3969,
  None,
  1438.8518,
  None,
  None,
  1254.2021,
  910.8979,
  1188.9415,
  None,
  0.0,
  1515.3969,
  None,
  1438.8518,
  None,
  None,
  1254.2021,
  910.8979,
  1188.9415,
  None,
  0.0,
  1515.3969,
  None,
  1438.8518,
  None,
  None,
  1254.2021,
  910.8979,
  1188.9415,
  None,
  0.0,
  1515.3969,
  None,
  1438.8518,
  None,
  None,
  1254.2021,
  910.8979,
  1188.9415,
  None,
  0.0,
  1515.3969,
  None,
  1438.8518,
  None,
  None,
  1254.2021,
  910.8979,
  1188.9415],
 [None,
  1515.3969,
  0.0,
  None,
  226.2499,
  None,
  None,
  700.3509,
  605.4764,
  701.6488,
  None,
  1515.3969,
  0.0,
  None,
  226.2499,
  None,
  None,
  700.3509,
  605.4764,
  701.6488,
  None,
  1515.3969,
  0.0,
  None,
  226.2499,
  None,
  None,
  700.3509,
  605.4764,
  701.6488,
  None,
  1515.3969,
  0.0,
  None,
  226.2499,
  None,
  None,
  700.3509,
  605.4764,
  701.6488,
  None,
  1515.3969,
  0.0,
  None,
  226.2499,
  None,
  None,
  700.3509,
  605.4764,
  701.6488,
  None,
  1515.3969,
  0.0,
  None,
  226.2499,
  None,
  None,
  700.3509,
  605.4764,
  701.6488,
  None,
  1515.3969,
  0.0,
  None,
  226.2499,
  None,
  None,
  700.3509,
  605.4764,
  701.6488,
  None,
  1515.3969,
  0.0,
  None,
  226.2499,
  None,
  None,
  700.3509,
  605.4764,
  701.6488,
  None,
  1515.3969,
  0.0,
  None,
  226.2499,
  None,
  None,
  700.3509,
  605.4764,
  701.6488,
  None,
  1515.3969,
  0.0,
  None,
  226.2499,
  None,
  None,
  700.3509,
  605.4764,
  701.6488],
 [None, None, None, None, None, None, None, None, None, None],
 [None,
  1438.8518,
  226.2499,
  None,
  0.0,
  None,
  None,
  842.1355,
  564.5797,
  827.6273,
  None,
  1438.8518,
  226.2499,
  None,
  0.0,
  None,
  None,
  842.1355,
  564.5797,
  827.6273,
  None,
  1438.8518,
  226.2499,
  None,
  0.0,
  None,
  None,
  842.1355,
  564.5797,
  827.6273,
  None,
  1438.8518,
  226.2499,
  None,
  0.0,
  None,
  None,
  842.1355,
  564.5797,
  827.6273,
  None,
  1438.8518,
  226.2499,
  None,
  0.0,
  None,
  None,
  842.1355,
  564.5797,
  827.6273,
  None,
  1438.8518,
  226.2499,
  None,
  0.0,
  None,
  None,
  842.1355,
  564.5797,
  827.6273,
  None,
  1438.8518,
  226.2499,
  None,
  0.0,
  None,
  None,
  842.1355,
  564.5797,
  827.6273,
  None,
  1438.8518,
  226.2499,
  None,
  0.0,
  None,
  None,
  842.1355,
  564.5797,
  827.6273,
  None,
  1438.8518,
  226.2499,
  None,
  0.0,
  None,
  None,
  842.1355,
  564.5797,
  827.6273,
  None,
  1438.8518,
  226.2499,
  None,
  0.0,
  None,
  None,
  842.1355,
  564.5797,
  827.6273],
 [None, None, None, None, None, None, None, None, None, None],
 [None, None, None, None, None, None, None, None, None, None],
 [None,
  1254.2021,
  700.3509,
  None,
  842.1355,
  None,
  None,
  0.0,
  587.7969,
  66.2611,
  None,
  1254.2021,
  700.3509,
  None,
  842.1355,
  None,
  None,
  0.0,
  587.7969,
  66.2611,
  None,
  1254.2021,
  700.3509,
  None,
  842.1355,
  None,
  None,
  0.0,
  587.7969,
  66.2611,
  None,
  1254.2021,
  700.3509,
  None,
  842.1355,
  None,
  None,
  0.0,
  587.7969,
  66.2611,
  None,
  1254.2021,
  700.3509,
  None,
  842.1355,
  None,
  None,
  0.0,
  587.7969,
  66.2611,
  None,
  1254.2021,
  700.3509,
  None,
  842.1355,
  None,
  None,
  0.0,
  587.7969,
  66.2611,
  None,
  1254.2021,
  700.3509,
  None,
  842.1355,
  None,
  None,
  0.0,
  587.7969,
  66.2611,
  None,
  1254.2021,
  700.3509,
  None,
  842.1355,
  None,
  None,
  0.0,
  587.7969,
  66.2611,
  None,
  1254.2021,
  700.3509,
  None,
  842.1355,
  None,
  None,
  0.0,
  587.7969,
  66.2611,
  None,
  1254.2021,
  700.3509,
  None,
  842.1355,
  None,
  None,
  0.0,
  587.7969,
  66.2611],
 [None,
  910.8979,
  605.4764,
  None,
  564.5797,
  None,
  None,
  587.7969,
  0.0,
  533.4341,
  None,
  910.8979,
  605.4764,
  None,
  564.5797,
  None,
  None,
  587.7969,
  0.0,
  533.4341,
  None,
  910.8979,
  605.4764,
  None,
  564.5797,
  None,
  None,
  587.7969,
  0.0,
  533.4341,
  None,
  910.8979,
  605.4764,
  None,
  564.5797,
  None,
  None,
  587.7969,
  0.0,
  533.4341,
  None,
  910.8979,
  605.4764,
  None,
  564.5797,
  None,
  None,
  587.7969,
  0.0,
  533.4341,
  None,
  910.8979,
  605.4764,
  None,
  564.5797,
  None,
  None,
  587.7969,
  0.0,
  533.4341,
  None,
  910.8979,
  605.4764,
  None,
  564.5797,
  None,
  None,
  587.7969,
  0.0,
  533.4341,
  None,
  910.8979,
  605.4764,
  None,
  564.5797,
  None,
  None,
  587.7969,
  0.0,
  533.4341,
  None,
  910.8979,
  605.4764,
  None,
  564.5797,
  None,
  None,
  587.7969,
  0.0,
  533.4341,
  None,
  910.8979,
  605.4764,
  None,
  564.5797,
  None,
  None,
  587.7969,
  0.0,
  533.4341],
 [None,
  1188.9415,
  701.6488,
  None,
  827.6273,
  None,
  None,
  66.2611,
  533.4341,
  0.0,
  None,
  1188.9415,
  701.6488,
  None,
  827.6273,
  None,
  None,
  66.2611,
  533.4341,
  0.0,
  None,
  1188.9415,
  701.6488,
  None,
  827.6273,
  None,
  None,
  66.2611,
  533.4341,
  0.0,
  None,
  1188.9415,
  701.6488,
  None,
  827.6273,
  None,
  None,
  66.2611,
  533.4341,
  0.0,
  None,
  1188.9415,
  701.6488,
  None,
  827.6273,
  None,
  None,
  66.2611,
  533.4341,
  0.0,
  None,
  1188.9415,
  701.6488,
  None,
  827.6273,
  None,
  None,
  66.2611,
  533.4341,
  0.0,
  None,
  1188.9415,
  701.6488,
  None,
  827.6273,
  None,
  None,
  66.2611,
  533.4341,
  0.0,
  None,
  1188.9415,
  701.6488,
  None,
  827.6273,
  None,
  None,
  66.2611,
  533.4341,
  0.0,
  None,
  1188.9415,
  701.6488,
  None,
  827.6273,
  None,
  None,
  66.2611,
  533.4341,
  0.0,
  None,
  1188.9415,
  701.6488,
  None,
  827.6273,
  None,
  None,
  66.2611,
  533.4341,
  0.0]]

In [136]:
df_x.info

<bound method DataFrame.info of   FAC_NBR                                        address  \
0    -1                                   N/A N/A -1 N/A
1    0001            1340 PATRIOT BLVD GLENVIEW IL 60026
2    0002  201 SOUTH STEPHANIE STREET Henderson NV 89012
3    0003      14800 S E SUNNYSIDE RD Clackamas OR 97015
4    0004    3130 WEST CAREFREE HIGHWAY Phoenix AZ 85086
5    0005              11120 S. LAKE DR. RESTON VA 20191
6    0006                   200 S. 23RD BOZEMAN MT 59718
7    0007            1301 HARRISON AVENUE BUTTE MT 59701
8    0008         7375 ARAPAHOE ROAD CENTENNIAL CO 80112
9    0009         6999 JACKRABBIT LANE BELGRADE MT 59714

                                            location  \
0                                               None
1  (Jewel-Osco, 1340, Patriot Boulevard, Glenview...
2  (South Stephanie Street, Macdonald Ranch, Hend...
3                                               None
4  (3130, West Carefree Highway, North Gateway, P...
5                                               None
6                                               None
7  (1301, Harrison Avenue, Butte, Silver Bow Coun...
8  (Centennial, Arapahoe County, Colorado, USA, (...
9  (6999, Jackrabbit Lane, Belgrade, Gallatin Cou...

                                   point
0                                   None
1       (42.07856325, -87.8194154543438)
2             (36.0324434, -115.0471777)
3                                   None
4  (33.7984748371083, -112.127522406678)
5                                   None
6                                   None
7               (46.000883, -112.519532)
8        (39.5762384, -104.914441523727)
9  (45.7727214646465, -111.185115020202)  >

In [137]:
df_x.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10 entries, 0 to 9
Data columns (total 4 columns):
FAC_NBR     10 non-null object
address     10 non-null object
location    6 non-null object
point       6 non-null object
dtypes: object(4)
memory usage: 400.0+ bytes

In [16]:
from geopy.extra.rate_limiter import RateLimiter

In [39]:
df_str_address.head()

   FAC_NBR                                        address  facnbr_idx
0        1            1340 PATRIOT BLVD GLENVIEW IL 60026           0
1        2  201 SOUTH STEPHANIE STREET Henderson NV 89012           1
2        3      14800 S E SUNNYSIDE RD Clackamas OR 97015           2
3        4    3130 WEST CAREFREE HIGHWAY Phoenix AZ 85086           3
4        5              11120 S. LAKE DR. RESTON VA 20191           4

In [48]:

df.to_excel('C:\SYUE\RecSys\df_str_addr_point.xlsx', index=False)

In [3]:
df.shape

(3449, 5)

In [5]:
df.head(25)

,FAC_NBR,address,facnbr_idx,location,point
0,1,1340 PATRIOT BLVD GLENVIEW IL 60026,0,"Jewel-Osco, 1340, Patriot Boulevard, Glenview,...","(42.07856325, -87.8194154543438)"
1,2,201 SOUTH STEPHANIE STREET Henderson NV 89012,1,"South Stephanie Street, Macdonald Ranch, Hende...","(36.0324434, -115.0471777)"
2,3,14800 S E SUNNYSIDE RD Clackamas OR 97015,2,NaN,NaN
3,4,3130 WEST CAREFREE HIGHWAY Phoenix AZ 85086,3,"3130, West Carefree Highway, North Gateway, Ph...","(33.7984748371083, -112.127522406678)"
4,5,11120 S. LAKE DR. RESTON VA 20191,4,NaN,NaN
5,6,200 S. 23RD BOZEMAN MT 59718,5,NaN,NaN
6,7,1301 HARRISON AVENUE BUTTE MT 59701,6,"1301, Harrison Avenue, Butte, Silver Bow Count...","(46.000883, -112.519532)"
7,8,7375 ARAPAHOE ROAD CENTENNIAL CO 80112,7,"Centennial, Arapahoe County, Colorado, USA","(39.5762384, -104.914441523727)"
8,9,6999 JACKRABBIT LANE BELGRADE MT 59714,8,"6999, Jackrabbit Lane, Belgrade, Gallatin Coun...","(45.7727214646465, -111.185115020202)"
9,10,3851 SOUTH HIGHWAY 74 EVERGREEN CO 80439,9,NaN,NaN
10,11,10853 U.S.HIGHWAY 285 CONIFER CO 80433,10,NaN,NaN
11,12,6009 N. BROADWAY AVE. CHICAGO IL 60660,11,NaN,NaN
12,13,2550 SOUTH FORT APACHE ROAD Las Vegas NV 89117,12,"South Fort Apache Road, Peccole Ranch, Las Veg...","(36.1461264, -115.2976622)"
13,14,575 COLLEGE DRIVE Henderson NV 89015,13,"575, College Drive, Mission Hills, Henderson, ...","(36.0132993653862, -114.963319)"
14,15,415 BLAINE WOLF POINT MT 59201,14,NaN,NaN
15,17,201 EAST JEFFERSON ENGLEWOOD CO 80113,15,NaN,NaN
16,18,900 W IDAHO KALISPELL MT 59901,16,NaN,NaN
17,19,117 W JANEAUX ST LEWISTOWN MT 59457,17,"117, West Janeaux Street, Lewistown, Fergus Co...","(47.066089122449, -109.423336857143)"
18,20,2205 OXFORD ST MISSOULA MT 59801,18,"2205, Oxford Street, Missoula, Missoula County...","(46.850779, -114.016641)"
19,21,1440 IRVING PARK RD. HANOVER PARK IL 60103,19,NaN,NaN
20,22,4701 S. WASHINGTON AMARILLO TX 79110,20,NaN,NaN
21,23,861 EAST WARNER ROAD Gilbert AZ 85296,21,"Albertsons, 861, East Warner Road, Gilbert, Ma...","(33.33370365, -111.771589233585)"
22,24,1003 E BROADWAY ST. MISSOULA MT 59802,22,"1003, East Broadway Street, East Missoula, Mis...","(46.86809, -113.980782)"
23,25,21001 NORTH TATUM BLVD SUITE Phoenix AZ 85050,23,NaN,"(33.6772124, -111.9753515)"
24,27,5025 SOUTH KIPLING LITTLETON CO 80127,24,NaN,NaN

In [47]:
df_bk_point = df.copy() # back df after get location

In [14]:
for index, row in df.iterrows(): 
    loc1 = list(row)[4]  # Address
    print ("loc1:{0}".format(loc1))
    if loc1  == None:
       ary_dis.append(l_null)  
    else:
        for  loc2 in l_point:
             print("loc2: {0}".format(loc2))
             dist = round(geodesic(loc1, loc2).mi, 4) 
             print("dist: {0}".format(loc2))
    #l_loc1_dist = [round(geodesic(loc1, loc2).mi, 4) if loc2 else none for loc2  in l_point ]
    #  ary_dis.append(l_loc1_dist)

loc1:(42.07856325, -87.8194154543438)
loc2: (42.07856325, -87.8194154543438)

ValueError: Failed to create Point instance from string: unknown format.

In [17]:
type(loc1)

str

In [23]:
from geopy.point import Point
loc_x = Point(42.07856325, -87.8194154543438)
loc_y = Point(43.07856325, -87.8194154543438)

In [26]:
loc_z = loc2.split(',')

In [27]:
loc_z

['(42.07856325', ' -87.8194154543438)']

In [28]:
type(loc_z)

list

In [29]:
monte = pd.Series(['Grahm Chapram', 'John Cheese'])

monte.str.split()

In [30]:
monte.str.split()

0    [Grahm, Chapram]
1      [John, Cheese]
dtype: object

In [31]:
type(monte.str.split())

pandas.core.series.Series

In [32]:
loc_1 = pd.Series(loc1)

In [33]:
loc_1 = "(42.07856325, -87.8194154543438)"

0    (42.07856325, -87.8194154543438)
dtype: object

In [40]:
loc_1 = loc1

In [42]:
import re
re.sub(loc_1,'(', '')

''

In [2]:
loc_1 = "(42.07856325, -87.8194154543438)"

In [4]:
import decimal

In [5]:
latitude, longitude =  decimal(loc_1[1:-1].split(','))

TypeError: 'module' object is not callable

In [6]:
latitude, longitude =  loc_1[1:-1].split(',')

In [7]:
latitude, longitude

('42.07856325', ' -87.8194154543438')

In [ ]:
l

In [ ]:
l_lat = decimaln

In [46]:
 loc_1[1:-1].split(',').to_tuple()

AttributeError: 'list' object has no attribute 'to_tuple'

In [47]:
 tuple(loc_1[1:-1].split(','))

('42.07856325', ' -87.8194154543438')

In [48]:
 set(loc_1[1:-1].split(','))

{' -87.8194154543438', '42.07856325'}