# Select k nearest store by using Python Geopy 
Purpose 
 - Apply Python Geopy to get 'latitude', 'longitude' for each store
 - Construct a distance matrix by applying  function distance() to calculate distance between stores
 - Convert the distance matrix to a dataframe and load it into a table 
 
## This module includes the following steps:
 1. Initialization : Import packages/libraries and set up Teradata connection 
 2. Load store address
 3. Apply Geopy to get Geopy location and coordinators and save them to an excel file
 4. Read the excel file and construct matrix distance 
 5. Convert the distance matrix to a dataframe and load it into a table:  temp_tables.rs_store_dist 
 6. Create a table to store k nearest store: temp_tables.rs_nearst_store
    (This step might not need. top k store can get from temp_tables.rs_store_dist 
    
## Input table
 - dw_bi_vw.dim_2_fac 
   - with  fac_nbr > 0 and end_dt ='9998-12-31'
     - There are 3429 stores meet the criteria
       - Three are 101 stores with blank address
         - The stores do not oprate
       - There are 2613 stores with address not recognized by Geopy  
       
## Output
- C:\SYUE\RecSys\df_str_addr_jpoint.xlsx'
  - store_nbr with physical address, geopy location and point 
- temp_tables.rs_store_dist
  - distance between stores
-  temp_tables.rs_nearst_store

## Module name: sel_nbrK_store
- Author: Sophia Yue
- Date  : Oct 2019  
 
## Comments
- The distance between stores can be used to cluster stores
  - Application(s) : TBD
- Might need to correct the address to be able to get 'latitude', 'longitude' from Geopy

## Main process starts here
## Initialization 
 - Python compile() function is used to compile the source into code object or AST module object. 
 - The returned code object can be executed using exec()
 - Use compile function to execute the following codes which might be used by other modules 
   - c_import.py        : Import packages/libraries 
   - c_setup_dbs_con.py : Set up Teradata connection
   - c_time_dte.py      : Calculate elapsed time

In [1]:
prg_name = ""
path_code = "C:\\Users\\syue003\\wip_RecSys\\"
c_import  = path_code + "c_import.py"
c_setup_dbs_con = path_code + "c_setup_dbs_con.py"
c_timedte = path_code + "c_time_dte.py" 

exec(compile(open(c_import, 'rb').read(), c_import,  'exec'))
exec(compile(open(c_setup_dbs_con, 'rb').read(),c_setup_dbs_con, 'exec'))
exec(compile(open(c_timedte, 'rb').read(),c_timedte, 'exec'))
session, td_enginex = cf_setup_dbs_con(userName = 'syue003', passWord = 'Chungli#1')

t_engine teradata://syue003:Chungli#1@tqdpr02/temp_tables

## Extract store address from dw_bi_vw.dim_2_fac

In [2]:

#Load the transactional data into a Pandas dataframe  
query = """
    select fac_nbr,   
           ( trim(addr_line1_txt) || ' ' ||  trim( city_nm) || ' ' ||  trim( state_id) || ' '  || trim( zip5_id) ) 
           as address  
    from   dw_bi_vw.dim_2_fac   
    where  fac_nbr > 0 and end_dt ='9998-12-31' 
    group  by fac_nbr, address order by  fac_nbr 
    """
df_str_address = pd.read_sql(query,session)

In [3]:
# Change data type of FAC_NBR to int64
df_str_address ['FAC_NBR']= df_str_address ['FAC_NBR'].astype(np.int64)

In [4]:
"""
 Create store internal id
 
"""      
unq_fac_nbr = set(df_str_address.FAC_NBR.values)

facnbr_idx = {}
count = 0
for FAC_NBR in unq_fac_nbr:
    facnbr_idx[FAC_NBR] = count
    count += 1
df_str_address['facnbr_idx'] = df_str_address.apply(lambda row: facnbr_idx[row.FAC_NBR], axis=1)

## Get geopy location and point

In [5]:
"""
 Define RateLimiter object : geopy.extra.rate_limiter.RateLimiter
"""
locator = Nominatim(user_agent="myGeocoder")
geocode = RateLimiter(locator.geocode, min_delay_seconds=0.0)

In [6]:
df = df_str_address

In [7]:
"""
 Add a column "location" by applying "geocode" to df column "address" to get location
  - geocode will return geopy.Location.Location 
  - Very time consumming
"""
start_time = time.time()
df['location'] = df['address'].apply(geocode)
fnc_name = "Apply Geocode"
end_time = time.time()
cf_elapse_time (  start_time, end_time, "Function {0} completed.".format(fnc_name))

 Function Apply Geocode completed. It took 33919.002931 seconds - 9hh:25mm:19ss.
 start time: Oct 09 2019 09:16:51  end time:  Oct 09 2019 18:42:10

In [9]:
"""
 Create column 'point' by applying point function to "location" 
 - point will return 'latitude', 'longitude', 'altitude'
   - will not extract  'altitude'
   - Define value of point as None if the value of location is None  
"""
start_time = time.time()
df['point'] = df['location'].apply(lambda loc: tuple(loc.point)[0:2] if loc else None)
end_time = time.time()
cf_elapse_time (  start_time, end_time, "Function {0} completed.".format("point"))

 Function point completed. It took 0.015000 seconds - 0hh:0mm:0ss.
 start time: Oct 09 2019 19:46:51  end time:  Oct 09 2019 19:46:51

## Save dataframe to an excel file
 - It is time consuming to apply 'geocode' to get the geotype location
 - Save dataframe to an excel file for future use

In [10]:
df.to_excel('C:\SYUE\RecSys\df_str_addr_jpoint.xlsx', index=False)

## Construct a distance matrix
 - Calculate distance between stores and save them in a  matrix

In [2]:
#Cal matrix of dis
df = pd.read_excel('C:\SYUE\RecSys\df_str_addr_jpoint.xlsx')

In [222]:
df.head()

,FAC_NBR,address,facnbr_idx,location,point
0,1,1340 PATRIOT BLVD GLENVIEW IL 60026,0,"Jewel-Osco, 1340, Patriot Boulevard, Glenview,...","(42.07856325, -87.8194154543438)"
1,2,201 SOUTH STEPHANIE STREET Henderson NV 89012,1,"South Stephanie Street, Macdonald Ranch, Hende...","(36.0324434, -115.0471777)"
2,3,14800 S E SUNNYSIDE RD Clackamas OR 97015,2,NaN,NaN
3,4,3130 WEST CAREFREE HIGHWAY Phoenix AZ 85086,3,"3130, West Carefree Highway, North Gateway, Ph...","(33.7984748371083, -112.127522406678)"
4,5,11120 S. LAKE DR. RESTON VA 20191,4,NaN,NaN

### Construct a list l_point  to save the latitude, longitude to be ready for geopy.Point
- If the address is validate, the column point would be like  a string
  (latitude, longitude), e.g. (42.07856325, -87.8194154543438)
   - required to convert it to a string of 'latitude, longitude' 
      - A format accepted by geopy.Point
- If the address is invalidate,the value of point would be nan and the format would be float   
  - Will save ""  in the list 
- Use iterrows to iterate over DataFrame rows as (index, Series) pairs.
  - The columns of df are
    - FAC_NBR, address, facnbr_id, location, point
- l_point would be a list of strings with 'latitude, longitude' or empty string.

In [3]:
l_point = []
for index, row in df.iterrows(): 
    point = list(row)[4]  # Get VALUE FROM COLUMN "point"    
    if type(point) == float and math.isnan(point): 
       s_lat_lon = "" 
    else:      
       s_lat_lon = point[1:-1] #  Remove parenthesis
    l_point.append(s_lat_lon)

In [4]:
len (l_point)

3429

In [5]:
l_point[0:9]

['42.07856325, -87.8194154543438',
 '36.0324434, -115.0471777',
 '',
 '33.7984748371083, -112.127522406678',
 '',
 '',
 '46.000883, -112.519532',
 '39.5762384, -104.914441523727',
 '45.7727214646465, -111.185115020202']

## Calculate distance
- Convert the string  'latitude, longitude' in l_point to Point object and calculate the distance
  - If the p1 is 'nan' will assign 'nan' to the distance for all stores
  - If the p2 is 'nan' will assign 'nan' to the distance bwtween p1 and p2
  - Apply the geopy function distance.distance with parameter p1 and p2 to calculate the distane
    - Return the distance as mile
    
 ### Notes
  - Need to import math first, otherwise will get the mnessage of 'nan' is not defined;
    - nan cab be replaced by NaN

In [6]:
distMatrix = []
l_point_x = l_point
l_nan = [float('nan') for i in range(len(l_point))]  # 

for s_lat_lon_1  in l_point:
    l_dis_x = []
    for s_lat_lon_2 in l_point_x:
        if s_lat_lon_1 is "":
           l_dis_x = l_nan
           continue
        else:
          if s_lat_lon_2 == "":           
             dist = float("nan") 
          else:
             p1 = Point(s_lat_lon_1)
             p2 = Point(s_lat_lon_2)
             dist = round(distance.distance(p1, p2).mi, 4)
          l_dis_x.append(dist)
    distMatrix.append(l_dis_x)

In [7]:
len(distMatrix)

3429

In [8]:
distMatrix[0: 2]

[[0.0,
  1515.3969,
  nan,
  1438.8518,
  nan,
  nan,
  1254.2021,
  910.8979,
  1188.9415,
  nan,
  nan,
  nan,
  1524.9841,
  1511.6606,
  nan,
  nan,
  nan,
  1116.285,
  1329.7978,
  nan,
  nan,
  1437.8323,
  1328.2048,
  nan,
  nan,
  nan,
  910.2298,
  nan,
  nan,
  891.24,
  nan,
  1206.9245,
  1062.0418,
  nan,
  nan,
  920.4738,
  nan,
  1331.067,
  1515.8737,
  1521.8449,
  nan,
  nan,
  25.0304,
  24.0656,
  990.5019,
  nan,
  29.0291,
  948.811,
  1517.8377,
  943.6534,
  34.9493,
  977.5544,
  878.8068,
  881.5891,
  903.9133,
  20.2054,
  812.8167,
  8.4919,
  50.4853,
  13.2879,
  1014.4444,
  nan,
  nan,
  nan,
  nan,
  1513.4191,
  1519.24,
  1754.7492,
  27.5744,
  1509.4865,
  9.5029,
  907.0901,
  1438.7938,
  1329.1673,
  1462.6336,
  nan,
  nan,
  813.8568,
  613.6513,
  1747.4767,
  nan,
  1737.3546,
  1747.1957,
  nan,
  836.6195,
  673.5382,
  1747.4991,
  nan,
  754.0131,
  1519.9898,
  1438.195,
  851.5094,
  783.5468,
  nan,
  23.7505,
  615.4535,
  1720.9153,
  nan,
  43.4947,
  577.6,
  nan,
  1344.8521,
  1474.876,
  nan,
  890.5663,
  nan,
  nan,
  905.1217,
  nan,
  1229.7889,
  903.3,
  1736.234,
  901.4713,
  nan,
  nan,
  nan,
  1232.3641,
  855.5102,
  680.8579,
  nan,
  nan,
  929.3429,
  nan,
  nan,
  1750.3147,
  1442.0114,
  1445.6265,
  1440.7956,
  26.2223,
  1727.6678,
  nan,
  1444.2229,
  nan,
  1440.8096,
  855.5434,
  nan,
  nan,
  1461.6495,
  927.2874,
  nan,
  1437.3633,
  1734.369,
  1216.5027,
  1037.6832,
  nan,
  1447.5469,
  1457.4865,
  1445.8749,
  nan,
  1450.0393,
  1442.217,
  1445.5598,
  1168.2721,
  1436.6701,
  26.2734,
  nan,
  nan,
  nan,
  1440.7744,
  1778.8201,
  1739.1581,
  659.3535,
  nan,
  nan,
  nan,
  1431.0873,
  1438.195,
  nan,
  4244.1652,
  12.8341,
  4244.3416,
  4242.0957,
  4235.0833,
  1497.0623,
  4237.9042,
  1726.9811,
  933.8243,
  4245.9304,
  1521.8165,
  1579.1742,
  nan,
  4237.7692,
  nan,
  1781.4488,
  738.2091,
  nan,
  4190.4699,
  809.2314,
  764.9884,
  792.7287,
  nan,
  1532.4407,
  753.2876,
  1646.5116,
  1571.2973,
  1319.7739,
  nan,
  832.2953,
  nan,
  nan,
  1452.753,
  715.6018,
  1470.097,
  1325.7669,
  1444.7009,
  1472.0881,
  905.9504,
  nan,
  913.3689,
  1430.6209,
  1487.518,
  1441.0571,
  nan,
  1307.894,
  1432.9638,
  nan,
  1579.0855,
  1425.4952,
  1464.7698,
  nan,
  1777.6635,
  1447.8171,
  1484.0967,
  1255.0434,
  563.6684,
  nan,
  1726.6367,
  787.0623,
  16.5247,
  nan,
  1737.1614,
  nan,
  nan,
  800.4218,
  nan,
  610.9586,
  1385.0992,
  1785.1737,
  1431.2555,
  nan,
  1524.7582,
  nan,
  nan,
  nan,
  nan,
  4245.3614,
  nan,
  19.829,
  nan,
  1750.6685,
  510.1942,
  1181.962,
  nan,
  677.7675,
  nan,
  720.4029,
  724.4371,
  nan,
  nan,
  1745.5984,
  nan,
  nan,
  nan,
  nan,
  1764.0854,
  16.1606,
  nan,
  nan,
  nan,
  1534.0423,
  1858.3442,
  1832.2224,
  1769.083,
  nan,
  1839.9369,
  1816.0367,
  1739.7873,
  1831.0235,
  nan,
  1778.5167,
  1778.1503,
  884.9078,
  nan,
  923.0164,
  1740.7792,
  nan,
  1742.5995,
  770.1186,
  914.5044,
  1728.736,
  914.1139,
  1661.5551,
  1523.4848,
  1578.7612,
  1573.3947,
  1737.9794,
  1510.7885,
  nan,
  1273.1655,
  nan,
  nan,
  1494.5173,
  nan,
  nan,
  nan,
  1457.3948,
  nan,
  nan,
  1767.1142,
  nan,
  1792.0113,
  1806.5225,
  1734.094,
  1745.474,
  1724.8374,
  nan,
  nan,
  nan,
  nan,
  nan,
  1763.7055,
  1484.0819,
  nan,
  nan,
  nan,
  nan,
  nan,
  nan,
  1807.7379,
  1738.6893,
  1469.7734,
  1521.2795,
  1780.7698,
  1738.5135,
  nan,
  1750.4694,
  938.2293,
  nan,
  1759.5444,
  1801.9664,
  1733.551,
  nan,
  nan,
  1715.4007,
  1738.5626,
  1708.4265,
  nan,
  2780.6465,
  1765.4712,
  1755.1961,
  nan,
  nan,
  nan,
  1722.7747,
  1767.8153,
  1441.3776,
  1722.038,
  nan,
  1731.7427,
  809.2134,
  852.0051,
  1737.7543,
  1775.3854,
  603.3554,
  1721.1636,
  nan,
  1750.9722,
  1751.9221,
  853.4497,
  nan,
  nan,
  1732.7252,
  851.7373,
  nan,
  946.1485,
  nan,
  1719.7732,
  nan,
  nan,
  872.1724,
  845.0253,
  1723.3021,
  1717.3324,
  nan,
  nan,
  nan,
  nan,
  1718.222,
  1067.5577,
  1714.591,
  1731.6357,
  1717.6022,
  nan,
  1526.6031,
  1048.6922,
  1637.7058,
  nan,
  1851.2886,
  1722.2129,
  nan,
  nan,
  1720.4188,
  1715.3174,
  nan,
  nan,
  nan,
  1716.8411,
  1735.7716,
  nan,
  nan,
  1717.6043,
  1772.478,
  nan,
  nan,
  nan,
  841.7236,
  1722.0733,
  nan,
  nan,
  nan,
  nan,
  nan,
  1738.9519,
  nan,
  1706.308,
  850.8517,
  nan,
  1724.8129,
  1727.672,
  1755.6039,
  1806.3124,
  1640.9931,
  nan,
  nan,
  nan,
  1745.1587,
  1778.1507,
  1745.394,
  nan,
  1718.8179,
  nan,
  nan,
  1780.892,
  nan,
  1798.8495,
  nan,
  1717.6035,
  1751.2366,
  nan,
  2837.7186,
  nan,
  1721.1556,
  1699.6558,
  1711.7359,
  1785.4855,
  nan,
  1727.2732,
  nan,
  nan,
  755.0882,
  1717.9565,
  nan,
  nan,
  1716.1177,
  1717.2862,
  1731.8538,
  nan,
  1743.8857,
  nan,
  1788.7835,
  1734.3458,
  nan,
  nan,
  nan,
  nan,
  939.4804,
  1721.5187,
  nan,
  nan,
  nan,
  nan,
  nan,
  nan,
  nan,
  nan,
  nan,
  nan,
  nan,
  nan,
  nan,
  nan,
  nan,
  nan,
  nan,
  nan,
  nan,
  nan,
  1848.2219,
  nan,
  nan,
  nan,
  nan,
  nan,
  nan,
  nan,
  nan,
  nan,
  nan,
  nan,
  nan,
  nan,
  nan,
  nan,
  nan,
  nan,
  nan,
  nan,
  nan,
  nan,
  nan,
  nan,
  nan,
  nan,
  nan,
  nan,
  nan,
  nan,
  nan,
  nan,
  nan,
  nan,
  nan,
  nan,
  nan,
  nan,
  nan,
  nan,
  nan,
  nan,
  nan,
  nan,
  nan,
  nan,
  nan,
  nan,
  nan,
  nan,
  nan,
  nan,
  nan,
  nan,
  nan,
  nan,
  nan,
  nan,
  nan,
  nan,
  nan,
  nan,
  nan,
  986.9263,
  nan,
  nan,
  nan,
  nan,
  nan,
  nan,
  nan,
  nan,
  nan,
  nan,
  nan,
  nan,
  nan,
  nan,
  nan,
  nan,
  nan,
  nan,
  nan,
  nan,
  nan,
  nan,
  nan,
  nan,
  nan,
  nan,
  nan,
  nan,
  nan,
  nan,
  835.7295,
  nan,
  935.9863,
  nan,
  1145.2545,
  1148.9939,
  nan,
  790.8749,
  845.1564,
  1838.3997,
  nan,
  972.3853,
  916.8248,
  1838.5905,
  1091.003,
  604.9596,
  1849.0193,
  1833.7283,
  829.2333,
  1828.4893,
  nan,
  1751.4709,
  1836.5744,
  1721.8242,
  1724.2344,
  nan,
  1703.6077,
  nan,
  nan,
  1721.1635,
  1712.2057,
  824.6789,
  1717.486,
  nan,
  823.2084,
  1844.753,
  811.893,
  nan,
  745.2614,
  873.4294,
  nan,
  854.984,
  2839.2566,
  656.0617,
  950.788,
  1717.9742,
  1736.9037,
  1702.4567,
  677.329,
  1713.5112,
  1710.7128,
  648.288,
  nan,
  nan,
  1718.8215,
  1697.3369,
  1702.2842,
  nan,
  1711.6759,
  1849.7088,
  1717.3968,
  1832.8215,
  1838.7659,
  607.1653,
  nan,
  1715.2618,
  nan,
  1846.2918,
  nan,
  nan,
  nan,
  nan,
  nan,
  nan,
  nan,
  663.5177,
  1726.7943,
  nan,
  1851.4112,
  1721.2364,
  1852.4697,
  1834.4388,
  1834.4329,
  1702.179,
  1838.3724,
  1832.9811,
  676.0768,
  1719.0642,
  nan,
  1715.3054,
  nan,
  1828.6593,
  852.8154,
  729.3625,
  1852.2819,
  681.3758,
  nan,
  nan,
  1841.2172,
  nan,
  nan,
  nan,
  nan,
  nan,
  678.9075,
  1851.7187,
  nan,
  1836.046,
  nan,
  1869.9702,
  nan,
  1834.8737,
  1705.8455,
  1847.1602,
  1116.8698,
  1738.206,
  915.4873,
  905.8336,
  651.7446,
  1750.4601,
  660.624,
  nan,
  651.5417,
  nan,
  921.0284,
  nan,
  nan,
  nan,
  nan,
  nan,
  1724.4835,
  652.8839,
  715.575,
  676.2359,
  894.0464,
  nan,
  1725.0346,
  nan,
  652.7021,
  718.0778,
  719.0481,
  1110.0327,
  nan,
  918.1079,
  nan,
  nan,
  nan,
  nan,
  nan,
  nan,
  647.5206,
  nan,
  602.974,
  1739.0218,
  614.9264,
  922.9669,
  nan,
  nan,
  902.8128,
  610.8976,
  nan,
  nan,
  nan,
  nan,
  nan,
  nan,
  922.2794,
  908.0143,
  nan,
  912.1251,
  606.808,
  nan,
  906.5654,
  nan,
  nan,
  694.8561,
  1112.4273,
  900.1186,
  nan,
  1826.2649,
  nan,
  1844.8546,
  1116.8515,
  601.8687,
  1837.6851,
  1852.358,
  1818.0623,
  nan,
  nan,
  1829.2549,
  nan,
  1839.4163,
  nan,
  1827.3173,
  1850.3228,
  nan,
  927.7882,
  1127.9299,
  607.9069,
  1116.0672,
  nan,
  1840.1206,
  nan,
  1827.1958,
  1829.3003,
  nan,
  nan,
  1849.1271,
  1855.1293,
  1247.0442,
  908.0848,
  1825.6409,
  1126.4683,
  nan,
  1828.4298,
  1444.5469,
  nan,
  572.1404,
  nan,
  596.6241,
  712.5732,
  1849.915,
  727.1357,
  nan,
  1840.3768,
  659.0631,
  nan,
  1860.7606,
  1823.9024,
  nan,
  604.4407,
  1430.7864,
  1435.8611,
  1437.8831,
  1438.0319,
  1827.2275,
  1434.1131,
  1851.1146,
  1860.3913,
  1437.2237,
  1834.4829,
  1831.4895,
  1832.3891,
  1848.6916,
  1833.8062,
  1827.7513,
  1446.3149,
  1878.0924,
  nan,
  1461.9208,
  1883.0576,
  1848.9748,
  nan,
  1445.8019,
  1826.0999,
  1846.0987,
  1832.8787,
  1852.8582,
  1074.1716,
  1828.7263,
  1828.2223,
  nan,
  nan,
  1448.2689,
  688.1893,
  1830.8982,
  1836.5064,
  1849.2298,
  718.0778,
  1835.2404,
  1852.9334,
  1846.6754,
  946.2835,
  nan,
  659.5213,
  1247.9588,
  24.102,
  nan,
  1329.8078,
  953.2589,
  940.0199,
  nan,
  1.0821,
  nan,
  nan,
  917.2018,
  9.8863,
  nan,
  nan,
  nan,
  nan,
  nan,
  nan,
  938.3395,
  nan,
  5.2291,
  953.7279,
  nan,
  966.2668,
  6.368,
  nan,
  943.8847,
  938.7274,
  937.4413,
  927.1131,
  910.4702,
  nan,
  nan,
  nan,
  938.5197,
  19.3699,
  895.9426,
  1748.9308,
  606.6094,
  957.2264,
  nan,
  28.9975,
  5.1567,
  nan,
  712.6021,
  nan,
  21.6883,
  925.2556,
  710.8882,
  1514.9013,
  35.2481,
  nan,
  1720.3492,
  nan,
  917.0646,
  723.1881,
  951.9176,
  16.1374,
  9.6064,
  715.4038,
  1735.7168,
  nan,
  nan,
  1752.6716,
  nan,
  575.2808,
  1711.8725,
  696.4284,
  1755.7815,
  nan,
  9.233,
  589.1761,
  nan,
  721.1412,
  nan,
  nan,
  11.5231,
  4235.0865,
  nan,
  591.3123,
  2945.571,
  25.4438,
  nan,
  8.0538,
  1773.4873,
  nan,
  709.3867,
  705.6558,
  nan,
  693.1905,
  18.5647,
  5.3156,
  27.9965,
  1741.0649,
  nan,
  1734.115,
  918.0901,
  nan,
  1811.7865,
  1836.9651,
  27.3674,
  nan,
  5.9151,
  33.8572,
  908.0979,
  910.5039,
  4218.7103,
  nan,
  1838.8599,
  nan,
  16.8062,
  1689.0954,
  13.3051,
  1775.2897,
  1431.0873,
  nan,
  8.9042,
  nan,
  25.045,
  1085.5976,
  1035.025,
  nan,
  nan,
  nan,
  nan,
  6.0654,
  1847.9433,
  nan,
  nan,
  27.8936,
  nan,
  1724.8269,
  nan,
  915.9888,
  ...],
 [1515.3969,
  0.0,
  nan,
  226.2499,
  nan,
  nan,
  700.3509,
  605.4764,
  701.6488,
  nan,
  nan,
  nan,
  16.0602,
  4.8788,
  nan,
  nan,
  nan,
  814.8076,
  748.4836,
  nan,
  nan,
  263.3946,
  749.8096,
  nan,
  nan,
  nan,
  606.5646,
  nan,
  nan,
  701.3524,
  nan,
  814.4519,
  753.4257,
  nan,
  nan,
  596.9492,
  nan,
  750.7886,
  9.7708,
  14.0454,
  nan,
  nan,
  1497.5547,
  1499.9484,
  2497.3732,
  nan,
  1494.0033,
  657.5838,
  16.8376,
  662.9451,
  1523.1521,
  738.6969,
  658.0296,
  656.2287,
  759.7497,
  1505.2323,
  1045.752,
  1515.2579,
  1534.166,
  1509.7545,
  895.8767,
  nan,
  nan,
  nan,
  nan,
  11.6287,
  19.4984,
  808.9491,
  1524.7791,
  9.6094,
  1517.0257,
  610.0699,
  527.4468,
  749.1441,
  533.9305,
  nan,
  nan,
  1047.4027,
  2091.5799,
  237.8201,
  nan,
  233.0348,
  396.2047,
  nan,
  2351.7472,
  2173.3837,
  859.6663,
  nan,
  2260.6602,
  18.1749,
  525.5045,
  1389.5304,
  2291.9559,
  nan,
  1505.0117,
  2091.11,
  888.8959,
  nan,
  1527.0769,
  2063.241,
  nan,
  518.1128,
  560.8703,
  nan,
  745.1614,
  nan,
  nan,
  612.1015,
  nan,
  538.6234,
  613.2317,
  226.9273,
  615.9639,
  nan,
  nan,
  nan,
  538.7307,
  912.1397,
  2181.539,
  nan,
  nan,
  907.5742,
  nan,
  nan,
  240.737,
  527.3798,
  334.5257,
  529.5997,
  1517.5989,
  219.6826,
  nan,
  525.7486,
  nan,
  525.2656,
  2370.9385,
  nan,
  nan,
  532.7236,
  918.6856,
  nan,
  524.8901,
  229.9018,
  565.5337,
  744.2038,
  nan,
  243.2985,
  524.6011,
  529.8902,
  nan,
  528.5761,
  247.0091,
  533.0816,
  560.9487,
  521.4503,
  1496.3592,
  nan,
  nan,
  nan,
  529.5772,
  391.9021,
  231.112,
  2158.4359,
  nan,
  nan,
  nan,
  248.9359,
  525.5045,
  nan,
  2764.0094,
  1521.5938,
  2764.3113,
  2761.8515,
  2754.9438,
  817.577,
  2758.0423,
  228.9998,
  717.5733,
  2766.3113,
  18.1936,
  740.4076,
  nan,
  2756.9776,
  nan,
  266.2902,
  1243.348,
  nan,
  2702.7479,
  947.8556,
  2280.0025,
  1063.5383,
  nan,
  713.504,
  1058.6331,
  226.832,
  735.4624,
  308.9483,
  nan,
  1034.6673,
  nan,
  nan,
  227.3972,
  2223.6857,
  722.6686,
  254.4768,
  233.7293,
  724.2698,
  612.751,
  nan,
  604.4222,
  176.9421,
  812.0673,
  258.3552,
  nan,
  208.9491,
  350.5473,
  nan,
  737.0806,
  267.4114,
  813.3358,
  nan,
  451.1911,
  237.9649,
  807.9785,
  699.9677,
  1275.7119,
  nan,
  419.2365,
  1064.8126,
  1500.9094,
  nan,
  896.8691,
  nan,
  nan,
  1055.7666,
  nan,
  2087.3228,
  395.4519,
  497.0468,
  178.5249,
  nan,
  11.0719,
  nan,
  nan,
  nan,
  nan,
  2766.055,
  nan,
  1499.1754,
  nan,
  756.5604,
  1605.3152,
  697.6482,
  nan,
  2176.6139,
  nan,
  2193.8561,
  2216.4552,
  nan,
  nan,
  766.4431,
  nan,
  nan,
  nan,
  nan,
  440.8695,
  1517.4515,
  nan,
  nan,
  nan,
  713.5083,
  424.4148,
  398.7994,
  692.5317,
  nan,
  398.7015,
  317.9566,
  227.0535,
  386.4424,
  nan,
  263.2271,
  701.3346,
  638.7443,
  nan,
  594.9502,
  230.34,
  nan,
  232.6271,
  2279.0166,
  603.9002,
  863.0521,
  603.9125,
  150.158,
  8.9033,
  741.5517,
  734.001,
  228.2202,
  856.1948,
  nan,
  345.4979,
  nan,
  nan,
  813.1986,
  nan,
  nan,
  nan,
  848.793,
  nan,
  nan,
  742.5946,
  nan,
  276.6988,
  291.611,
  224.7219,
  231.6117,
  887.6988,
  nan,
  nan,
  nan,
  nan,
  nan,
  249.0859,
  658.7901,
  nan,
  nan,
  nan,
  nan,
  nan,
  nan,
  625.4637,
  761.3797,
  744.4758,
  875.9617,
  710.9483,
  226.5108,
  nan,
  240.4354,
  580.2975,
  nan,
  244.8038,
  797.4572,
  220.4004,
  nan,
  nan,
  917.8775,
  930.7238,
  879.716,
  nan,
  2404.2795,
  778.0426,
  749.9917,
  nan,
  nan,
  nan,
  873.0346,
  744.8329,
  236.2921,
  893.8441,
  nan,
  957.3198,
  949.9486,
  2367.2673,
  882.3267,
  698.5822,
  2077.5438,
  855.4915,
  nan,
  789.4729,
  805.6046,
  2368.8207,
  nan,
  nan,
  758.6889,
  2366.9209,
  nan,
  660.3755,
  nan,
  875.2615,
  nan,
  nan,
  2387.4786,
  2359.7282,
  890.3982,
  901.2571,
  nan,
  nan,
  nan,
  nan,
  878.5729,
  577.6596,
  871.8481,
  558.0455,
  894.5354,
  nan,
  18.3928,
  599.4933,
  782.5058,
  nan,
  383.9622,
  882.7445,
  nan,
  nan,
  897.7402,
  868.6454,
  nan,
  nan,
  nan,
  903.0193,
  883.7537,
  nan,
  nan,
  899.811,
  936.1679,
  nan,
  nan,
  nan,
  2356.6698,
  894.7928,
  nan,
  nan,
  nan,
  nan,
  nan,
  892.281,
  nan,
  849.3029,
  2366.2084,
  nan,
  892.0377,
  860.8888,
  705.1206,
  625.2877,
  783.5328,
  nan,
  nan,
  nan,
  756.1521,
  698.1251,
  760.5779,
  nan,
  213.7041,
  nan,
  nan,
  701.6564,
  nan,
  665.4253,
  nan,
  899.3554,
  756.6706,
  nan,
  2306.7559,
  nan,
  853.258,
  193.1147,
  205.3667,
  603.6579,
  nan,
  225.651,
  nan,
  nan,
  2269.3519,
  861.2861,
  nan,
  nan,
  912.3119,
  890.965,
  759.0817,
  nan,
  922.3637,
  nan,
  506.8565,
  868.8829,
  nan,
  nan,
  nan,
  nan,
  908.9388,
  847.534,
  nan,
  nan,
  nan,
  nan,
  nan,
  nan,
  nan,
  nan,
  nan,
  nan,
  nan,
  nan,
  nan,
  nan,
  nan,
  nan,
  nan,
  nan,
  nan,
  nan,
  454.6304,
  nan,
  nan,
  nan,
  nan,
  nan,
  nan,
  nan,
  nan,
  nan,
  nan,
  nan,
  nan,
  nan,
  nan,
  nan,
  nan,
  nan,
  nan,
  nan,
  nan,
  nan,
  nan,
  nan,
  nan,
  nan,
  nan,
  nan,
  nan,
  nan,
  nan,
  nan,
  nan,
  nan,
  nan,
  nan,
  nan,
  nan,
  nan,
  nan,
  nan,
  nan,
  nan,
  nan,
  nan,
  nan,
  nan,
  nan,
  nan,
  nan,
  nan,
  nan,
  nan,
  nan,
  nan,
  nan,
  nan,
  nan,
  nan,
  nan,
  nan,
  nan,
  nan,
  532.9549,
  nan,
  nan,
  nan,
  nan,
  nan,
  nan,
  nan,
  nan,
  nan,
  nan,
  nan,
  nan,
  nan,
  nan,
  nan,
  nan,
  nan,
  nan,
  nan,
  nan,
  nan,
  nan,
  nan,
  nan,
  nan,
  nan,
  nan,
  nan,
  nan,
  nan,
  2351.0143,
  nan,
  909.2004,
  nan,
  564.3942,
  383.7521,
  nan,
  1055.8876,
  2360.1895,
  417.9104,
  nan,
  761.105,
  2431.7825,
  419.3949,
  624.9959,
  2080.3649,
  417.7185,
  387.5646,
  1053.2118,
  408.9409,
  nan,
  243.4825,
  395.0421,
  237.2444,
  245.6172,
  nan,
  241.0995,
  nan,
  nan,
  253.8034,
  232.2863,
  1433.4902,
  249.9862,
  nan,
  1436.471,
  451.3696,
  1467.9208,
  nan,
  1061.3276,
  1325.2159,
  nan,
  1390.1642,
  2307.1712,
  2156.1659,
  590.7355,
  252.042,
  232.4903,
  231.25,
  2175.6585,
  244.9126,
  208.0784,
  2143.8154,
  nan,
  nan,
  234.7447,
  206.7724,
  209.3539,
  nan,
  244.2085,
  425.0759,
  232.8056,
  389.3034,
  394.5028,
  2081.5135,
  nan,
  227.8183,
  nan,
  410.2804,
  nan,
  nan,
  nan,
  nan,
  nan,
  nan,
  nan,
  2163.4617,
  261.8427,
  nan,
  426.3467,
  250.3918,
  385.5049,
  442.9671,
  393.1512,
  200.1862,
  395.8317,
  405.8244,
  2176.4953,
  245.317,
  nan,
  240.704,
  nan,
  416.8039,
  1387.7849,
  2226.4266,
  424.1606,
  2182.5743,
  nan,
  nan,
  402.2269,
  nan,
  nan,
  nan,
  nan,
  nan,
  2178.85,
  433.4371,
  nan,
  410.5898,
  nan,
  592.2957,
  nan,
  405.9713,
  209.1062,
  392.841,
  406.9401,
  232.6268,
  600.367,
  619.1582,
  2145.019,
  241.7774,
  2155.7486,
  nan,
  2128.1262,
  nan,
  594.9989,
  nan,
  nan,
  nan,
  nan,
  nan,
  218.0089,
  2134.9126,
  2200.9197,
  2162.4405,
  742.4544,
  nan,
  222.1533,
  nan,
  2147.7166,
  2206.3174,
  2210.4149,
  919.6117,
  nan,
  597.8123,
  nan,
  nan,
  nan,
  nan,
  nan,
  nan,
  2132.7732,
  nan,
  2079.7939,
  231.6695,
  2092.1502,
  593.3865,
  nan,
  nan,
  624.1007,
  2084.0724,
  nan,
  nan,
  nan,
  nan,
  nan,
  nan,
  593.681,
  610.7648,
  nan,
  605.1183,
  2080.2907,
  nan,
  611.8766,
  nan,
  nan,
  2165.4543,
  409.2454,
  616.1488,
  nan,
  410.7135,
  nan,
  390.5438,
  484.3308,
  2074.4125,
  415.0874,
  427.8255,
  389.763,
  nan,
  nan,
  428.544,
  nan,
  393.9101,
  nan,
  408.5851,
  451.6458,
  nan,
  598.5558,
  473.8914,
  2083.4569,
  482.4477,
  nan,
  423.1597,
  nan,
  410.0368,
  389.4017,
  nan,
  nan,
  436.1437,
  459.0022,
  580.7367,
  610.5958,
  408.1929,
  474.0984,
  nan,
  413.4392,
  255.5647,
  nan,
  2045.6592,
  nan,
  2073.5944,
  2221.6327,
  418.4911,
  2232.1239,
  nan,
  415.2318,
  2136.089,
  nan,
  631.0059,
  408.6153,
  nan,
  2084.137,
  263.2349,
  356.5926,
  343.1993,
  350.6157,
  406.4755,
  354.6789,
  425.5691,
  510.5323,
  247.8142,
  415.3046,
  421.6263,
  411.1313,
  416.2901,
  405.9889,
  411.6395,
  230.1048,
  585.205,
  nan,
  199.9633,
  533.6621,
  439.5553,
  nan,
  264.4883,
  401.9802,
  479.8138,
  462.9594,
  428.7855,
  507.7064,
  385.6909,
  386.9198,
  nan,
  nan,
  227.5648,
  2185.8318,
  396.8613,
  410.5943,
  426.2168,
  2206.3174,
  390.3363,
  466.0274,
  414.3261,
  1211.745,
  nan,
  2159.7989,
  573.5961,
  1516.6055,
  nan,
  747.6523,
  1206.9656,
  1204.5253,
  nan,
  1516.3784,
  nan,
  nan,
  1196.6016,
  1512.6381,
  nan,
  nan,
  nan,
  nan,
  nan,
  nan,
  1201.3828,
  nan,
  1510.1685,
  1232.5577,
  nan,
  1264.2834,
  1513.7026,
  nan,
  1211.3603,
  1201.2953,
  1202.4536,
  1204.9947,
  606.4306,
  nan,
  nan,
  nan,
  1241.3961,
  1509.6251,
  623.9749,
  761.2578,
  2081.6451,
  1239.7935,
  nan,
  1514.2806,
  1512.7005,
  nan,
  2222.6414,
  nan,
  1509.4204,
  1221.7682,
  2221.7003,
  8.2013,
  1486.953,
  nan,
  877.9531,
  nan,
  598.7282,
  2232.4426,
  1209.4868,
  1507.7261,
  1521.0864,
  2225.9031,
  759.3096,
  nan,
  nan,
  767.9913,
  nan,
  2059.5218,
  896.5959,
  2205.5069,
  810.1898,
  nan,
  1506.7597,
  2061.8743,
  nan,
  2229.3857,
  nan,
  nan,
  1520.9184,
  2755.0688,
  nan,
  2070.1277,
  2270.7093,
  1516.6217,
  nan,
  1522.2038,
  696.6116,
  nan,
  2216.9311,
  2212.2058,
  nan,
  2203.3556,
  1521.4577,
  1511.1271,
  1518.9532,
  770.5852,
  nan,
  227.1103,
  600.1942,
  nan,
  413.8016,
  371.1195,
  1497.625,
  nan,
  1516.2883,
  1524.6377,
  608.926,
  611.1333,
  2723.1385,
  nan,
  416.9755,
  nan,
  1498.5927,
  748.6007,
  1515.7548,
  450.6978,
  248.9359,
  nan,
  1521.92,
  nan,
  1525.5735,
  429.8643,
  487.0529,
  nan,
  nan,

## Build a dictionary to convert the internal store id to raw store id
   - value  : FAC_NBR
   - key    : Inner store id

In [9]:
keys = df.facnbr_idx.to_list()
val_fac_nbr = df.FAC_NBR.to_list()
d_fac_nbr = dict(zip(keys, val_fac_nbr))
val_addr = df.address.to_list()
d_fac_nbr_addr = dict(zip(keys, val_addr))

In [19]:
d_fac_nbr[0]

1

## Get k nearest stores
- Build an array to get all the distances  
   -  store_dist: a list to have all the inner store id, the distance related to the target store ssid
      -  store_dist will pass to heapq.nsmallest to get K nearst strores
         - heapq.nsmallest is a Python method to sore a dictionary by value
      - innerID: inner store id
         - kNeighbors is a list of tuple with (innerID, dist), e.g.  
            [(iid0, dist0), (iid1, dist1) .... (iid9, dist9)] 
            - iid0 would have the smallest distance and is close to siid most

In [43]:
K = 11
l_knbr=[]
for siid in range(len(df)):   
    distRow = distMatrix [siid]
    
    store_dist = []        
    for innerID, dist in enumerate(distRow):
        if (math.isnan(float(dist) )!= True):
            store_dist.append( (innerID, dist) )  
  
    if len(store_dist) != 0:        
       kNeighbors = heapq.nsmallest(K, store_dist, key=lambda strDist: strDist[1]) 
       knbr_x     = list (itertools.chain(*kNeighbors)) 
       
       knbr_id    = knbr_x[::2]       # Get internal store id from knbr_x (:2 would skip the dist)
       knbr_dist  = knbr_x[1::2]      # get distance 
       knbr_strid = [d_fac_nbr[x] for x in knbr_id]      # Convert internal id to raw id  
       knbr_addr  = [d_fac_nbr_addr[x] for x in knbr_id] # Get store address
          
       
       for i in range(K):
           rid = d_fac_nbr[siid]
           dist_rnk = i 
           l_knbr.append([rid, knbr_strid[i], knbr_dist[i], dist_rnk, knbr_addr[i]] )

## Create a daframe from l_knbr

In [46]:

df_knbr = pd.DataFrame(l_knbr, columns =['FAC_NBR', 'knbr_strid', 'knbr_dist', 'dist_rnk', 'knbr_addr'])

In [47]:
df_knbr.head(20)

,FAC_NBR,knbr_strid,knbr_dist,dist_rnk,knbr_addr
0,1,1,0.0000,0,1340 PATRIOT BLVD GLENVIEW IL 60026
1,1,1014,1.0821,1,1020 WAUKEGAN RD. GLENVIEW IL 60025
2,1,1052,5.1567,2,4125 DUNDEE RD. NORTHBROOK IL 60062
3,1,1028,5.2291,3,1145-55 MT. PROSPECT PLAZA MT. PROSPECT IL 60056
4,1,1101,5.3156,4,1555 LEE ST. DES PLAINES IL 60018
5,1,1163,5.4980,5,1919 SKOKIE VALLEY RD. HIGHLAND PARK IL 60035
6,1,1113,5.9151,6,6312 N. NAGLE AVE. CHICAGO IL 60646
7,1,1137,6.0654,7,2748 GREEN BAY RD. EVANSTON IL 60201
8,1,1032,6.3680,8,1900 S. CUMBERLAND AVE. PARK RIDGE IL 60068
9,1,1093,8.0538,9,525 CHICAGO AVE. EVANSTON IL 60202
10,1,74,8.4919,10,7000 W. FOREST PRESERVE DR. NORRIDGE IL 60176
11,2,2,0.0000,0,201 SOUTH STEPHANIE STREET Henderson NV 89012
12,2,14,4.8788,1,575 COLLEGE DRIVE Henderson NV 89015
13,2,1059,8.2013,2,5500 BOULDER HWY Las Vegas NV 89122
14,2,332,8.9033,3,4800 Blue Diamond Road Las Vegas NV 89139
15,2,93,9.6094,4,1008 NEVADA HIGHWAY Boulder City NV 89005
16,2,45,9.7708,5,1760 EAST CHARLESTON BOULEVARD Las Vegas NV 89104
17,2,276,11.0719,6,7350 SOUTH RAINBOW BLVD. Las Vegas NV 89139
18,2,89,11.6287,7,6885 E LAKE MEAD BLVD Las Vegas NV 89156
19,2,46,14.0454,8,1001 S. Rainbow Blvd. Las Vegas NV 89145

## load the dataframe to a table

In [57]:
df_knbr.knbr_addr = df_knbr.knbr_addr.astype(str)

In [60]:
    fnc_name = 'Load table'
    start_time = time.time()
    tbl_nm = "rs_nearst_store"
    
    df_knbr.to_sql(con=td_enginex, name=tbl_nm, if_exists='replace', index = False)
    end_time = time.time()
    cf_elapse_time (  start_time, end_time, "Function {0} to load table {1} completed.".format(fnc_name, tbl_nm))

 Function Load table to load table rs_nearst_store completed. It took 127.388979 seconds - 0hh:2mm:7ss.
 start time: Oct 10 2019 09:07:48  end time:  Oct 10 2019 09:09:56

In [10]:
df.location.isnull().sum()

2714

In [11]:
df.shape

(3429, 5)

In [232]:
l_knbr[0:1]

[[1, 1017, 1.082132327351341, 1, '1414 LOOP 336 W. CONROE TX 77304']]

In [12]:
df_matrix = pd.DataFrame(data = distMatrix, columns = val_fac_nbr, index = val_fac_nbr   )

In [13]:
df_matrix.head()

,1,2,3,4,5,6,7,8,9,10,...,4932,4933,4964,4967,4970,4979,4984,4995,4999,9953
1,0.0000,1515.3969,NaN,1438.8518,NaN,NaN,1254.2021,910.8979,1188.9415,NaN,...,723.2867,602.1927,603.7575,NaN,NaN,NaN,NaN,NaN,NaN,1825.6769
2,1515.3969,0.0000,NaN,226.2499,NaN,NaN,700.3509,605.4764,701.6488,NaN,...,2227.8388,2077.4211,2081.8431,NaN,NaN,NaN,NaN,NaN,NaN,398.2385
3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,1438.8518,226.2499,NaN,0.0000,NaN,NaN,842.1355,564.5797,827.6273,NaN,...,2131.0980,1969.9663,1975.2583,NaN,NaN,NaN,NaN,NaN,NaN,612.6175
5,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

## Create a dataframe from distMatrix
    - There are 3429 columns from the distMatrix
      - Since too many columns, can not save the DF directly from distMatrix to an excel or a table
        - Need to dismelt one row with length of 3429 to 3429 rows and create a dataframe 
          -  distMatrix[0] is the row of distances bwtween fac_nbr = 1 and all the stores
          -  distMatrix[0] = [0, 1515.3969, nan, 1438.8518,nan, ....]
             -  1515.3969 is the distance between fac_nbr = 1 and fac_nbr = 2
             -  The address of fac_nbr = 3 is invalid,  the distance between fac_nbr = 1 and fac_nbr = 3 
                would be nan 
                - The address of fac_nbr = 3 is 14800 S E SUNNYSIDE RD Clackamas OR 97015
                  - The valid address of fac_nbr = 3 S.B.  14800 SE SUNNYSIDE RD Clackamas OR 97015 
          -  will create an list with value like
             [[1,1,0], [1,2, 1515.3969], [1,3,nan], [1, 4, 1438.8518],......]
          -  The lists will create an array and create a dataframe which will be loaded into a table
          -  l_str_dis is a list, use extend to add the list to a_str_dis
             - append adds its argument as a single element to the end of a list. The length of the list itself will                  increase by one.
             - extend iterates over its argument adding each element to the list, extending the list. The length of the            list will increase by however many elements were in the iterable argument

In [24]:
a_str_dis=[]
str_cnt = len(df)
for siid in range(str_cnt): 
    id = d_fac_nbr[siid]
    l_id  = [id for i in range(str_cnt)]
    l_dis = distMatrix[siid]
    l_str_dis_tuple = list(zip(l_id, val_fac_nbr, l_dis))
    l_str_dis = [list(x) for x in l_str_dis_tuple]
    a_str_dis.extend(l_str_dis)

In [16]:
df_dist = pd.DataFrame(a_str_dis, columns =['fac_nbr', 'str_id', 'distance'])

In [31]:
df_dist_x = df_dist.dropna()

In [32]:
df_dist_x.shape

(511225, 3)

In [34]:

fnc_name = 'Load matrix table'
start_time = time.time()
tbl_nm = "rs_store_dist"

df_dist_x.to_sql(con=td_enginex, name=tbl_nm, if_exists='replace', index = False)
end_time = time.time()
cf_elapse_time (  start_time, end_time, "Function {0} to load table {1} completed.".format(fnc_name, tbl_nm))

 Function Load matrix table to load table rs_store_dist completed. It took 5559.345044 seconds - 1hh:32mm:39ss.
 start time: Oct 15 2019 15:35:50  end time:  Oct 15 2019 17:08:29

In [144]:
df_dist.shape

(11758041, 3)

In [36]:
pwd

'C:\\Users\\syue003\\wip_RecSys'

In [38]:
import pandas
pandas.__path__

['C:\\ProgramData\\Anaconda3\\lib\\site-packages\\pandas']

In [92]:
distMatrix[0]

[0.0,
 1515.3969,
 nan,
 1438.8518,
 nan,
 nan,
 1254.2021,
 910.8979,
 1188.9415,
 nan,
 nan,
 nan,
 1524.9841,
 1511.6606,
 nan,
 nan,
 nan,
 1116.285,
 1329.7978,
 nan,
 nan,
 1437.8323,
 1328.2048,
 nan,
 nan,
 nan,
 910.2298,
 nan,
 nan,
 891.24,
 nan,
 1206.9245,
 1062.0418,
 nan,
 nan,
 920.4738,
 nan,
 1331.067,
 1515.8737,
 1521.8449,
 nan,
 nan,
 25.0304,
 24.0656,
 990.5019,
 nan,
 29.0291,
 948.811,
 1517.8377,
 943.6534,
 34.9493,
 977.5544,
 878.8068,
 881.5891,
 903.9133,
 20.2054,
 812.8167,
 8.4919,
 50.4853,
 13.2879,
 1014.4444,
 nan,
 nan,
 nan,
 nan,
 1513.4191,
 1519.24,
 1754.7492,
 27.5744,
 1509.4865,
 9.5029,
 907.0901,
 1438.7938,
 1329.1673,
 1462.6336,
 nan,
 nan,
 813.8568,
 613.6513,
 1747.4767,
 nan,
 1737.3546,
 1747.1957,
 nan,
 836.6195,
 673.5382,
 1747.4991,
 nan,
 754.0131,
 1519.9898,
 1438.195,
 851.5094,
 783.5468,
 nan,
 23.7505,
 615.4535,
 1720.9153,
 nan,
 43.4947,
 577.6,
 nan,
 1344.8521,
 1474.876,
 nan,
 890.5663,
 nan,
 nan,
 905.1217,
 nan,
 1229.7889,
 903.3,
 1736.234,
 901.4713,
 nan,
 nan,
 nan,
 1232.3641,
 855.5102,
 680.8579,
 nan,
 nan,
 929.3429,
 nan,
 nan,
 1750.3147,
 1442.0114,
 1445.6265,
 1440.7956,
 26.2223,
 1727.6678,
 nan,
 1444.2229,
 nan,
 1440.8096,
 855.5434,
 nan,
 nan,
 1461.6495,
 927.2874,
 nan,
 1437.3633,
 1734.369,
 1216.5027,
 1037.6832,
 nan,
 1447.5469,
 1457.4865,
 1445.8749,
 nan,
 1450.0393,
 1442.217,
 1445.5598,
 1168.2721,
 1436.6701,
 26.2734,
 nan,
 nan,
 nan,
 1440.7744,
 1778.8201,
 1739.1581,
 659.3535,
 nan,
 nan,
 nan,
 1431.0873,
 1438.195,
 nan,
 4244.1652,
 12.8341,
 4244.3416,
 4242.0957,
 4235.0833,
 1497.0623,
 4237.9042,
 1726.9811,
 933.8243,
 4245.9304,
 1521.8165,
 1579.1742,
 nan,
 4237.7692,
 nan,
 1781.4488,
 738.2091,
 nan,
 4190.4699,
 809.2314,
 764.9884,
 792.7287,
 nan,
 1532.4407,
 753.2876,
 1646.5116,
 1571.2973,
 1319.7739,
 nan,
 832.2953,
 nan,
 nan,
 1452.753,
 715.6018,
 1470.097,
 1325.7669,
 1444.7009,
 1472.0881,
 905.9504,
 nan,
 913.3689,
 1430.6209,
 1487.518,
 1441.0571,
 nan,
 1307.894,
 1432.9638,
 nan,
 1579.0855,
 1425.4952,
 1464.7698,
 nan,
 1777.6635,
 1447.8171,
 1484.0967,
 1255.0434,
 563.6684,
 nan,
 1726.6367,
 787.0623,
 16.5247,
 nan,
 1737.1614,
 nan,
 nan,
 800.4218,
 nan,
 610.9586,
 1385.0992,
 1785.1737,
 1431.2555,
 nan,
 1524.7582,
 nan,
 nan,
 nan,
 nan,
 4245.3614,
 nan,
 19.829,
 nan,
 1750.6685,
 510.1942,
 1181.962,
 nan,
 677.7675,
 nan,
 720.4029,
 724.4371,
 nan,
 nan,
 1745.5984,
 nan,
 nan,
 nan,
 nan,
 1764.0854,
 16.1606,
 nan,
 nan,
 nan,
 1534.0423,
 1858.3442,
 1832.2224,
 1769.083,
 nan,
 1839.9369,
 1816.0367,
 1739.7873,
 1831.0235,
 nan,
 1778.5167,
 1778.1503,
 884.9078,
 nan,
 923.0164,
 1740.7792,
 nan,
 1742.5995,
 770.1186,
 914.5044,
 1728.736,
 914.1139,
 1661.5551,
 1523.4848,
 1578.7612,
 1573.3947,
 1737.9794,
 1510.7885,
 nan,
 1273.1655,
 nan,
 nan,
 1494.5173,
 nan,
 nan,
 nan,
 1457.3948,
 nan,
 nan,
 1767.1142,
 nan,
 1792.0113,
 1806.5225,
 1734.094,
 1745.474,
 1724.8374,
 nan,
 nan,
 nan,
 nan,
 nan,
 1763.7055,
 1484.0819,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 1807.7379,
 1738.6893,
 1469.7734,
 1521.2795,
 1780.7698,
 1738.5135,
 nan,
 1750.4694,
 938.2293,
 nan,
 1759.5444,
 1801.9664,
 1733.551,
 nan,
 nan,
 1715.4007,
 1738.5626,
 1708.4265,
 nan,
 2780.6465,
 1765.4712,
 1755.1961,
 nan,
 nan,
 nan,
 1722.7747,
 1767.8153,
 1441.3776,
 1722.038,
 nan,
 1731.7427,
 809.2134,
 852.0051,
 1737.7543,
 1775.3854,
 603.3554,
 1721.1636,
 nan,
 1750.9722,
 1751.9221,
 853.4497,
 nan,
 nan,
 1732.7252,
 851.7373,
 nan,
 946.1485,
 nan,
 1719.7732,
 nan,
 nan,
 872.1724,
 845.0253,
 1723.3021,
 1717.3324,
 nan,
 nan,
 nan,
 nan,
 1718.222,
 1067.5577,
 1714.591,
 1731.6357,
 1717.6022,
 nan,
 1526.6031,
 1048.6922,
 1637.7058,
 nan,
 1851.2886,
 1722.2129,
 nan,
 nan,
 1720.4188,
 1715.3174,
 nan,
 nan,
 nan,
 1716.8411,
 1735.7716,
 nan,
 nan,
 1717.6043,
 1772.478,
 nan,
 nan,
 nan,
 841.7236,
 1722.0733,
 nan,
 nan,
 nan,
 nan,
 nan,
 1738.9519,
 nan,
 1706.308,
 850.8517,
 nan,
 1724.8129,
 1727.672,
 1755.6039,
 1806.3124,
 1640.9931,
 nan,
 nan,
 nan,
 1745.1587,
 1778.1507,
 1745.394,
 nan,
 1718.8179,
 nan,
 nan,
 1780.892,
 nan,
 1798.8495,
 nan,
 1717.6035,
 1751.2366,
 nan,
 2837.7186,
 nan,
 1721.1556,
 1699.6558,
 1711.7359,
 1785.4855,
 nan,
 1727.2732,
 nan,
 nan,
 755.0882,
 1717.9565,
 nan,
 nan,
 1716.1177,
 1717.2862,
 1731.8538,
 nan,
 1743.8857,
 nan,
 1788.7835,
 1734.3458,
 nan,
 nan,
 nan,
 nan,
 939.4804,
 1721.5187,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 1848.2219,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 986.9263,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 835.7295,
 nan,
 935.9863,
 nan,
 1145.2545,
 1148.9939,
 nan,
 790.8749,
 845.1564,
 1838.3997,
 nan,
 972.3853,
 916.8248,
 1838.5905,
 1091.003,
 604.9596,
 1849.0193,
 1833.7283,
 829.2333,
 1828.4893,
 nan,
 1751.4709,
 1836.5744,
 1721.8242,
 1724.2344,
 nan,
 1703.6077,
 nan,
 nan,
 1721.1635,
 1712.2057,
 824.6789,
 1717.486,
 nan,
 823.2084,
 1844.753,
 811.893,
 nan,
 745.2614,
 873.4294,
 nan,
 854.984,
 2839.2566,
 656.0617,
 950.788,
 1717.9742,
 1736.9037,
 1702.4567,
 677.329,
 1713.5112,
 1710.7128,
 648.288,
 nan,
 nan,
 1718.8215,
 1697.3369,
 1702.2842,
 nan,
 1711.6759,
 1849.7088,
 1717.3968,
 1832.8215,
 1838.7659,
 607.1653,
 nan,
 1715.2618,
 nan,
 1846.2918,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 663.5177,
 1726.7943,
 nan,
 1851.4112,
 1721.2364,
 1852.4697,
 1834.4388,
 1834.4329,
 1702.179,
 1838.3724,
 1832.9811,
 676.0768,
 1719.0642,
 nan,
 1715.3054,
 nan,
 1828.6593,
 852.8154,
 729.3625,
 1852.2819,
 681.3758,
 nan,
 nan,
 1841.2172,
 nan,
 nan,
 nan,
 nan,
 nan,
 678.9075,
 1851.7187,
 nan,
 1836.046,
 nan,
 1869.9702,
 nan,
 1834.8737,
 1705.8455,
 1847.1602,
 1116.8698,
 1738.206,
 915.4873,
 905.8336,
 651.7446,
 1750.4601,
 660.624,
 nan,
 651.5417,
 nan,
 921.0284,
 nan,
 nan,
 nan,
 nan,
 nan,
 1724.4835,
 652.8839,
 715.575,
 676.2359,
 894.0464,
 nan,
 1725.0346,
 nan,
 652.7021,
 718.0778,
 719.0481,
 1110.0327,
 nan,
 918.1079,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 647.5206,
 nan,
 602.974,
 1739.0218,
 614.9264,
 922.9669,
 nan,
 nan,
 902.8128,
 610.8976,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 922.2794,
 908.0143,
 nan,
 912.1251,
 606.808,
 nan,
 906.5654,
 nan,
 nan,
 694.8561,
 1112.4273,
 900.1186,
 nan,
 1826.2649,
 nan,
 1844.8546,
 1116.8515,
 601.8687,
 1837.6851,
 1852.358,
 1818.0623,
 nan,
 nan,
 1829.2549,
 nan,
 1839.4163,
 nan,
 1827.3173,
 1850.3228,
 nan,
 927.7882,
 1127.9299,
 607.9069,
 1116.0672,
 nan,
 1840.1206,
 nan,
 1827.1958,
 1829.3003,
 nan,
 nan,
 1849.1271,
 1855.1293,
 1247.0442,
 908.0848,
 1825.6409,
 1126.4683,
 nan,
 1828.4298,
 1444.5469,
 nan,
 572.1404,
 nan,
 596.6241,
 712.5732,
 1849.915,
 727.1357,
 nan,
 1840.3768,
 659.0631,
 nan,
 1860.7606,
 1823.9024,
 nan,
 604.4407,
 1430.7864,
 1435.8611,
 1437.8831,
 1438.0319,
 1827.2275,
 1434.1131,
 1851.1146,
 1860.3913,
 1437.2237,
 1834.4829,
 1831.4895,
 1832.3891,
 1848.6916,
 1833.8062,
 1827.7513,
 1446.3149,
 1878.0924,
 nan,
 1461.9208,
 1883.0576,
 1848.9748,
 nan,
 1445.8019,
 1826.0999,
 1846.0987,
 1832.8787,
 1852.8582,
 1074.1716,
 1828.7263,
 1828.2223,
 nan,
 nan,
 1448.2689,
 688.1893,
 1830.8982,
 1836.5064,
 1849.2298,
 718.0778,
 1835.2404,
 1852.9334,
 1846.6754,
 946.2835,
 nan,
 659.5213,
 1247.9588,
 24.102,
 nan,
 1329.8078,
 953.2589,
 940.0199,
 nan,
 1.0821,
 nan,
 nan,
 917.2018,
 9.8863,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 938.3395,
 nan,
 5.2291,
 953.7279,
 nan,
 966.2668,
 6.368,
 nan,
 943.8847,
 938.7274,
 937.4413,
 927.1131,
 910.4702,
 nan,
 nan,
 nan,
 938.5197,
 19.3699,
 895.9426,
 1748.9308,
 606.6094,
 957.2264,
 nan,
 28.9975,
 5.1567,
 nan,
 712.6021,
 nan,
 21.6883,
 925.2556,
 710.8882,
 1514.9013,
 35.2481,
 nan,
 1720.3492,
 nan,
 917.0646,
 723.1881,
 951.9176,
 16.1374,
 9.6064,
 715.4038,
 1735.7168,
 nan,
 nan,
 1752.6716,
 nan,
 575.2808,
 1711.8725,
 696.4284,
 1755.7815,
 nan,
 9.233,
 589.1761,
 nan,
 721.1412,
 nan,
 nan,
 11.5231,
 4235.0865,
 nan,
 591.3123,
 2945.571,
 25.4438,
 nan,
 8.0538,
 1773.4873,
 nan,
 709.3867,
 705.6558,
 nan,
 693.1905,
 18.5647,
 5.3156,
 27.9965,
 1741.0649,
 nan,
 1734.115,
 918.0901,
 nan,
 1811.7865,
 1836.9651,
 27.3674,
 nan,
 5.9151,
 33.8572,
 908.0979,
 910.5039,
 4218.7103,
 nan,
 1838.8599,
 nan,
 16.8062,
 1689.0954,
 13.3051,
 1775.2897,
 1431.0873,
 nan,
 8.9042,
 nan,
 25.045,
 1085.5976,
 1035.025,
 nan,
 nan,
 nan,
 nan,
 6.0654,
 1847.9433,
 nan,
 nan,
 27.8936,
 nan,
 1724.8269,
 nan,
 915.9888,
 ...]

In [8]:
df.shape

(3429, 4)

In [25]:
distMatrix[0]

[0.0,
 1515.3969,
 nan,
 1438.8518,
 nan,
 nan,
 1254.2021,
 910.8979,
 1188.9415,
 nan,
 nan,
 nan,
 1524.9841,
 1511.6606,
 nan,
 nan,
 nan,
 1116.285,
 1329.7978,
 nan,
 nan,
 1437.8323,
 1328.2048,
 nan,
 nan,
 nan,
 910.2298,
 nan,
 nan,
 891.24,
 nan,
 1206.9245,
 1062.0418,
 nan,
 nan,
 920.4738,
 nan,
 1331.067,
 1515.8737,
 1521.8449,
 nan,
 nan,
 25.0304,
 24.0656,
 990.5019,
 nan,
 29.0291,
 948.811,
 1517.8377,
 943.6534,
 34.9493,
 977.5544,
 878.8068,
 881.5891,
 903.9133,
 20.2054,
 812.8167,
 8.4919,
 50.4853,
 13.2879,
 1014.4444,
 nan,
 nan,
 nan,
 nan,
 1513.4191,
 1519.24,
 1754.7492,
 27.5744,
 1509.4865,
 9.5029,
 907.0901,
 1438.7938,
 1329.1673,
 1462.6336,
 nan,
 nan,
 813.8568,
 613.6513,
 1747.4767,
 nan,
 1737.3546,
 1747.1957,
 nan,
 836.6195,
 673.5382,
 1747.4991,
 nan,
 754.0131,
 1519.9898,
 1438.195,
 851.5094,
 783.5468,
 nan,
 23.7505,
 615.4535,
 1720.9153,
 nan,
 43.4947,
 577.6,
 nan,
 1344.8521,
 1474.876,
 nan,
 890.5663,
 nan,
 nan,
 905.1217,
 nan,
 1229.7889,
 903.3,
 1736.234,
 901.4713,
 nan,
 nan,
 nan,
 1232.3641,
 855.5102,
 680.8579,
 nan,
 nan,
 929.3429,
 nan,
 nan,
 1750.3147,
 1442.0114,
 1445.6265,
 1440.7956,
 26.2223,
 1727.6678,
 nan,
 1444.2229,
 nan,
 1440.8096,
 855.5434,
 nan,
 nan,
 1461.6495,
 927.2874,
 nan,
 1437.3633,
 1734.369,
 1216.5027,
 1037.6832,
 nan,
 1447.5469,
 1457.4865,
 1445.8749,
 nan,
 1450.0393,
 1442.217,
 1445.5598,
 1168.2721,
 1436.6701,
 26.2734,
 nan,
 nan,
 nan,
 1440.7744,
 1778.8201,
 1739.1581,
 659.3535,
 nan,
 nan,
 nan,
 1431.0873,
 1438.195,
 nan,
 4244.1652,
 12.8341,
 4244.3416,
 4242.0957,
 4235.0833,
 1497.0623,
 4237.9042,
 1726.9811,
 933.8243,
 4245.9304,
 1521.8165,
 1579.1742,
 nan,
 4237.7692,
 nan,
 1781.4488,
 738.2091,
 nan,
 4190.4699,
 809.2314,
 764.9884,
 792.7287,
 nan,
 1532.4407,
 753.2876,
 1646.5116,
 1571.2973,
 1319.7739,
 nan,
 832.2953,
 nan,
 nan,
 1452.753,
 715.6018,
 1470.097,
 1325.7669,
 1444.7009,
 1472.0881,
 905.9504,
 nan,
 913.3689,
 1430.6209,
 1487.518,
 1441.0571,
 nan,
 1307.894,
 1432.9638,
 nan,
 1579.0855,
 1425.4952,
 1464.7698,
 nan,
 1777.6635,
 1447.8171,
 1484.0967,
 1255.0434,
 563.6684,
 nan,
 1726.6367,
 787.0623,
 16.5247,
 nan,
 1737.1614,
 nan,
 nan,
 800.4218,
 nan,
 610.9586,
 1385.0992,
 1785.1737,
 1431.2555,
 nan,
 1524.7582,
 nan,
 nan,
 nan,
 nan,
 4245.3614,
 nan,
 19.829,
 nan,
 1750.6685,
 510.1942,
 1181.962,
 nan,
 677.7675,
 nan,
 720.4029,
 724.4371,
 nan,
 nan,
 1745.5984,
 nan,
 nan,
 nan,
 nan,
 1764.0854,
 16.1606,
 nan,
 nan,
 nan,
 1534.0423,
 1858.3442,
 1832.2224,
 1769.083,
 nan,
 1839.9369,
 1816.0367,
 1739.7873,
 1831.0235,
 nan,
 1778.5167,
 1778.1503,
 884.9078,
 nan,
 923.0164,
 1740.7792,
 nan,
 1742.5995,
 770.1186,
 914.5044,
 1728.736,
 914.1139,
 1661.5551,
 1523.4848,
 1578.7612,
 1573.3947,
 1737.9794,
 1510.7885,
 nan,
 1273.1655,
 nan,
 nan,
 1494.5173,
 nan,
 nan,
 nan,
 1457.3948,
 nan,
 nan,
 1767.1142,
 nan,
 1792.0113,
 1806.5225,
 1734.094,
 1745.474,
 1724.8374,
 nan,
 nan,
 nan,
 nan,
 nan,
 1763.7055,
 1484.0819,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 1807.7379,
 1738.6893,
 1469.7734,
 1521.2795,
 1780.7698,
 1738.5135,
 nan,
 1750.4694,
 938.2293,
 nan,
 1759.5444,
 1801.9664,
 1733.551,
 nan,
 nan,
 1715.4007,
 1738.5626,
 1708.4265,
 nan,
 2780.6465,
 1765.4712,
 1755.1961,
 nan,
 nan,
 nan,
 1722.7747,
 1767.8153,
 1441.3776,
 1722.038,
 nan,
 1731.7427,
 809.2134,
 852.0051,
 1737.7543,
 1775.3854,
 603.3554,
 1721.1636,
 nan,
 1750.9722,
 1751.9221,
 853.4497,
 nan,
 nan,
 1732.7252,
 851.7373,
 nan,
 946.1485,
 nan,
 1719.7732,
 nan,
 nan,
 872.1724,
 845.0253,
 1723.3021,
 1717.3324,
 nan,
 nan,
 nan,
 nan,
 1718.222,
 1067.5577,
 1714.591,
 1731.6357,
 1717.6022,
 nan,
 1526.6031,
 1048.6922,
 1637.7058,
 nan,
 1851.2886,
 1722.2129,
 nan,
 nan,
 1720.4188,
 1715.3174,
 nan,
 nan,
 nan,
 1716.8411,
 1735.7716,
 nan,
 nan,
 1717.6043,
 1772.478,
 nan,
 nan,
 nan,
 841.7236,
 1722.0733,
 nan,
 nan,
 nan,
 nan,
 nan,
 1738.9519,
 nan,
 1706.308,
 850.8517,
 nan,
 1724.8129,
 1727.672,
 1755.6039,
 1806.3124,
 1640.9931,
 nan,
 nan,
 nan,
 1745.1587,
 1778.1507,
 1745.394,
 nan,
 1718.8179,
 nan,
 nan,
 1780.892,
 nan,
 1798.8495,
 nan,
 1717.6035,
 1751.2366,
 nan,
 2837.7186,
 nan,
 1721.1556,
 1699.6558,
 1711.7359,
 1785.4855,
 nan,
 1727.2732,
 nan,
 nan,
 755.0882,
 1717.9565,
 nan,
 nan,
 1716.1177,
 1717.2862,
 1731.8538,
 nan,
 1743.8857,
 nan,
 1788.7835,
 1734.3458,
 nan,
 nan,
 nan,
 nan,
 939.4804,
 1721.5187,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 1848.2219,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 986.9263,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 835.7295,
 nan,
 935.9863,
 nan,
 1145.2545,
 1148.9939,
 nan,
 790.8749,
 845.1564,
 1838.3997,
 nan,
 972.3853,
 916.8248,
 1838.5905,
 1091.003,
 604.9596,
 1849.0193,
 1833.7283,
 829.2333,
 1828.4893,
 nan,
 1751.4709,
 1836.5744,
 1721.8242,
 1724.2344,
 nan,
 1703.6077,
 nan,
 nan,
 1721.1635,
 1712.2057,
 824.6789,
 1717.486,
 nan,
 823.2084,
 1844.753,
 811.893,
 nan,
 745.2614,
 873.4294,
 nan,
 854.984,
 2839.2566,
 656.0617,
 950.788,
 1717.9742,
 1736.9037,
 1702.4567,
 677.329,
 1713.5112,
 1710.7128,
 648.288,
 nan,
 nan,
 1718.8215,
 1697.3369,
 1702.2842,
 nan,
 1711.6759,
 1849.7088,
 1717.3968,
 1832.8215,
 1838.7659,
 607.1653,
 nan,
 1715.2618,
 nan,
 1846.2918,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 663.5177,
 1726.7943,
 nan,
 1851.4112,
 1721.2364,
 1852.4697,
 1834.4388,
 1834.4329,
 1702.179,
 1838.3724,
 1832.9811,
 676.0768,
 1719.0642,
 nan,
 1715.3054,
 nan,
 1828.6593,
 852.8154,
 729.3625,
 1852.2819,
 681.3758,
 nan,
 nan,
 1841.2172,
 nan,
 nan,
 nan,
 nan,
 nan,
 678.9075,
 1851.7187,
 nan,
 1836.046,
 nan,
 1869.9702,
 nan,
 1834.8737,
 1705.8455,
 1847.1602,
 1116.8698,
 1738.206,
 915.4873,
 905.8336,
 651.7446,
 1750.4601,
 660.624,
 nan,
 651.5417,
 nan,
 921.0284,
 nan,
 nan,
 nan,
 nan,
 nan,
 1724.4835,
 652.8839,
 715.575,
 676.2359,
 894.0464,
 nan,
 1725.0346,
 nan,
 652.7021,
 718.0778,
 719.0481,
 1110.0327,
 nan,
 918.1079,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 647.5206,
 nan,
 602.974,
 1739.0218,
 614.9264,
 922.9669,
 nan,
 nan,
 902.8128,
 610.8976,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 922.2794,
 908.0143,
 nan,
 912.1251,
 606.808,
 nan,
 906.5654,
 nan,
 nan,
 694.8561,
 1112.4273,
 900.1186,
 nan,
 1826.2649,
 nan,
 1844.8546,
 1116.8515,
 601.8687,
 1837.6851,
 1852.358,
 1818.0623,
 nan,
 nan,
 1829.2549,
 nan,
 1839.4163,
 nan,
 1827.3173,
 1850.3228,
 nan,
 927.7882,
 1127.9299,
 607.9069,
 1116.0672,
 nan,
 1840.1206,
 nan,
 1827.1958,
 1829.3003,
 nan,
 nan,
 1849.1271,
 1855.1293,
 1247.0442,
 908.0848,
 1825.6409,
 1126.4683,
 nan,
 1828.4298,
 1444.5469,
 nan,
 572.1404,
 nan,
 596.6241,
 712.5732,
 1849.915,
 727.1357,
 nan,
 1840.3768,
 659.0631,
 nan,
 1860.7606,
 1823.9024,
 nan,
 604.4407,
 1430.7864,
 1435.8611,
 1437.8831,
 1438.0319,
 1827.2275,
 1434.1131,
 1851.1146,
 1860.3913,
 1437.2237,
 1834.4829,
 1831.4895,
 1832.3891,
 1848.6916,
 1833.8062,
 1827.7513,
 1446.3149,
 1878.0924,
 nan,
 1461.9208,
 1883.0576,
 1848.9748,
 nan,
 1445.8019,
 1826.0999,
 1846.0987,
 1832.8787,
 1852.8582,
 1074.1716,
 1828.7263,
 1828.2223,
 nan,
 nan,
 1448.2689,
 688.1893,
 1830.8982,
 1836.5064,
 1849.2298,
 718.0778,
 1835.2404,
 1852.9334,
 1846.6754,
 946.2835,
 nan,
 659.5213,
 1247.9588,
 24.102,
 nan,
 1329.8078,
 953.2589,
 940.0199,
 nan,
 1.0821,
 nan,
 nan,
 917.2018,
 9.8863,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 938.3395,
 nan,
 5.2291,
 953.7279,
 nan,
 966.2668,
 6.368,
 nan,
 943.8847,
 938.7274,
 937.4413,
 927.1131,
 910.4702,
 nan,
 nan,
 nan,
 938.5197,
 19.3699,
 895.9426,
 1748.9308,
 606.6094,
 957.2264,
 nan,
 28.9975,
 5.1567,
 nan,
 712.6021,
 nan,
 21.6883,
 925.2556,
 710.8882,
 1514.9013,
 35.2481,
 nan,
 1720.3492,
 nan,
 917.0646,
 723.1881,
 951.9176,
 16.1374,
 9.6064,
 715.4038,
 1735.7168,
 nan,
 nan,
 1752.6716,
 nan,
 575.2808,
 1711.8725,
 696.4284,
 1755.7815,
 nan,
 9.233,
 589.1761,
 nan,
 721.1412,
 nan,
 nan,
 11.5231,
 4235.0865,
 nan,
 591.3123,
 2945.571,
 25.4438,
 nan,
 8.0538,
 1773.4873,
 nan,
 709.3867,
 705.6558,
 nan,
 693.1905,
 18.5647,
 5.3156,
 27.9965,
 1741.0649,
 nan,
 1734.115,
 918.0901,
 nan,
 1811.7865,
 1836.9651,
 27.3674,
 nan,
 5.9151,
 33.8572,
 908.0979,
 910.5039,
 4218.7103,
 nan,
 1838.8599,
 nan,
 16.8062,
 1689.0954,
 13.3051,
 1775.2897,
 1431.0873,
 nan,
 8.9042,
 nan,
 25.045,
 1085.5976,
 1035.025,
 nan,
 nan,
 nan,
 nan,
 6.0654,
 1847.9433,
 nan,
 nan,
 27.8936,
 nan,
 1724.8269,
 nan,
 915.9888,
 ...]

In [26]:
len(l_point)

3429

In [28]:
l_point[100:200]

['',
 '43.521182, -114.316583',
 '44.024655693727, -116.985470858081',
 '',
 '35.247991, -101.831244',
 '',
 '',
 '39.7402925414353, -104.863000850084',
 '',
 '43.4824539, -112.0160211',
 '39.64018055, -104.790295011917',
 '33.9430653, -118.1387202',
 '39.78621225, -104.808503140611',
 '',
 '',
 '',
 '43.496737, -112.068687',
 '33.5895130232558, -99.2601204186046',
 '40.1023575555556, -75.0287513737374',
 '',
 '',
 '32.510672, -99.744151',
 '',
 '',
 '33.8449489, -118.3536298',
 '43.6181556, -116.272858275256',
 '40.8513049761959, -115.744700226718',
 '43.652449, -116.253135',
 '41.7058956, -87.720382',
 '33.9397633422819, -117.968001107383',
 '',
 '43.5903729246862, -116.313335200837',
 '',
 '43.5899212815534, -116.244909203883',
 '42.389242, -71.117934',
 '',
 '',
 '43.6522825, -116.671174099734',
 '32.427073, -99.5775145',
 '',
 '43.59072035, -116.175995811305',
 '33.7121068, -117.9545398',
 '43.835485, -111.77797',
 '32.7151089, -102.6437775',
 '',
 '33.4885786, -112.081809380963',
 '43.5451078601428, -116.572546287604',
 '43.6468325505618, -116.354186022472',
 '',
 '43.619241872636, -116.433862511797',
 '33.49602215, -111.979238813529',
 '43.6935109791667, -116.354138947917',
 '43.4726143, -110.789200654144',
 '43.5423402329267, -116.155422149373',
 '41.7858253700281, -88.1453209927487',
 '',
 '',
 '',
 '43.6521635, -116.2526727',
 '38.5732809, -121.413124676746',
 '33.8471702857143, -118.135408428571',
 '40.038173, -75.474815',
 '',
 '',
 '',
 '33.5897391, -111.821558',
 '43.5981116530612, -116.193665693878',
 '',
 '21.3013449, -157.8446339',
 '41.92724625, -87.6745087646853',
 '21.3133483, -157.857820256138',
 '21.30876645, -157.810324990108',
 '21.3773052, -157.7292791',
 '47.7393435, -117.4848171',
 '21.383972, -157.7896699',
 '33.5228391759164, -117.685864406275',
 '34.831132, -102.405473',
 '21.344313, -157.9139297',
 '36.2199529, -115.2760287',
 '46.2776247, -119.2825106',
 '',
 '21.2851768, -157.7068486',
 '',
 '34.2119060967742, -119.194516032258',
 '32.4565643239951, -93.7089629838005',
 '',
 '20.888637, -156.4633955',
 '33.9276752244898, -98.516866244898',
 '42.866337, -72.8666',
 '33.0185445606061, -96.7335359292929',
 '',
 '46.0763694154031, -118.304504215444',
 '33.654822, -96.614837',
 '32.770662, -115.5736732',
 '46.2404078571429, -119.117274520408',
 '34.2520540236451, -110.039163915296',
 '',
 '32.697887, -97.3692318',
 '',
 '']

In [39]:
knbr_id

[0, 873, 908, 886, 957, 1016, 968, 991, 890, 949, 57]

In [34]:
range(0)

range(0, 0)

In [40]:
knbr_strid

[1, 1014, 1052, 1028, 1101, 1163, 1113, 1137, 1032, 1093, 74]

In [41]:
knbr_addr

['1340 PATRIOT BLVD GLENVIEW IL 60026',
 '1020 WAUKEGAN RD. GLENVIEW IL 60025',
 '4125 DUNDEE RD. NORTHBROOK IL 60062',
 '1145-55 MT. PROSPECT PLAZA MT. PROSPECT IL 60056',
 '1555 LEE ST. DES PLAINES IL 60018',
 '1919 SKOKIE VALLEY RD. HIGHLAND PARK IL 60035',
 '6312 N. NAGLE AVE. CHICAGO IL 60646',
 '2748 GREEN BAY RD. EVANSTON IL 60201',
 '1900 S. CUMBERLAND AVE. PARK RIDGE IL 60068',
 '525 CHICAGO AVE. EVANSTON IL 60202',
 '7000 W. FOREST PRESERVE DR. NORRIDGE IL 60176']

In [45]:
l_knbr[0:10]

[[1, 1, 0.0, 0, '1340 PATRIOT BLVD GLENVIEW IL 60026'],
 [1, 1014, 1.0821, 1, '1020 WAUKEGAN RD. GLENVIEW IL 60025'],
 [1, 1052, 5.1567, 2, '4125 DUNDEE RD. NORTHBROOK IL 60062'],
 [1, 1028, 5.2291, 3, '1145-55 MT. PROSPECT PLAZA MT. PROSPECT IL 60056'],
 [1, 1101, 5.3156, 4, '1555 LEE ST. DES PLAINES IL 60018'],
 [1, 1163, 5.498, 5, '1919 SKOKIE VALLEY RD. HIGHLAND PARK IL 60035'],
 [1, 1113, 5.9151, 6, '6312 N. NAGLE AVE. CHICAGO IL 60646'],
 [1, 1137, 6.0654, 7, '2748 GREEN BAY RD. EVANSTON IL 60201'],
 [1, 1032, 6.368, 8, '1900 S. CUMBERLAND AVE. PARK RIDGE IL 60068'],
 [1, 1093, 8.0538, 9, '525 CHICAGO AVE. EVANSTON IL 60202']]

In [50]:
df_knbr.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7865 entries, 0 to 7864
Data columns (total 5 columns):
FAC_NBR       7865 non-null int64
knbr_strid    7865 non-null int64
knbr_dist     7865 non-null float64
dist_rnk      7865 non-null int64
knbr_addr     7865 non-null object
dtypes: float64(1), int64(3), object(1)
memory usage: 307.3+ KB

In [67]:
df_knbr.dtypes

FAC_NBR         int64
knbr_strid      int64
knbr_dist     float64
dist_rnk        int64
knbr_addr      object
dtype: object

In [66]:
df_knbr.knbr_addr = df_knbr.knbr_addr.astype(np.str)

In [64]:
df_knbr.knbr_addr = df_knbr.knbr_addr.astype('|S')

In [87]:
a_str_dis = []
str_cnt = len(df)
for siid in range(str_cnt): 
    id = d_fac_nbr[siid]
    l_id  = [id for i in range(str_cnt)]
    l_dis = distMatrix[siid]
    l_str_dis_tuple = list(zip(l_id, val_fac_nbr, l_dis))
    l_str_dis = [list(x) for x in l_str_dis_tuple]
    a_str_dis.append(l_str_dis)

In [70]:
id = 1
l_id = [id for i in range(len(l_point))]

In [81]:
l_dis = distMatrix[0]
l_str_dis_tuple = list(zip(l_id, val_fac_nbr, l_dis))
#z_str_dis  = zip(l_id, val_fac_nbr, l_dis) 
#l_str_dis = list(itertools.chain(*z_str_dis))

In [90]:
len(a_str_dis[0])

3429

In [84]:
l_str_dis = [list(x) for x in l_str_dis_tuple]

In [96]:
a_str_dis[0]

[[1, 1, 0.0],
 [1, 2, 1515.3969],
 [1, 3, nan],
 [1, 4, 1438.8518],
 [1, 5, nan],
 [1, 6, nan],
 [1, 7, 1254.2021],
 [1, 8, 910.8979],
 [1, 9, 1188.9415],
 [1, 10, nan],
 [1, 11, nan],
 [1, 12, nan],
 [1, 13, 1524.9841],
 [1, 14, 1511.6606],
 [1, 15, nan],
 [1, 17, nan],
 [1, 18, nan],
 [1, 19, 1116.285],
 [1, 20, 1329.7978],
 [1, 21, nan],
 [1, 22, nan],
 [1, 23, 1437.8323],
 [1, 24, 1328.2048],
 [1, 25, nan],
 [1, 27, nan],
 [1, 28, nan],
 [1, 29, 910.2298],
 [1, 30, nan],
 [1, 33, nan],
 [1, 34, 891.24],
 [1, 35, nan],
 [1, 37, 1206.9245],
 [1, 38, 1062.0418],
 [1, 39, nan],
 [1, 40, nan],
 [1, 41, 920.4738],
 [1, 42, nan],
 [1, 43, 1331.067],
 [1, 45, 1515.8737],
 [1, 46, 1521.8449],
 [1, 47, nan],
 [1, 52, nan],
 [1, 54, 25.0304],
 [1, 56, 24.0656],
 [1, 57, 990.5019],
 [1, 58, nan],
 [1, 59, 29.0291],
 [1, 60, 948.811],
 [1, 61, 1517.8377],
 [1, 62, 943.6534],
 [1, 63, 34.9493],
 [1, 64, 977.5544],
 [1, 65, 878.8068],
 [1, 66, 881.5891],
 [1, 67, 903.9133],
 [1, 68, 20.2054],
 [1, 70, 812.8167],
 [1, 74, 8.4919],
 [1, 76, 50.4853],
 [1, 77, 13.2879],
 [1, 78, 1014.4444],
 [1, 80, nan],
 [1, 81, nan],
 [1, 83, nan],
 [1, 86, nan],
 [1, 89, 1513.4191],
 [1, 90, 1519.24],
 [1, 91, 1754.7492],
 [1, 92, 27.5744],
 [1, 93, 1509.4865],
 [1, 95, 9.5029],
 [1, 100, 907.0901],
 [1, 101, 1438.7938],
 [1, 102, 1329.1673],
 [1, 103, 1462.6336],
 [1, 104, nan],
 [1, 105, nan],
 [1, 106, 813.8568],
 [1, 107, 613.6513],
 [1, 108, 1747.4767],
 [1, 109, nan],
 [1, 110, 1737.3546],
 [1, 111, 1747.1957],
 [1, 112, nan],
 [1, 113, 836.6195],
 [1, 114, 673.5382],
 [1, 115, 1747.4991],
 [1, 116, nan],
 [1, 117, 754.0131],
 [1, 118, 1519.9898],
 [1, 119, 1438.195],
 [1, 120, 851.5094],
 [1, 121, 783.5468],
 [1, 122, nan],
 [1, 123, 23.7505],
 [1, 124, 615.4535],
 [1, 125, 1720.9153],
 [1, 126, nan],
 [1, 127, 43.4947],
 [1, 128, 577.6],
 [1, 129, nan],
 [1, 130, 1344.8521],
 [1, 131, 1474.876],
 [1, 132, nan],
 [1, 133, 890.5663],
 [1, 134, nan],
 [1, 135, nan],
 [1, 136, 905.1217],
 [1, 137, nan],
 [1, 138, 1229.7889],
 [1, 139, 903.3],
 [1, 140, 1736.234],
 [1, 141, 901.4713],
 [1, 142, nan],
 [1, 143, nan],
 [1, 144, nan],
 [1, 145, 1232.3641],
 [1, 146, 855.5102],
 [1, 147, 680.8579],
 [1, 148, nan],
 [1, 149, nan],
 [1, 150, 929.3429],
 [1, 151, nan],
 [1, 152, nan],
 [1, 153, 1750.3147],
 [1, 154, 1442.0114],
 [1, 155, 1445.6265],
 [1, 156, 1440.7956],
 [1, 157, 26.2223],
 [1, 158, 1727.6678],
 [1, 159, nan],
 [1, 160, 1444.2229],
 [1, 161, nan],
 [1, 162, 1440.8096],
 [1, 163, 855.5434],
 [1, 164, nan],
 [1, 165, nan],
 [1, 166, 1461.6495],
 [1, 167, 927.2874],
 [1, 168, nan],
 [1, 169, 1437.3633],
 [1, 170, 1734.369],
 [1, 171, 1216.5027],
 [1, 172, 1037.6832],
 [1, 173, nan],
 [1, 174, 1447.5469],
 [1, 176, 1457.4865],
 [1, 177, 1445.8749],
 [1, 178, nan],
 [1, 180, 1450.0393],
 [1, 181, 1442.217],
 [1, 182, 1445.5598],
 [1, 183, 1168.2721],
 [1, 184, 1436.6701],
 [1, 185, 26.2734],
 [1, 186, nan],
 [1, 187, nan],
 [1, 188, nan],
 [1, 189, 1440.7744],
 [1, 190, 1778.8201],
 [1, 191, 1739.1581],
 [1, 192, 659.3535],
 [1, 193, nan],
 [1, 194, nan],
 [1, 196, nan],
 [1, 197, 1431.0873],
 [1, 199, 1438.195],
 [1, 200, nan],
 [1, 201, 4244.1652],
 [1, 202, 12.8341],
 [1, 203, 4244.3416],
 [1, 204, 4242.0957],
 [1, 205, 4235.0833],
 [1, 206, 1497.0623],
 [1, 207, 4237.9042],
 [1, 208, 1726.9811],
 [1, 210, 933.8243],
 [1, 211, 4245.9304],
 [1, 212, 1521.8165],
 [1, 213, 1579.1742],
 [1, 214, nan],
 [1, 215, 4237.7692],
 [1, 216, nan],
 [1, 217, 1781.4488],
 [1, 218, 738.2091],
 [1, 219, nan],
 [1, 220, 4190.4699],
 [1, 221, 809.2314],
 [1, 222, 764.9884],
 [1, 223, 792.7287],
 [1, 224, nan],
 [1, 225, 1532.4407],
 [1, 226, 753.2876],
 [1, 227, 1646.5116],
 [1, 228, 1571.2973],
 [1, 229, 1319.7739],
 [1, 230, nan],
 [1, 232, 832.2953],
 [1, 234, nan],
 [1, 235, nan],
 [1, 236, 1452.753],
 [1, 237, 715.6018],
 [1, 238, 1470.097],
 [1, 239, 1325.7669],
 [1, 240, 1444.7009],
 [1, 241, 1472.0881],
 [1, 242, 905.9504],
 [1, 243, nan],
 [1, 244, 913.3689],
 [1, 245, 1430.6209],
 [1, 246, 1487.518],
 [1, 247, 1441.0571],
 [1, 248, nan],
 [1, 249, 1307.894],
 [1, 250, 1432.9638],
 [1, 251, nan],
 [1, 252, 1579.0855],
 [1, 253, 1425.4952],
 [1, 254, 1464.7698],
 [1, 255, nan],
 [1, 256, 1777.6635],
 [1, 257, 1447.8171],
 [1, 258, 1484.0967],
 [1, 259, 1255.0434],
 [1, 260, 563.6684],
 [1, 261, nan],
 [1, 262, 1726.6367],
 [1, 263, 787.0623],
 [1, 264, 16.5247],
 [1, 265, nan],
 [1, 266, 1737.1614],
 [1, 267, nan],
 [1, 268, nan],
 [1, 269, 800.4218],
 [1, 270, nan],
 [1, 271, 610.9586],
 [1, 272, 1385.0992],
 [1, 273, 1785.1737],
 [1, 274, 1431.2555],
 [1, 275, nan],
 [1, 276, 1524.7582],
 [1, 277, nan],
 [1, 278, nan],
 [1, 279, nan],
 [1, 280, nan],
 [1, 281, 4245.3614],
 [1, 282, nan],
 [1, 283, 19.829],
 [1, 284, nan],
 [1, 285, 1750.6685],
 [1, 288, 510.1942],
 [1, 289, 1181.962],
 [1, 290, nan],
 [1, 291, 677.7675],
 [1, 292, nan],
 [1, 293, 720.4029],
 [1, 294, 724.4371],
 [1, 295, nan],
 [1, 296, nan],
 [1, 297, 1745.5984],
 [1, 298, nan],
 [1, 299, nan],
 [1, 300, nan],
 [1, 301, nan],
 [1, 302, 1764.0854],
 [1, 303, 16.1606],
 [1, 304, nan],
 [1, 305, nan],
 [1, 306, nan],
 [1, 307, 1534.0423],
 [1, 308, 1858.3442],
 [1, 309, 1832.2224],
 [1, 311, 1769.083],
 [1, 312, nan],
 [1, 313, 1839.9369],
 [1, 314, 1816.0367],
 [1, 315, 1739.7873],
 [1, 316, 1831.0235],
 [1, 317, nan],
 [1, 318, 1778.5167],
 [1, 319, 1778.1503],
 [1, 320, 884.9078],
 [1, 321, nan],
 [1, 322, 923.0164],
 [1, 323, 1740.7792],
 [1, 324, nan],
 [1, 325, 1742.5995],
 [1, 326, 770.1186],
 [1, 328, 914.5044],
 [1, 329, 1728.736],
 [1, 330, 914.1139],
 [1, 331, 1661.5551],
 [1, 332, 1523.4848],
 [1, 333, 1578.7612],
 [1, 335, 1573.3947],
 [1, 336, 1737.9794],
 [1, 337, 1510.7885],
 [1, 338, nan],
 [1, 339, 1273.1655],
 [1, 340, nan],
 [1, 341, nan],
 [1, 342, 1494.5173],
 [1, 344, nan],
 [1, 347, nan],
 [1, 348, nan],
 [1, 350, 1457.3948],
 [1, 351, nan],
 [1, 352, nan],
 [1, 353, 1767.1142],
 [1, 354, nan],
 [1, 355, 1792.0113],
 [1, 357, 1806.5225],
 [1, 358, 1734.094],
 [1, 359, 1745.474],
 [1, 360, 1724.8374],
 [1, 362, nan],
 [1, 363, nan],
 [1, 364, nan],
 [1, 366, nan],
 [1, 368, nan],
 [1, 369, 1763.7055],
 [1, 371, 1484.0819],
 [1, 372, nan],
 [1, 373, nan],
 [1, 374, nan],
 [1, 376, nan],
 [1, 377, nan],
 [1, 378, nan],
 [1, 379, 1807.7379],
 [1, 382, 1738.6893],
 [1, 383, 1469.7734],
 [1, 385, 1521.2795],
 [1, 386, 1780.7698],
 [1, 387, 1738.5135],
 [1, 388, nan],
 [1, 389, 1750.4694],
 [1, 390, 938.2293],
 [1, 391, nan],
 [1, 393, 1759.5444],
 [1, 394, 1801.9664],
 [1, 397, 1733.551],
 [1, 398, nan],
 [1, 400, nan],
 [1, 401, 1715.4007],
 [1, 402, 1738.5626],
 [1, 403, 1708.4265],
 [1, 404, nan],
 [1, 405, 2780.6465],
 [1, 406, 1765.4712],
 [1, 407, 1755.1961],
 [1, 408, nan],
 [1, 409, nan],
 [1, 410, nan],
 [1, 411, 1722.7747],
 [1, 412, 1767.8153],
 [1, 413, 1441.3776],
 [1, 414, 1722.038],
 [1, 415, nan],
 [1, 416, 1731.7427],
 [1, 417, 809.2134],
 [1, 418, 852.0051],
 [1, 419, 1737.7543],
 [1, 420, 1775.3854],
 [1, 421, 603.3554],
 [1, 422, 1721.1636],
 [1, 423, nan],
 [1, 424, 1750.9722],
 [1, 425, 1751.9221],
 [1, 426, 853.4497],
 [1, 428, nan],
 [1, 429, nan],
 [1, 430, 1732.7252],
 [1, 431, 851.7373],
 [1, 432, nan],
 [1, 433, 946.1485],
 [1, 434, nan],
 [1, 435, 1719.7732],
 [1, 437, nan],
 [1, 438, nan],
 [1, 440, 872.1724],
 [1, 441, 845.0253],
 [1, 442, 1723.3021],
 [1, 443, 1717.3324],
 [1, 444, nan],
 [1, 445, nan],
 [1, 446, nan],
 [1, 448, nan],
 [1, 450, 1718.222],
 [1, 452, 1067.5577],
 [1, 453, 1714.591],
 [1, 454, 1731.6357],
 [1, 458, 1717.6022],
 [1, 459, nan],
 [1, 460, 1526.6031],
 [1, 461, 1048.6922],
 [1, 462, 1637.7058],
 [1, 464, nan],
 [1, 465, 1851.2886],
 [1, 466, 1722.2129],
 [1, 467, nan],
 [1, 468, nan],
 [1, 469, 1720.4188],
 [1, 470, 1715.3174],
 [1, 471, nan],
 [1, 472, nan],
 [1, 473, nan],
 [1, 474, 1716.8411],
 [1, 475, 1735.7716],
 [1, 476, nan],
 [1, 477, nan],
 [1, 478, 1717.6043],
 [1, 479, 1772.478],
 [1, 481, nan],
 [1, 482, nan],
 [1, 483, nan],
 [1, 484, 841.7236],
 [1, 485, 1722.0733],
 [1, 486, nan],
 [1, 488, nan],
 [1, 489, nan],
 [1, 490, nan],
 [1, 491, nan],
 [1, 492, 1738.9519],
 [1, 493, nan],
 [1, 494, 1706.308],
 [1, 495, 850.8517],
 [1, 496, nan],
 [1, 497, 1724.8129],
 [1, 498, 1727.672],
 [1, 500, 1755.6039],
 [1, 501, 1806.3124],
 [1, 502, 1640.9931],
 [1, 503, nan],
 [1, 504, nan],
 [1, 505, nan],
 [1, 506, 1745.1587],
 [1, 507, 1778.1507],
 [1, 508, 1745.394],
 [1, 509, nan],
 [1, 510, 1718.8179],
 [1, 511, nan],
 [1, 512, nan],
 [1, 513, 1780.892],
 [1, 514, nan],
 [1, 515, 1798.8495],
 [1, 516, nan],
 [1, 517, 1717.6035],
 [1, 518, 1751.2366],
 [1, 519, nan],
 [1, 520, 2837.7186],
 [1, 521, nan],
 [1, 522, 1721.1556],
 [1, 523, 1699.6558],
 [1, 524, 1711.7359],
 [1, 525, 1785.4855],
 [1, 526, nan],
 [1, 527, 1727.2732],
 [1, 528, nan],
 [1, 529, nan],
 [1, 530, 755.0882],
 [1, 531, 1717.9565],
 [1, 532, nan],
 [1, 533, nan],
 [1, 534, 1716.1177],
 [1, 535, 1717.2862],
 [1, 536, 1731.8538],
 [1, 537, nan],
 [1, 538, 1743.8857],
 [1, 539, nan],
 [1, 540, 1788.7835],
 [1, 541, 1734.3458],
 [1, 542, nan],
 [1, 543, nan],
 [1, 544, nan],
 [1, 545, nan],
 [1, 546, 939.4804],
 [1, 547, 1721.5187],
 [1, 548, nan],
 [1, 549, nan],
 [1, 550, nan],
 [1, 551, nan],
 [1, 552, nan],
 [1, 553, nan],
 [1, 554, nan],
 [1, 555, nan],
 [1, 556, nan],
 [1, 557, nan],
 [1, 558, nan],
 [1, 559, nan],
 [1, 560, nan],
 [1, 561, nan],
 [1, 562, nan],
 [1, 563, nan],
 [1, 564, nan],
 [1, 565, nan],
 [1, 566, nan],
 [1, 567, nan],
 [1, 568, 1848.2219],
 [1, 569, nan],
 [1, 570, nan],
 [1, 571, nan],
 [1, 572, nan],
 [1, 573, nan],
 [1, 574, nan],
 [1, 575, nan],
 [1, 576, nan],
 [1, 577, nan],
 [1, 578, nan],
 [1, 579, nan],
 [1, 580, nan],
 [1, 581, nan],
 [1, 582, nan],
 [1, 583, nan],
 [1, 584, nan],
 [1, 585, nan],
 [1, 586, nan],
 [1, 587, nan],
 [1, 588, nan],
 [1, 589, nan],
 [1, 590, nan],
 [1, 591, nan],
 [1, 592, nan],
 [1, 593, nan],
 [1, 594, nan],
 [1, 595, nan],
 [1, 596, nan],
 [1, 597, nan],
 [1, 598, nan],
 [1, 599, nan],
 [1, 600, nan],
 [1, 601, nan],
 [1, 602, nan],
 [1, 603, nan],
 [1, 604, nan],
 [1, 605, nan],
 [1, 606, nan],
 [1, 607, nan],
 [1, 608, nan],
 [1, 609, nan],
 [1, 610, nan],
 [1, 611, nan],
 [1, 612, nan],
 [1, 613, nan],
 [1, 614, nan],
 [1, 615, nan],
 [1, 616, nan],
 [1, 617, nan],
 [1, 618, nan],
 [1, 619, nan],
 [1, 620, nan],
 [1, 621, nan],
 [1, 622, nan],
 [1, 623, nan],
 [1, 624, nan],
 [1, 625, nan],
 [1, 626, nan],
 [1, 627, nan],
 [1, 628, nan],
 [1, 629, nan],
 [1, 630, nan],
 [1, 631, 986.9263],
 [1, 632, nan],
 [1, 634, nan],
 [1, 635, nan],
 [1, 636, nan],
 [1, 637, nan],
 [1, 638, nan],
 [1, 639, nan],
 [1, 640, nan],
 [1, 641, nan],
 [1, 642, nan],
 [1, 645, nan],
 [1, 649, nan],
 [1, 653, nan],
 [1, 654, nan],
 [1, 659, nan],
 [1, 660, nan],
 [1, 661, nan],
 [1, 662, nan],
 [1, 664, nan],
 [1, 665, nan],
 [1, 667, nan],
 [1, 668, nan],
 [1, 669, nan],
 [1, 670, nan],
 [1, 671, nan],
 [1, 672, nan],
 [1, 673, nan],
 [1, 674, nan],
 [1, 675, nan],
 [1, 676, nan],
 [1, 677, 835.7295],
 [1, 678, nan],
 [1, 679, 935.9863],
 [1, 680, nan],
 [1, 682, 1145.2545],
 [1, 683, 1148.9939],
 [1, 684, nan],
 [1, 685, 790.8749],
 [1, 686, 845.1564],
 [1, 687, 1838.3997],
 [1, 688, nan],
 [1, 689, 972.3853],
 [1, 690, 916.8248],
 [1, 691, 1838.5905],
 [1, 692, 1091.003],
 [1, 693, 604.9596],
 [1, 694, 1849.0193],
 [1, 695, 1833.7283],
 [1, 696, 829.2333],
 [1, 697, 1828.4893],
 [1, 698, nan],
 [1, 699, 1751.4709],
 [1, 700, 1836.5744],
 [1, 701, 1721.8242],
 [1, 702, 1724.2344],
 [1, 703, nan],
 [1, 704, 1703.6077],
 [1, 705, nan],
 [1, 706, nan],
 [1, 707, 1721.1635],
 [1, 708, 1712.2057],
 [1, 709, 824.6789],
 [1, 710, 1717.486],
 [1, 711, nan],
 [1, 712, 823.2084],
 [1, 713, 1844.753],
 [1, 714, 811.893],
 [1, 715, nan],
 [1, 716, 745.2614],
 [1, 717, 873.4294],
 [1, 718, nan],
 [1, 719, 854.984],
 [1, 720, 2839.2566],
 [1, 721, 656.0617],
 [1, 722, 950.788],
 [1, 723, 1717.9742],
 [1, 724, 1736.9037],
 [1, 725, 1702.4567],
 [1, 726, 677.329],
 [1, 727, 1713.5112],
 [1, 728, 1710.7128],
 [1, 730, 648.288],
 [1, 731, nan],
 [1, 732, nan],
 [1, 733, 1718.8215],
 [1, 734, 1697.3369],
 [1, 735, 1702.2842],
 [1, 737, nan],
 [1, 738, 1711.6759],
 [1, 739, 1849.7088],
 [1, 740, 1717.3968],
 [1, 741, 1832.8215],
 [1, 742, 1838.7659],
 [1, 743, 607.1653],
 [1, 744, nan],
 [1, 745, 1715.2618],
 [1, 746, nan],
 [1, 747, 1846.2918],
 [1, 748, nan],
 [1, 749, nan],
 [1, 750, nan],
 [1, 751, nan],
 [1, 752, nan],
 [1, 753, nan],
 [1, 754, nan],
 [1, 756, 663.5177],
 [1, 757, 1726.7943],
 [1, 758, nan],
 [1, 759, 1851.4112],
 [1, 760, 1721.2364],
 [1, 761, 1852.4697],
 [1, 762, 1834.4388],
 [1, 763, 1834.4329],
 [1, 764, 1702.179],
 [1, 767, 1838.3724],
 [1, 768, 1832.9811],
 [1, 769, 676.0768],
 [1, 770, 1719.0642],
 [1, 771, nan],
 [1, 772, 1715.3054],
 [1, 773, nan],
 [1, 774, 1828.6593],
 [1, 775, 852.8154],
 [1, 776, 729.3625],
 [1, 777, 1852.2819],
 [1, 778, 681.3758],
 [1, 779, nan],
 [1, 780, nan],
 [1, 781, 1841.2172],
 [1, 782, nan],
 [1, 783, nan],
 [1, 784, nan],
 [1, 785, nan],
 [1, 786, nan],
 [1, 787, 678.9075],
 [1, 788, 1851.7187],
 [1, 789, nan],
 [1, 790, 1836.046],
 [1, 792, nan],
 [1, 793, 1869.9702],
 [1, 796, nan],
 [1, 797, 1834.8737],
 [1, 798, 1705.8455],
 [1, 799, 1847.1602],
 [1, 801, 1116.8698],
 [1, 802, 1738.206],
 [1, 803, 915.4873],
 [1, 804, 905.8336],
 [1, 806, 651.7446],
 [1, 807, 1750.4601],
 [1, 808, 660.624],
 [1, 809, nan],
 [1, 810, 651.5417],
 [1, 811, nan],
 [1, 812, 921.0284],
 [1, 813, nan],
 [1, 814, nan],
 [1, 815, nan],
 [1, 816, nan],
 [1, 817, nan],
 [1, 819, 1724.4835],
 [1, 820, 652.8839],
 [1, 821, 715.575],
 [1, 822, 676.2359],
 [1, 823, 894.0464],
 [1, 824, nan],
 [1, 825, 1725.0346],
 [1, 826, nan],
 [1, 828, 652.7021],
 [1, 830, 718.0778],
 [1, 831, 719.0481],
 [1, 832, 1110.0327],
 [1, 833, nan],
 [1, 835, 918.1079],
 [1, 836, nan],
 [1, 837, nan],
 [1, 839, nan],
 [1, 840, nan],
 [1, 841, nan],
 [1, 845, nan],
 [1, 849, 647.5206],
 [1, 852, nan],
 [1, 853, 602.974],
 [1, 854, 1739.0218],
 [1, 855, 614.9264],
 [1, 858, 922.9669],
 [1, 859, nan],
 [1, 860, nan],
 [1, 862, 902.8128],
 [1, 866, 610.8976],
 [1, 870, nan],
 [1, 871, nan],
 [1, 872, nan],
 [1, 874, nan],
 [1, 876, nan],
 [1, 878, nan],
 [1, 879, 922.2794],
 [1, 881, 908.0143],
 [1, 882, nan],
 [1, 885, 912.1251],
 [1, 886, 606.808],
 [1, 890, nan],
 [1, 892, 906.5654],
 [1, 893, nan],
 [1, 895, nan],
 [1, 896, 694.8561],
 [1, 897, 1112.4273],
 [1, 899, 900.1186],
 [1, 901, nan],
 [1, 902, 1826.2649],
 [1, 903, nan],
 [1, 904, 1844.8546],
 [1, 905, 1116.8515],
 [1, 907, 601.8687],
 [1, 908, 1837.6851],
 [1, 909, 1852.358],
 [1, 910, 1818.0623],
 [1, 911, nan],
 [1, 912, nan],
 [1, 913, 1829.2549],
 [1, 914, nan],
 [1, 915, 1839.4163],
 [1, 916, nan],
 [1, 917, 1827.3173],
 [1, 918, 1850.3228],
 [1, 919, nan],
 [1, 920, 927.7882],
 [1, 922, 1127.9299],
 [1, 923, 607.9069],
 [1, 924, 1116.0672],
 [1, 925, nan],
 [1, 926, 1840.1206],
 [1, 927, nan],
 [1, 928, 1827.1958],
 [1, 929, 1829.3003],
 [1, 930, nan],
 [1, 931, nan],
 [1, 932, 1849.1271],
 [1, 933, 1855.1293],
 [1, 934, 1247.0442],
 [1, 935, 908.0848],
 [1, 936, 1825.6409],
 [1, 937, 1126.4683],
 [1, 938, nan],
 [1, 939, 1828.4298],
 [1, 940, 1444.5469],
 [1, 941, nan],
 [1, 942, 572.1404],
 [1, 943, nan],
 [1, 945, 596.6241],
 [1, 946, 712.5732],
 [1, 948, 1849.915],
 [1, 949, 727.1357],
 [1, 950, nan],
 [1, 951, 1840.3768],
 [1, 952, 659.0631],
 [1, 953, nan],
 [1, 954, 1860.7606],
 [1, 955, 1823.9024],
 [1, 956, nan],
 [1, 957, 604.4407],
 [1, 958, 1430.7864],
 [1, 959, 1435.8611],
 [1, 960, 1437.8831],
 [1, 961, 1438.0319],
 [1, 962, 1827.2275],
 [1, 963, 1434.1131],
 [1, 964, 1851.1146],
 [1, 965, 1860.3913],
 [1, 966, 1437.2237],
 [1, 967, 1834.4829],
 [1, 968, 1831.4895],
 [1, 969, 1832.3891],
 [1, 970, 1848.6916],
 [1, 971, 1833.8062],
 [1, 972, 1827.7513],
 [1, 974, 1446.3149],
 [1, 975, 1878.0924],
 [1, 976, nan],
 [1, 977, 1461.9208],
 [1, 978, 1883.0576],
 [1, 979, 1848.9748],
 [1, 980, nan],
 [1, 981, 1445.8019],
 [1, 982, 1826.0999],
 [1, 983, 1846.0987],
 [1, 984, 1832.8787],
 [1, 985, 1852.8582],
 [1, 986, 1074.1716],
 [1, 987, 1828.7263],
 [1, 988, 1828.2223],
 [1, 989, nan],
 [1, 990, nan],
 [1, 991, 1448.2689],
 [1, 992, 688.1893],
 [1, 993, 1830.8982],
 [1, 994, 1836.5064],
 [1, 995, 1849.2298],
 [1, 996, 718.0778],
 [1, 997, 1835.2404],
 [1, 998, 1852.9334],
 [1, 999, 1846.6754],
 [1, 1001, 946.2835],
 [1, 1002, nan],
 [1, 1004, 659.5213],
 [1, 1006, 1247.9588],
 [1, 1008, 24.102],
 [1, 1009, nan],
 [1, 1010, 1329.8078],
 [1, 1011, 953.2589],
 [1, 1012, 940.0199],
 [1, 1013, nan],
 [1, 1014, 1.0821],
 [1, 1015, nan],
 [1, 1016, nan],
 [1, 1017, 917.2018],
 [1, 1018, 9.8863],
 [1, 1019, nan],
 [1, 1020, nan],
 [1, 1021, nan],
 [1, 1022, nan],
 [1, 1023, nan],
 [1, 1024, nan],
 [1, 1025, 938.3395],
 [1, 1026, nan],
 [1, 1028, 5.2291],
 [1, 1029, 953.7279],
 [1, 1030, nan],
 [1, 1031, 966.2668],
 [1, 1032, 6.368],
 [1, 1033, nan],
 [1, 1034, 943.8847],
 [1, 1035, 938.7274],
 [1, 1036, 937.4413],
 [1, 1037, 927.1131],
 [1, 1038, 910.4702],
 [1, 1039, nan],
 [1, 1040, nan],
 [1, 1041, nan],
 [1, 1043, 938.5197],
 [1, 1044, 19.3699],
 [1, 1045, 895.9426],
 [1, 1047, 1748.9308],
 [1, 1048, 606.6094],
 [1, 1049, 957.2264],
 [1, 1050, nan],
 [1, 1051, 28.9975],
 [1, 1052, 5.1567],
 [1, 1053, nan],
 [1, 1054, 712.6021],
 [1, 1055, nan],
 [1, 1056, 21.6883],
 [1, 1057, 925.2556],
 [1, 1058, 710.8882],
 [1, 1059, 1514.9013],
 [1, 1060, 35.2481],
 [1, 1061, nan],
 [1, 1062, 1720.3492],
 [1, 1063, nan],
 [1, 1064, 917.0646],
 [1, 1065, 723.1881],
 [1, 1066, 951.9176],
 [1, 1067, 16.1374],
 [1, 1068, 9.6064],
 [1, 1069, 715.4038],
 [1, 1070, 1735.7168],
 [1, 1071, nan],
 [1, 1072, nan],
 [1, 1073, 1752.6716],
 [1, 1074, nan],
 [1, 1075, 575.2808],
 [1, 1076, 1711.8725],
 [1, 1077, 696.4284],
 [1, 1078, 1755.7815],
 [1, 1079, nan],
 [1, 1080, 9.233],
 [1, 1081, 589.1761],
 [1, 1082, nan],
 [1, 1083, 721.1412],
 [1, 1084, nan],
 [1, 1085, nan],
 [1, 1086, 11.5231],
 [1, 1087, 4235.0865],
 [1, 1088, nan],
 [1, 1089, 591.3123],
 [1, 1090, 2945.571],
 [1, 1091, 25.4438],
 [1, 1092, nan],
 [1, 1093, 8.0538],
 [1, 1094, 1773.4873],
 [1, 1095, nan],
 [1, 1096, 709.3867],
 [1, 1097, 705.6558],
 [1, 1098, nan],
 [1, 1099, 693.1905],
 [1, 1100, 18.5647],
 [1, 1101, 5.3156],
 [1, 1102, 27.9965],
 [1, 1103, 1741.0649],
 [1, 1104, nan],
 [1, 1105, 1734.115],
 [1, 1107, 918.0901],
 [1, 1108, nan],
 [1, 1109, 1811.7865],
 [1, 1110, 1836.9651],
 [1, 1111, 27.3674],
 [1, 1112, nan],
 [1, 1113, 5.9151],
 [1, 1114, 33.8572],
 [1, 1115, 908.0979],
 [1, 1116, 910.5039],
 [1, 1117, 4218.7103],
 [1, 1118, nan],
 [1, 1119, 1838.8599],
 [1, 1121, nan],
 [1, 1122, 16.8062],
 [1, 1123, 1689.0954],
 [1, 1124, 13.3051],
 [1, 1125, 1775.2897],
 [1, 1126, 1431.0873],
 [1, 1127, nan],
 [1, 1128, 8.9042],
 [1, 1129, nan],
 [1, 1130, 25.045],
 [1, 1131, 1085.5976],
 [1, 1132, 1035.025],
 [1, 1133, nan],
 [1, 1134, nan],
 [1, 1135, nan],
 [1, 1136, nan],
 [1, 1137, 6.0654],
 [1, 1138, 1847.9433],
 [1, 1139, nan],
 [1, 1140, nan],
 [1, 1141, 27.8936],
 [1, 1142, nan],
 [1, 1143, 1724.8269],
 [1, 1144, nan],
 [1, 1145, 915.9888],
 ...]

In [97]:
df_dist = pd.DataFrame(a_str_dis)
#(, columns =['fac_nbr', 'str_id', 'distance'])

In [98]:
df_dist.shape

(3429, 3429)

In [99]:
df_dist.head()

,0,1,2,3,4,5,6,7,8,9,...,3419,3420,3421,3422,3423,3424,3425,3426,3427,3428
0,"[1, 1, 0.0]","[1, 2, 1515.3969]","[1, 3, nan]","[1, 4, 1438.8518]","[1, 5, nan]","[1, 6, nan]","[1, 7, 1254.2021]","[1, 8, 910.8979]","[1, 9, 1188.9415]","[1, 10, nan]",...,"[1, 4932, 723.2867]","[1, 4933, 602.1927]","[1, 4964, 603.7575]","[1, 4967, nan]","[1, 4970, nan]","[1, 4979, nan]","[1, 4984, nan]","[1, 4995, nan]","[1, 4999, nan]","[1, 9953, 1825.6769]"
1,"[2, 1, 1515.3969]","[2, 2, 0.0]","[2, 3, nan]","[2, 4, 226.2499]","[2, 5, nan]","[2, 6, nan]","[2, 7, 700.3509]","[2, 8, 605.4764]","[2, 9, 701.6488]","[2, 10, nan]",...,"[2, 4932, 2227.8388]","[2, 4933, 2077.4211]","[2, 4964, 2081.8431]","[2, 4967, nan]","[2, 4970, nan]","[2, 4979, nan]","[2, 4984, nan]","[2, 4995, nan]","[2, 4999, nan]","[2, 9953, 398.2385]"
2,"[3, 1, nan]","[3, 2, nan]","[3, 3, nan]","[3, 4, nan]","[3, 5, nan]","[3, 6, nan]","[3, 7, nan]","[3, 8, nan]","[3, 9, nan]","[3, 10, nan]",...,"[3, 4932, nan]","[3, 4933, nan]","[3, 4964, nan]","[3, 4967, nan]","[3, 4970, nan]","[3, 4979, nan]","[3, 4984, nan]","[3, 4995, nan]","[3, 4999, nan]","[3, 9953, nan]"
3,"[4, 1, 1438.8518]","[4, 2, 226.2499]","[4, 3, nan]","[4, 4, 0.0]","[4, 5, nan]","[4, 6, nan]","[4, 7, 842.1355]","[4, 8, 564.5797]","[4, 9, 827.6273]","[4, 10, nan]",...,"[4, 4932, 2131.098]","[4, 4933, 1969.9663]","[4, 4964, 1975.2583]","[4, 4967, nan]","[4, 4970, nan]","[4, 4979, nan]","[4, 4984, nan]","[4, 4995, nan]","[4, 4999, nan]","[4, 9953, 612.6175]"
4,"[5, 1, nan]","[5, 2, nan]","[5, 3, nan]","[5, 4, nan]","[5, 5, nan]","[5, 6, nan]","[5, 7, nan]","[5, 8, nan]","[5, 9, nan]","[5, 10, nan]",...,"[5, 4932, nan]","[5, 4933, nan]","[5, 4964, nan]","[5, 4967, nan]","[5, 4970, nan]","[5, 4979, nan]","[5, 4984, nan]","[5, 4995, nan]","[5, 4999, nan]","[5, 9953, nan]"

In [127]:
# case 1
""" result 
[[(1, 1, 0.0),
  (1, 2, 1515.3969),
"""  
a_str_dis=[]
str_cnt = len(df)

for siid in range(str_cnt): 
    id = d_fac_nbr[siid]
    l_id  = [id for i in range(str_cnt)]
    l_dis = distMatrix[siid]
    a_str_dis.append( list(list(zip(l_id, val_fac_nbr, l_dis))))

In [129]:
# case2
"""
[[[1, 1, 0.0],
  [1, 2, 1515.3969],
  [1, 3, nan],
  [1, 4, 1438.8518],
  [1, 5, nan],

"""
a_str_dis=[]
str_cnt = 1
str_cnt1 = len(df)
for siid in range(str_cnt): 
    id = d_fac_nbr[siid]
    l_id  = [id for i in range(str_cnt1)]
    l_dis = distMatrix[siid]
    l_str_dis_tuple = list(zip(l_id, val_fac_nbr, l_dis))
    a_str_dis.append([list(x) for x in l_str_dis_tuple])

In [131]:
a_str_dis=[]
str_cnt = 1
str_cnt1 = len(df)
for siid in range(str_cnt): 
    id = d_fac_nbr[siid]
    l_id  = [id for i in range(str_cnt1)]
    l_dis = distMatrix[siid]
    l_str_dis_tuple = list(zip(l_id, val_fac_nbr, l_dis))
    l_str_dis = [list(x) for x in l_str_dis_tuple]
    a_str_dis.extend(l_str_dis)

In [124]:
l_str_dis_tuple

[(1, 1, 0.0)]

In [103]:
type(a_str_dis[0][0])

list

In [132]:
a_str_dis[0:3]

[[1, 1, 0.0], [1, 2, 1515.3969], [1, 3, nan]]

In [113]:
df_dist = pd.DataFrame(a_str_dis[0:3])

In [114]:
df_dist.head()

,0,1,2,3,4,5,6,7,8,9,...,3419,3420,3421,3422,3423,3424,3425,3426,3427,3428
0,"[1, 1, 0.0]","[1, 2, 1515.3969]","[1, 3, nan]","[1, 4, 1438.8518]","[1, 5, nan]","[1, 6, nan]","[1, 7, 1254.2021]","[1, 8, 910.8979]","[1, 9, 1188.9415]","[1, 10, nan]",...,"[1, 4932, 723.2867]","[1, 4933, 602.1927]","[1, 4964, 603.7575]","[1, 4967, nan]","[1, 4970, nan]","[1, 4979, nan]","[1, 4984, nan]","[1, 4995, nan]","[1, 4999, nan]","[1, 9953, 1825.6769]"
1,"[2, 1, 1515.3969]","[2, 2, 0.0]","[2, 3, nan]","[2, 4, 226.2499]","[2, 5, nan]","[2, 6, nan]","[2, 7, 700.3509]","[2, 8, 605.4764]","[2, 9, 701.6488]","[2, 10, nan]",...,"[2, 4932, 2227.8388]","[2, 4933, 2077.4211]","[2, 4964, 2081.8431]","[2, 4967, nan]","[2, 4970, nan]","[2, 4979, nan]","[2, 4984, nan]","[2, 4995, nan]","[2, 4999, nan]","[2, 9953, 398.2385]"
2,"[3, 1, nan]","[3, 2, nan]","[3, 3, nan]","[3, 4, nan]","[3, 5, nan]","[3, 6, nan]","[3, 7, nan]","[3, 8, nan]","[3, 9, nan]","[3, 10, nan]",...,"[3, 4932, nan]","[3, 4933, nan]","[3, 4964, nan]","[3, 4967, nan]","[3, 4970, nan]","[3, 4979, nan]","[3, 4984, nan]","[3, 4995, nan]","[3, 4999, nan]","[3, 9953, nan]"

In [119]:
l_str_dis_tuple

[(4999, 1, 1825.6769),
 (4999, 2, 398.2385),
 (4999, 3, nan),
 (4999, 4, 612.6175),
 (4999, 5, nan),
 (4999, 6, nan),
 (4999, 7, 750.2526),
 (4999, 8, 928.3711),
 (4999, 9, 785.6855),
 (4999, 10, nan),
 (4999, 11, nan),
 (4999, 12, nan),
 (4999, 13, 382.459),
 (4999, 14, 403.1102),
 (4999, 15, nan),
 (4999, 17, nan),
 (4999, 18, nan),
 (4999, 19, 907.8385),
 (4999, 20, 750.0924),
 (4999, 21, nan),
 (4999, 22, nan),
 (4999, 23, 646.3279),
 (4999, 24, 752.0524),
 (4999, 25, nan),
 (4999, 27, nan),
 (4999, 28, nan),
 (4999, 29, 927.7882),
 (4999, 30, nan),
 (4999, 33, nan),
 (4999, 34, 1079.8451),
 (4999, 35, nan),
 (4999, 37, 866.0897),
 (4999, 38, 886.9749),
 (4999, 39, nan),
 (4999, 40, nan),
 (4999, 41, 916.4524),
 (4999, 42, nan),
 (4999, 43, 751.4245),
 (4999, 45, 391.3062),
 (4999, 46, 385.0551),
 (4999, 47, nan),
 (4999, 52, nan),
 (4999, 54, 1810.745),
 (4999, 56, 1813.2452),
 (4999, 57, 2781.9296),
 (4999, 58, nan),
 (4999, 59, 1807.5536),
 (4999, 60, 892.4953),
 (4999, 61, 385.2786),
 (4999, 62, 898.0345),
 (4999, 63, 1838.5121),
 (4999, 64, 919.0492),
 (4999, 65, 946.9247),
 (4999, 66, 944.1113),
 (4999, 67, 969.4827),
 (4999, 68, 1818.3117),
 (4999, 70, 1437.6012),
 (4999, 74, 1826.8436),
 (4999, 76, 1851.286),
 (4999, 77, 1818.2373),
 (4999, 78, 1293.9109),
 (4999, 80, nan),
 (4999, 81, nan),
 (4999, 83, nan),
 (4999, 86, nan),
 (4999, 89, 392.0139),
 (4999, 90, 382.6159),
 (4999, 91, 584.897),
 (4999, 92, 1838.8949),
 (4999, 93, 407.7364),
 (4999, 95, 1828.7232),
 (4999, 100, 929.9323),
 (4999, 101, 507.5098),
 (4999, 102, 750.9851),
 (4999, 103, 495.2979),
 (4999, 104, nan),
 (4999, 105, nan),
 (4999, 106, 1439.3467),
 (4999, 107, 2423.877),
 (4999, 108, 332.6936),
 (4999, 109, nan),
 (4999, 110, 354.5502),
 (4999, 111, 115.015),
 (4999, 112, nan),
 (4999, 113, 2652.0607),
 (4999, 114, 2496.6384),
 (4999, 115, 646.8084),
 (4999, 116, nan),
 (4999, 117, 2548.2387),
 (4999, 118, 383.0535),
 (4999, 119, 506.538),
 (4999, 120, 1784.2382),
 (4999, 121, 2580.8786),
 (4999, 122, nan),
 (4999, 123, 1818.6862),
 (4999, 124, 2424.1777),
 (4999, 125, 693.2013),
 (4999, 126, nan),
 (4999, 127, 1843.5525),
 (4999, 128, 2392.4402),
 (4999, 129, nan),
 (4999, 130, 566.972),
 (4999, 131, 507.6281),
 (4999, 132, nan),
 (4999, 133, 1129.8287),
 (4999, 134, nan),
 (4999, 135, nan),
 (4999, 136, 931.6924),
 (4999, 137, nan),
 (4999, 138, 656.1454),
 (4999, 139, 935.1971),
 (4999, 140, 335.0414),
 (4999, 141, 934.7737),
 (4999, 142, nan),
 (4999, 143, nan),
 (4999, 144, nan),
 (4999, 145, 654.5118),
 (4999, 146, 1303.4799),
 (4999, 147, 2504.3293),
 (4999, 148, nan),
 (4999, 149, nan),
 (4999, 150, 1303.295),
 (4999, 151, nan),
 (4999, 152, nan),
 (4999, 153, 332.9488),
 (4999, 154, 505.1703),
 (4999, 155, 396.6812),
 (4999, 156, 507.6461),
 (4999, 157, 1831.8355),
 (4999, 158, 341.385),
 (4999, 159, nan),
 (4999, 160, 502.4096),
 (4999, 161, nan),
 (4999, 162, 504.5002),
 (4999, 163, 2673.7781),
 (4999, 164, nan),
 (4999, 165, nan),
 (4999, 166, 495.0929),
 (4999, 167, 1314.4839),
 (4999, 168, nan),
 (4999, 169, 506.6904),
 (4999, 170, 354.1024),
 (4999, 171, 679.8083),
 (4999, 172, 1141.645),
 (4999, 173, nan),
 (4999, 174, 625.4614),
 (4999, 176, 492.0421),
 (4999, 177, 504.2471),
 (4999, 178, nan),
 (4999, 180, 500.3135),
 (4999, 181, 630.3174),
 (4999, 182, 506.8135),
 (4999, 183, 707.9282),
 (4999, 184, 504.7306),
 (4999, 185, 1809.6488),
 (4999, 186, nan),
 (4999, 187, nan),
 (4999, 188, nan),
 (4999, 189, 507.6448),
 (4999, 190, 66.8435),
 (4999, 191, 340.364),
 (4999, 192, 2482.0654),
 (4999, 193, nan),
 (4999, 194, nan),
 (4999, 196, nan),
 (4999, 197, 635.0136),
 (4999, 199, 506.538),
 (4999, 200, nan),
 (4999, 201, 2419.8549),
 (4999, 202, 1833.5222),
 (4999, 203, 2420.0604),
 (4999, 204, 2417.7631),
 (4999, 205, 2410.7674),
 (4999, 206, 729.0055),
 (4999, 207, 2413.6553),
 (4999, 208, 373.9389),
 (4999, 210, 1105.9675),
 (4999, 211, 2421.7472),
 (4999, 212, 382.0535),
 (4999, 213, 607.7526),
 (4999, 214, nan),
 (4999, 215, 2413.3103),
 (4999, 216, nan),
 (4999, 217, 284.978),
 (4999, 218, 1633.0773),
 (4999, 219, nan),
 (4999, 220, 2364.9216),
 (4999, 221, 1336.6787),
 (4999, 222, 2580.3245),
 (4999, 223, 1454.4407),
 (4999, 224, nan),
 (4999, 225, 607.7666),
 (4999, 226, 1446.5446),
 (4999, 227, 494.3362),
 (4999, 228, 607.2203),
 (4999, 229, 706.9196),
 (4999, 230, nan),
 (4999, 232, 1427.4885),
 (4999, 234, nan),
 (4999, 235, nan),
 (4999, 236, 609.6724),
 (4999, 237, 2541.204),
 (4999, 238, 651.8585),
 (4999, 239, 652.2541),
 (4999, 240, 617.6941),
 (4999, 241, 652.241),
 (4999, 242, 928.3027),
 (4999, 243, nan),
 (4999, 244, 922.5943),
 (4999, 245, 570.7212),
 (4999, 246, 728.3775),
 (4999, 247, 640.8825),
 (4999, 248, nan),
 (4999, 249, 579.2156),
 (4999, 250, 727.9822),
 (4999, 251, nan),
 (4999, 252, 604.4238),
 (4999, 253, 653.1406),
 (4999, 254, 741.0696),
 (4999, 255, nan),
 (4999, 256, 140.5495),
 (4999, 257, 620.5935),
 (4999, 258, 726.0915),
 (4999, 259, 749.5078),
 (4999, 260, 1652.4826),
 (4999, 261, nan),
 (4999, 262, 163.6799),
 (4999, 263, 1455.3631),
 (4999, 264, 1812.5881),
 (4999, 265, nan),
 (4999, 266, 694.3092),
 (4999, 267, nan),
 (4999, 268, nan),
 (4999, 269, 1447.0195),
 (4999, 270, nan),
 (4999, 271, 2420.1115),
 (4999, 272, 780.6245),
 (4999, 273, 191.1096),
 (4999, 274, 572.0005),
 (4999, 275, nan),
 (4999, 276, 387.3641),
 (4999, 277, nan),
 (4999, 278, nan),
 (4999, 279, nan),
 (4999, 280, nan),
 (4999, 281, 2421.2526),
 (4999, 282, nan),
 (4999, 283, 1811.4055),
 (4999, 284, nan),
 (4999, 285, 526.8807),
 (4999, 288, 1975.265),
 (4999, 289, 786.4325),
 (4999, 290, nan),
 (4999, 291, 2500.4561),
 (4999, 292, nan),
 (4999, 293, 2528.6967),
 (4999, 294, 2544.0359),
 (4999, 295, nan),
 (4999, 296, nan),
 (4999, 297, 541.1317),
 (4999, 298, nan),
 (4999, 299, nan),
 (4999, 300, nan),
 (4999, 301, nan),
 (4999, 302, 143.5562),
 (4999, 303, 1830.1604),
 (4999, 304, nan),
 (4999, 305, nan),
 (4999, 306, nan),
 (4999, 307, 606.8455),
 (4999, 308, 32.7201),
 (4999, 309, 10.8013),
 (4999, 311, 441.3275),
 (4999, 312, nan),
 (4999, 313, 25.1613),
 (4999, 314, 159.219),
 (4999, 315, 315.9479),
 (4999, 316, 30.0109),
 (4999, 317, nan),
 (4999, 318, 281.2232),
 (4999, 319, 446.0146),
 (4999, 320, 944.2685),
 (4999, 321, nan),
 (4999, 322, 912.9606),
 (4999, 323, 230.8009),
 (4999, 324, nan),
 (4999, 325, 227.8105),
 (4999, 326, 2568.6553),
 (4999, 328, 920.4632),
 (4999, 329, 660.1267),
 (4999, 330, 921.4578),
 (4999, 331, 277.0126),
 (4999, 332, 389.7949),
 (4999, 333, 609.1494),
 (4999, 335, 604.55),
 (4999, 336, 228.7577),
 (4999, 337, 760.9314),
 (4999, 338, nan),
 (4999, 339, 553.9205),
 (4999, 340, nan),
 (4999, 341, nan),
 (4999, 342, 725.9539),
 (4999, 344, nan),
 (4999, 347, nan),
 (4999, 348, nan),
 (4999, 350, 779.3601),
 (4999, 351, nan),
 (4999, 352, nan),
 (4999, 353, 501.1444),
 (4999, 354, nan),
 (4999, 355, 264.7247),
 (4999, 357, 253.4401),
 (4999, 358, 228.7476),
 (4999, 359, 306.3737),
 (4999, 360, 689.9308),
 (4999, 362, nan),
 (4999, 363, nan),
 (4999, 364, nan),
 (4999, 366, nan),
 (4999, 368, nan),
 (4999, 369, 295.9764),
 (4999, 371, 585.2108),
 (4999, 372, nan),
 (4999, 373, nan),
 (4999, 374, nan),
 (4999, 376, nan),
 (4999, 377, nan),
 (4999, 378, nan),
 (4999, 379, 334.5319),
 (4999, 382, 539.2727),
 (4999, 383, 672.4696),
 (4999, 385, 776.0072),
 (4999, 386, 455.7714),
 (4999, 387, 320.8049),
 (4999, 388, nan),
 (4999, 389, 330.6869),
 (4999, 390, 897.3437),
 (4999, 391, nan),
 (4999, 393, 294.7318),
 (4999, 394, 545.9654),
 (4999, 397, 313.8546),
 (4999, 398, nan),
 (4999, 400, nan),
 (4999, 401, 728.4945),
 (4999, 402, 732.0942),
 (4999, 403, 689.0157),
 (4999, 404, nan),
 (4999, 405, 2152.017),
 (4999, 406, 543.321),
 (4999, 407, 516.6878),
 (4999, 408, nan),
 (4999, 409, nan),
 (4999, 410, nan),
 (4999, 411, 674.3924),
 (4999, 412, 503.3443),
 (4999, 413, 620.9195),
 (4999, 414, 698.2343),
 (4999, 415, nan),
 (4999, 416, 765.4114),
 (4999, 417, 1338.8544),
 (4999, 418, 2672.3852),
 (4999, 419, 677.4965),
 (4999, 420, 444.4894),
 (4999, 421, 2410.9495),
 (4999, 422, 655.4116),
 (4999, 423, nan),
 (4999, 424, 564.5617),
 (4999, 425, 582.5748),
 (4999, 426, 2672.7954),
 (4999, 428, nan),
 (4999, 429, nan),
 (4999, 430, 539.6195),
 (4999, 431, 2672.5608),
 (4999, 432, nan),
 (4999, 433, 895.3643),
 (4999, 434, nan),
 (4999, 435, 678.3952),
 (4999, 437, nan),
 (4999, 438, nan),
 (4999, 440, 2692.1279),
 (4999, 441, 2667.4203),
 (4999, 442, 693.7298),
 (4999, 443, 708.8678),
 (4999, 444, nan),
 (4999, 445, nan),
 (4999, 446, nan),
 (4999, 448, nan),
 (4999, 450, 682.8938),
 (4999, 452, 781.2421),
 (4999, 453, 677.1296),
 (4999, 454, 311.8046),
 (4999, 458, 701.1701),
 (4999, 459, nan),
 (4999, 460, 380.1187),
 (4999, 461, 803.0846),
 (4999, 462, 619.087),
 (4999, 464, nan),
 (4999, 465, 75.7795),
 (4999, 466, 685.6268),
 (4999, 467, nan),
 (4999, 468, nan),
 (4999, 469, 703.4139),
 (4999, 470, 673.1667),
 (4999, 471, nan),
 (4999, 472, nan),
 (4999, 473, nan),
 (4999, 474, 711.0881),
 (4999, 475, 680.0942),
 (4999, 476, nan),
 (4999, 477, nan),
 (4999, 478, 707.1085),
 (4999, 479, 722.4531),
 (4999, 481, nan),
 (4999, 482, nan),
 (4999, 483, nan),
 (4999, 484, 2656.0928),
 (4999, 485, 699.2873),
 (4999, 486, nan),
 (4999, 488, nan),
 (4999, 489, nan),
 (4999, 490, nan),
 (4999, 491, nan),
 (4999, 492, 688.2241),
 (4999, 493, nan),
 (4999, 494, 656.019),
 (4999, 495, 2668.1959),
 (4999, 496, nan),
 (4999, 497, 694.8438),
 (4999, 498, 658.2148),
 (4999, 500, 464.4813),
 (4999, 501, 335.3222),
 (4999, 502, 618.3903),
 (4999, 503, nan),
 (4999, 504, nan),
 (4999, 505, nan),
 (4999, 506, 529.582),
 (4999, 507, 442.2155),
 (4999, 508, 534.5227),
 (4999, 509, nan),
 (4999, 510, 352.6495),
 (4999, 511, nan),
 (4999, 512, nan),
 (4999, 513, 444.6863),
 (4999, 514, nan),
 (4999, 515, 389.698),
 (4999, 516, nan),
 (4999, 517, 706.596),
 (4999, 518, 526.6808),
 (4999, 519, nan),
 (4999, 520, 2022.0914),
 (4999, 521, nan),
 (4999, 522, 652.8971),
 (4999, 523, 349.8241),
 (4999, 524, 348.9543),
 (4999, 525, 323.7893),
 (4999, 526, nan),
 (4999, 527, 363.4461),
 (4999, 528, nan),
 (4999, 529, nan),
 (4999, 530, 2567.3526),
 (4999, 531, 663.5624),
 (4999, 532, nan),
 (4999, 533, nan),
 (4999, 534, 721.8921),
 (4999, 535, 697.3048),
 (4999, 536, 540.5652),
 (4999, 537, nan),
 (4999, 538, 720.0807),
 (4999, 539, nan),
 (4999, 540, 200.1921),
 (4999, 541, 663.9205),
 (4999, 542, nan),
 (4999, 543, nan),
 (4999, 544, nan),
 (4999, 545, nan),
 (4999, 546, 1305.1104),
 (4999, 547, 646.2565),
 (4999, 548, nan),
 (4999, 549, nan),
 (4999, 550, nan),
 (4999, 551, nan),
 (4999, 552, nan),
 (4999, 553, nan),
 (4999, 554, nan),
 (4999, 555, nan),
 (4999, 556, nan),
 (4999, 557, nan),
 (4999, 558, nan),
 (4999, 559, nan),
 (4999, 560, nan),
 (4999, 561, nan),
 (4999, 562, nan),
 (4999, 563, nan),
 (4999, 564, nan),
 (4999, 565, nan),
 (4999, 566, nan),
 (4999, 567, nan),
 (4999, 568, 67.9897),
 (4999, 569, nan),
 (4999, 570, nan),
 (4999, 571, nan),
 (4999, 572, nan),
 (4999, 573, nan),
 (4999, 574, nan),
 (4999, 575, nan),
 (4999, 576, nan),
 (4999, 577, nan),
 (4999, 578, nan),
 (4999, 579, nan),
 (4999, 580, nan),
 (4999, 581, nan),
 (4999, 582, nan),
 (4999, 583, nan),
 (4999, 584, nan),
 (4999, 585, nan),
 (4999, 586, nan),
 (4999, 587, nan),
 (4999, 588, nan),
 (4999, 589, nan),
 (4999, 590, nan),
 (4999, 591, nan),
 (4999, 592, nan),
 (4999, 593, nan),
 (4999, 594, nan),
 (4999, 595, nan),
 (4999, 596, nan),
 (4999, 597, nan),
 (4999, 598, nan),
 (4999, 599, nan),
 (4999, 600, nan),
 (4999, 601, nan),
 (4999, 602, nan),
 (4999, 603, nan),
 (4999, 604, nan),
 (4999, 605, nan),
 (4999, 606, nan),
 (4999, 607, nan),
 (4999, 608, nan),
 (4999, 609, nan),
 (4999, 610, nan),
 (4999, 611, nan),
 (4999, 612, nan),
 (4999, 613, nan),
 (4999, 614, nan),
 (4999, 615, nan),
 (4999, 616, nan),
 (4999, 617, nan),
 (4999, 618, nan),
 (4999, 619, nan),
 (4999, 620, nan),
 (4999, 621, nan),
 (4999, 622, nan),
 (4999, 623, nan),
 (4999, 624, nan),
 (4999, 625, nan),
 (4999, 626, nan),
 (4999, 627, nan),
 (4999, 628, nan),
 (4999, 629, nan),
 (4999, 630, nan),
 (4999, 631, 848.4899),
 (4999, 632, nan),
 (4999, 634, nan),
 (4999, 635, nan),
 (4999, 636, nan),
 (4999, 637, nan),
 (4999, 638, nan),
 (4999, 639, nan),
 (4999, 640, nan),
 (4999, 641, nan),
 (4999, 642, nan),
 (4999, 645, nan),
 (4999, 649, nan),
 (4999, 653, nan),
 (4999, 654, nan),
 (4999, 659, nan),
 (4999, 660, nan),
 (4999, 661, nan),
 (4999, 662, nan),
 (4999, 664, nan),
 (4999, 665, nan),
 (4999, 667, nan),
 (4999, 668, nan),
 (4999, 669, nan),
 (4999, 670, nan),
 (4999, 671, nan),
 (4999, 672, nan),
 (4999, 673, nan),
 (4999, 674, nan),
 (4999, 675, nan),
 (4999, 676, nan),
 (4999, 677, 2656.0411),
 (4999, 678, nan),
 (4999, 679, 1305.2325),
 (4999, 680, nan),
 (4999, 682, 962.4331),
 (4999, 683, 758.7183),
 (4999, 684, nan),
 (4999, 685, 1446.511),
 (4999, 686, 2659.9681),
 (4999, 687, 20.5202),
 (4999, 688, nan),
 (4999, 689, 1155.7463),
 (4999, 690, 2738.2372),
 (4999, 691, 22.4688),
 (4999, 692, 1022.336),
 (4999, 693, 2413.4004),
 (4999, 694, 23.3437),
 (4999, 695, 32.8066),
 (4999, 696, 1446.1545),
 (4999, 697, 14.7624),
 (4999, 698, nan),
 (4999, 699, 340.1868),
 (4999, 700, 24.7591),
 (4999, 701, 405.6986),
 (4999, 702, 418.259),
 (4999, 703, nan),
 (4999, 704, 444.6107),
 (4999, 705, nan),
 (4999, 706, nan),
 (4999, 707, 439.1186),
 (4999, 708, 414.3406),
 (4999, 709, 1826.9092),
 (4999, 710, 438.2483),
 (4999, 711, nan),
 (4999, 712, 1829.808),
 (4999, 713, 66.0379),
 (4999, 714, 1860.5172),
 (4999, 715, nan),
 (4999, 716, 1448.6642),
 (4999, 717, 1720.91),
 (4999, 718, nan),
 (4999, 719, 1784.9886),
 (4999, 720, 2022.2172),
 (4999, 721, 2479.1994),
 (4999, 722, 957.4787),
 (4999, 723, 441.1177),
 (4999, 724, 354.2337),
 (4999, 725, 429.5127),
 (4999, 726, 2499.7863),
 (4999, 727, 435.6553),
 (4999, 728, 361.0828),
 (4999, 730, 2469.2647),
 (4999, 731, nan),
 (4999, 732, nan),
 (4999, 733, 406.498),
 (4999, 734, 391.7465),
 (4999, 735, 386.4772),
 (4999, 737, nan),
 (4999, 738, 437.3788),
 (4999, 739, 27.0519),
 (4999, 740, 405.2979),
 (4999, 741, 27.9496),
 (4999, 742, 29.8186),
 (4999, 743, 2414.9112),
 (4999, 744, nan),
 (4999, 745, 399.0466),
 (4999, 746, nan),
 (4999, 747, 22.5663),
 (4999, 748, nan),
 (4999, 749, nan),
 (4999, 750, nan),
 (4999, 751, nan),
 (4999, 752, nan),
 (4999, 753, nan),
 (4999, 754, nan),
 (4999, 756, 2486.6186),
 (4999, 757, 444.4737),
 (4999, 758, nan),
 (4999, 759, 28.4705),
 (4999, 760, 432.7714),
 (4999, 761, 75.1898),
 (4999, 762, 63.0895),
 (4999, 763, 24.0187),
 (4999, 764, 363.587),
 (4999, 767, 26.8239),
 (4999, 768, 7.8162),
 (4999, 769, 2499.4242),
 (4999, 770, 427.0272),
 (4999, 771, nan),
 (4999, 772, 424.9136),
 (4999, 773, nan),
 (4999, 774, 27.6287),
 (4999, 775, 1782.5475),
 (4999, 776, 2551.4784),
 (4999, 777, 27.5044),
 (4999, 778, 2505.0528),
 (4999, 779, nan),
 (4999, 780, nan),
 (4999, 781, 22.4221),
 (4999, 782, nan),
 (4999, 783, nan),
 (4999, 784, nan),
 (4999, 785, nan),
 (4999, 786, nan),
 (4999, 787, 2502.0698),
 (4999, 788, 35.537),
 (4999, 789, nan),
 (4999, 790, 12.358),
 (4999, 792, nan),
 (4999, 793, 247.2689),
 (4999, 796, nan),
 (4999, 797, 9.2013),
 (4999, 798, 377.3338),
 (4999, 799, 49.3505),
 (4999, 801, 771.9046),
 (4999, 802, 350.0537),
 (4999, 803, 936.8404),
 (4999, 804, 923.0282),
 (4999, 806, 2471.5772),
 (4999, 807, 337.1345),
 (4999, 808, 2481.4668),
 (4999, 809, nan),
 (4999, 810, 2461.2575),
 (4999, 811, nan),
 (4999, 812, 932.6324),
 (4999, 813, nan),
 (4999, 814, nan),
 (4999, 815, nan),
 (4999, 816, nan),
 (4999, 817, nan),
 (4999, 819, 347.4471),
 (4999, 820, 2466.1374),
 (4999, 821, 2531.3607),
 (4999, 822, 2492.2418),
 (4999, 823, 1127.388),
 (4999, 824, nan),
 (4999, 825, 359.6036),
 (4999, 826, nan),
 (4999, 828, 2473.4445),
 (4999, 830, 2535.564),
 (4999, 831, 2538.2691),
 (4999, 832, 997.9144),
 (4999, 833, nan),
 (4999, 835, 934.7693),
 (4999, 836, nan),
 (4999, 837, nan),
 (4999, 839, nan),
 (4999, 840, nan),
 (4999, 841, nan),
 (4999, 845, nan),
 (4999, 849, 2462.7278),
 (4999, 852, nan),
 (4999, 853, 2412.3478),
 (4999, 854, 343.2243),
 (4999, 855, 2424.6965),
 (4999, 858, 932.4985),
 (4999, 859, nan),
 (4999, 860, nan),
 (4999, 862, 925.1161),
 (4999, 866, 2417.8813),
 (4999, 870, nan),
 (4999, 871, nan),
 (4999, 872, nan),
 (4999, 874, nan),
 (4999, 876, nan),
 (4999, 878, nan),
 (4999, 879, 931.0479),
 (4999, 881, 926.1928),
 (4999, 882, nan),
 (4999, 885, 924.8889),
 (4999, 886, 2413.9571),
 (4999, 890, nan),
 (4999, 892, 928.0897),
 (4999, 893, nan),
 (4999, 895, nan),
 (4999, 896, 2500.9716),
 (4999, 897, 726.406),
 (4999, 899, 939.1088),
 (4999, 901, nan),
 (4999, 902, 20.5047),
 (4999, 903, nan),
 (4999, 904, 48.9013),
 (4999, 905, 876.183),
 (4999, 907, 2408.3141),
 (4999, 908, 17.1357),
 (4999, 909, 29.8633),
 (4999, 910, 8.5579),
 (4999, 911, nan),
 (4999, 912, nan),
 (4999, 913, 46.0084),
 (4999, 914, nan),
 (4999, 915, 32.0861),
 (4999, 916, nan),
 (4999, 917, 15.5779),
 (4999, 918, 61.7844),
 (4999, 919, nan),
 (4999, 920, 900.852),
 (4999, 922, 866.3311),
 (4999, 923, 2416.4779),
 (4999, 924, 873.9343),
 (4999, 925, nan),
 (4999, 926, 26.9134),
 (4999, 927, nan),
 (4999, 928, 18.1719),
 (4999, 929, 21.5658),
 (4999, 930, nan),
 (4999, 931, nan),
 (4999, 932, 40.0258),
 (4999, 933, 69.0972),
 (4999, 934, 975.6666),
 (4999, 935, 926.2646),
 (4999, 936, 17.1033),
 (4999, 937, 866.3249),
 (4999, 938, nan),
 (4999, 939, 22.3342),
 (4999, 940, 637.3815),
 (4999, 941, nan),
 (4999, 942, 2378.9104),
 (4999, 943, nan),
 (4999, 945, 2406.0306),
 (4999, 946, 2538.243),
 (4999, 948, 24.2398),
 (4999, 949, 2552.175),
 (4999, 950, nan),
 (4999, 951, 17.0426),
 (4999, 952, 2469.1442),
 (4999, 953, nan),
 (4999, 954, 304.9303),
 (4999, 955, 20.2187),
 (4999, 956, nan),
 (4999, 957, 2415.7382),
 (4999, 958, 648.029),
 (4999, 959, 732.9176),
 (4999, 960, 719.8437),
 (4999, 961, 726.7505),
 (4999, 962, 12.1287),
 (4999, 963, 731.5652),
 (4999, 964, 27.8072),
 (4999, 965, 140.6323),
 (4999, 966, 632.4051),
 (4999, 967, 19.2191),
 (4999, 968, 32.2642),
 (4999, 969, 14.489),
 (4999, 970, 23.0889),
 (4999, 971, 8.3431),
 (4999, 972, 20.1625),
 (4999, 974, 613.9913),
 (4999, 975, 232.0214),
 (4999, 976, nan),
 (4999, 977, 582.4766),
 (4999, 978, 157.0428),
 (4999, 979, 44.9227),
 (4999, 980, nan),
 (4999, 981, 645.1065),
 (4999, 982, 5.9049),
 (4999, 983, 107.8025),
 (4999, 984, 95.3387),
 (4999, 985, 30.7525),
 (4999, 986, 894.4328),
 (4999, 987, 27.4298),
 (4999, 988, 24.3027),
 (4999, 989, nan),
 (4999, 990, nan),
 (4999, 991, 611.1568),
 (4999, 992, 2510.3846),
 (4999, 993, 11.3653),
 (4999, 994, 12.4137),
 (4999, 995, 27.9948),
 (4999, 996, 2535.564),
 (4999, 997, 30.5192),
 (4999, 998, 81.2479),
 (4999, 999, 21.1294),
 (4999, 1001, 1609.3391),
 (4999, 1002, nan),
 (4999, 1004, 2482.7456),
 (4999, 1006, 968.625),
 (4999, 1008, 1830.5439),
 (4999, 1009, nan),
 (4999, 1010, 749.3726),
 (4999, 1011, 1604.6721),
 (4999, 1012, 1602.0138),
 (4999, 1013, nan),
 (4999, 1014, 1826.7169),
 (4999, 1015, nan),
 (4999, 1016, nan),
 (4999, 1017, 1593.6234),
 (4999, 1018, 1824.4093),
 (4999, 1019, nan),
 (4999, 1020, nan),
 (4999, 1021, nan),
 (4999, 1022, nan),
 (4999, 1023, nan),
 (4999, 1024, nan),
 (4999, 1025, 1598.8415),
 (4999, 1026, nan),
 (4999, 1028, 1820.5241),
 (4999, 1029, 1630.2566),
 (4999, 1030, nan),
 (4999, 1031, 1662.124),
 (4999, 1032, 1824.9468),
 (4999, 1033, nan),
 (4999, 1034, 1608.9143),
 (4999, 1035, 1598.761),
 (4999, 1036, 1599.8955),
 (4999, 1037, 1602.2335),
 (4999, 1038, 927.2844),
 (4999, 1039, nan),
 (4999, 1040, nan),
 (4999, 1041, nan),
 (4999, 1043, 1638.8363),
 (4999, 1044, 1822.8056),
 (4999, 1045, 936.4983),
 (4999, 1047, 533.2809),
 (4999, 1048, 2414.8174),
 (4999, 1049, 1637.5375),
 (4999, 1050, nan),
 (4999, 1051, 1828.9882),
 (4999, 1052, 1822.3339),
 (4999, 1053, nan),
 (4999, 1054, 2538.2633),
 (4999, 1055, nan),
 (4999, 1056, 1822.9615),
 (4999, 1057, 1618.9638),
 (4999, 1058, 2536.474),

In [133]:
df_dist = pd.DataFrame(a_str_dis, columns =['fac_nbr', 'str_id', 'distance'])

In [134]:
df_dist .head(30)

    fac_nbr  str_id   distance
0         1       1     0.0000
1         1       2  1515.3969
2         1       3        NaN
3         1       4  1438.8518
4         1       5        NaN
5         1       6        NaN
6         1       7  1254.2021
7         1       8   910.8979
8         1       9  1188.9415
9         1      10        NaN
10        1      11        NaN
11        1      12        NaN
12        1      13  1524.9841
13        1      14  1511.6606
14        1      15        NaN
15        1      17        NaN
16        1      18        NaN
17        1      19  1116.2850
18        1      20  1329.7978
19        1      21        NaN
20        1      22        NaN
21        1      23  1437.8323
22        1      24  1328.2048
23        1      25        NaN
24        1      27        NaN
25        1      28        NaN
26        1      29   910.2298
27        1      30        NaN
28        1      33        NaN
29        1      34   891.2400

In [141]:
df_dist.shape

(3429, 3)

In [142]:
len(a_str_dis)

11758041

In [20]:
len(l_dis)

3429

In [22]:
df_dist.head(30)

    fac_nbr  str_id   distance
0         1       1     0.0000
1         1       2  1515.3969
2         1       3        NaN
3         1       4  1438.8518
4         1       5        NaN
5         1       6        NaN
6         1       7  1254.2021
7         1       8   910.8979
8         1       9  1188.9415
9         1      10        NaN
10        1      11        NaN
11        1      12        NaN
12        1      13  1524.9841
13        1      14  1511.6606
14        1      15        NaN
15        1      17        NaN
16        1      18        NaN
17        1      19  1116.2850
18        1      20  1329.7978
19        1      21        NaN
20        1      22        NaN
21        1      23  1437.8323
22        1      24  1328.2048
23        1      25        NaN
24        1      27        NaN
25        1      28        NaN
26        1      29   910.2298
27        1      30        NaN
28        1      33        NaN
29        1      34   891.2400